Repository microsoft/botframework-components, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: DevOps, Area: Docs, Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

.github/labeler.yml:

"Area: DevOps":
 - build/**/*

"Area: Docs":
 - docs/**/*

"Area: Generators: Adaptive":
 - generators/generator-bot-adaptive/**/*

"Area: Generators: Core Assistant":
 - generators/generator-bot-core-assistant/**/*

"Area: Generators: Core Language":
 - generators/generator-bot-core-language/**/*

"Area: Generators: Core QnA":
 - generators/generator-bot-core-qna/**/*

"Area: Generators: Empty":
 - generators/generator-bot-empty/**/*

"Area: Generators: Enterprise Assistant":
 - generators/generator-bot-enterprise-assistant/**/*

"Area: Generators: Enterprise Calendar":
 - generators/generator-bot-enterprise-calendar/**/*

"Area: Generators: Enterprise People":
 - generators/generator-bot-enterprise-people/**/*

"Area: Packages: Adaptive Cards":
 - packages/AdaptiveCards/**/*

"Area: Packages: Graph":
 - packages/Graph/**/*

"Area: Packages: Help & Cancel":
 - packages/HelpAndCancel/**/*

"Area: Packages: Teams":
 - packages/Teams/**/*

"Area: Packages: Welcome":
 - packages/Welcome/**/*

"Area: Packages: CQA":
 - packages/Recognizers/CustomQuestionAnswering/**/*

Update Skills to NET6 (#1397)
  build/yaml/pipelines/adaptivecards.yml
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/people.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/teams-js.yml
  build/yaml/pipelines/teams.yml
  build/yaml/pipelines/telephony.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/dotnet-build-test-steps.yml
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Deployment/Scripts/publish.ps1
  skills/csharp/emailskill/Deployment/Scripts/publish.ps1
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/pointofinterestskill/Deployment/Scripts/publish.ps1
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/shared/SkillServiceLibrary/SkillServiceLibrary.csproj
  skills/csharp/tests/SkillServiceLibrary.Fakes/SkillServiceLibrary.Fakes.csproj
  skills/csharp/tests/SkillServiceLibrary.Tests/SkillServiceLibrary.Tests.csproj
  skills/csharp/tests/automotiveskill.tests/AutomotiveSkill.Tests.csproj
  skills/csharp/tests/calendarskill.tests/CalendarSkill.Tests.csproj
  skills/csharp/tests/emailskill.tests/EmailSkill.Tests.csproj
  skills/csharp/tests/pointofinterestskill.tests/PointOfInterestSkill.Tests.csproj
  skills/csharp/tests/todoskill.tests/ToDoSkill.Tests.csproj
  skills/csharp/todoskill/Deployment/Scripts/publish.ps1
  skills/csharp/todoskill/ToDoSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/scripts/deploy.ps1
  skills/declarative/People/People/People.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: Area: DevOps

Update Experimental skills to NET6 (#1398)
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/automotiveskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/bingsearchskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/eventskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/hospitalityskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/itsmskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/musicskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/newsskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/phoneskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/restaurantbookingskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/tests/hospitalityskill.tests/HospitalitySkill.Tests.csproj
  skills/csharp/tests/itsmskill.tests/ITSMSkill.Tests.csproj
  skills/csharp/tests/musicskill.Tests/MusicSkill.Tests.csproj
  skills/csharp/tests/phoneskill.tests/PhoneSkill.Tests.csproj
  skills/csharp/tests/weatherSkill.tests/WeatherSkill.Tests.csproj
Labels: none

Update funtional tests to NET6 (#1399)
  build/arm/template-function-dotnet-bot-resources.json
  build/arm/template-function-js-bot-resources.json
  build/yaml/functional/cleanupResources/cleanupResources.yml
  build/yaml/functional/deployBotResources/deployBotResources.yml
  build/yaml/functional/sharedResources/createSharedResources.yml
  build/yaml/functional/testScenarios/runScenario.yml
  build/yaml/functional/testScenarios/runTestScenarios.yml
  build/yaml/pipelines/functionaltests.yml
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Tests/ComponentsFunctionalTests/ComponentsFunctionalTests.csproj
  tests/functional/Tests/TranscriptTestRunnerTests/TranscriptTestRunnerTests.csproj
Labels: Area: DevOps

Generator updates to SDK 4.19
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Teams/js/package.json
Labels: Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Help & Cancel, Area: Packages: Welcome

Updated package.json SDK references
  packages/Teams/js/package.json
  yarn.lock
Labels: Area: Packages: Teams

[CVE-2022-0144] Upgrade shelljs from 0.8.4 to 0.8.5
  package.json
  yarn.lock
Labels: none

[CVE-2022-24999] Upgrade qs from 6.5.2 to 6.5.3
  package.json
  yarn.lock
Labels: none

[CVE-2022-24785] Upgrade moment from 2.29.1 to 2.29.2
  package.json
  yarn.lock
Labels: none

[CVE-2021-44906] Upgrade minimist from 1.2.5 to 1.2.6
  package.json
  skills/declarative/Calendar/Calendar/scripts/package.json
  skills/declarative/People/People/Scripts/package.json
  yarn.lock
Labels: none

[CVE-2021-3918] Upgrade json-schema from 0.2.3 to 0.4.0
  package.json
  yarn.lock
Labels: none

[CVE-2022-37616] Upgrade @xmldom/xmldom by updating botbuilder from 4.18.0 to 4.19.0
  packages/Teams/js/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Packages: Teams

[CVE-2020-28469, WS-2021-0153, WS-2022-29078] Upgrade glob-parent and ejs by updating yeoman-test from 1.9.1 to 6.0.0 and yeoman-generator from 2.0.5 to 5.7.0
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People

Restructured CQA package to allow for JS impl
  build/yaml/pipelines/cqa-js.yml
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/CustomQuestionAnswering/dotnet/CustomQuestionAnsweringRecognizerBotComponent.cs
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/dotnet/QuestionAnswering/CustomQuestionAnsweringRecognizer.cs
  packages/Recognizers/CustomQuestionAnswering/dotnet/README.md
  packages/Recognizers/CustomQuestionAnswering/dotnet/Schemas/Microsoft.CustomQuestionAnsweringRecognizer.schema
Labels: Area: DevOps, Area: Packages: CQA

Restructured CQA package to allow for JS impl (#1454)
  build/yaml/pipelines/cqa-js.yml
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/CustomQuestionAnswering/dotnet/CustomQuestionAnsweringRecognizerBotComponent.cs
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/dotnet/QuestionAnswering/CustomQuestionAnsweringRecognizer.cs
  packages/Recognizers/CustomQuestionAnswering/dotnet/README.md
  packages/Recognizers/CustomQuestionAnswering/dotnet/Schemas/Microsoft.CustomQuestionAnsweringRecognizer.schema
Labels: Area: DevOps, Area: Packages: CQA

Fix yarn.lock failure
  yarn.lock
Labels: none

Revert "Fix yarn.lock failure"
  yarn.lock
Labels: none

Added CQA package ported to node.js
  packages/Recognizers/CustomQuestionAnswering/js/.eslintrc.json
  packages/Recognizers/CustomQuestionAnswering/js/.gitignore
  packages/Recognizers/CustomQuestionAnswering/js/README.md
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Recognizers/CustomQuestionAnswering/js/schemas/custom-question-answering-recognizer.schema
  packages/Recognizers/CustomQuestionAnswering/js/src/CQABotComponent.ts
  packages/Recognizers/CustomQuestionAnswering/js/src/CQARecognizer.ts
  packages/Recognizers/CustomQuestionAnswering/js/src/index.ts
  packages/Recognizers/CustomQuestionAnswering/js/tsconfig.json
Labels: Area: Packages: CQA

Initial commit of CLU recognizer package.
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluApplication.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluConstants.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluDelegatingHandler.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluExtensions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerBotComponent.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptionsBase.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/DefaultHttpClientFactory.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/stylecop.json
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/stylecop.ruleset
Labels: none

Small fix in README file.
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: none

Remove redundant analyzers, sign the packages and add unit tests.
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/stylecop.json
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/stylecop.ruleset
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/CluApplicationTests.cs
  tests/unit/packages/Recognizers/dotnet/CluDelegatingHandlerTests.cs
  tests/unit/packages/Recognizers/dotnet/CluExtensionsTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsBaseTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsTests.cs
  tests/unit/packages/Recognizers/dotnet/DefaultHttpClientFactoryTests.cs
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: none

Added async library patched versions to resolutions
  package.json
  yarn.lock
Labels: none

Added async library patched versions to resolutions (#1464)
  package.json
  yarn.lock
Labels: none

fix: [#1445] Component Governance security vulnerability for shelljs 0.8.4 (#1455)
  package.json
  yarn.lock
Labels: none

Corrected package.json
  package.json
Labels: none

fix: [#1444] Component Governance security vulnerability for qs 6.5.2 (#1456)
  package.json
  yarn.lock
Labels: none

[CVE-2021-44906] Upgrade minimist from 1.2.5 to 1.2.6 (#1458)
  package.json
  skills/declarative/Calendar/Calendar/scripts/package.json
  skills/declarative/People/People/Scripts/package.json
  yarn.lock
Labels: none

[CVE-2022-24785] Upgrade moment from 2.29.1 to 2.29.2 (#1457)
  package.json
  yarn.lock
Labels: none

[CVE-2021-3918] Upgrade json-schema from 0.2.3 to 0.4.0 (#1459)
  package.json
  yarn.lock
Labels: none

Added CQA package ported to node.js (#1462)
  packages/Recognizers/CustomQuestionAnswering/js/.eslintrc.json
  packages/Recognizers/CustomQuestionAnswering/js/.gitignore
  packages/Recognizers/CustomQuestionAnswering/js/README.md
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Recognizers/CustomQuestionAnswering/js/schemas/custom-question-answering-recognizer.schema
  packages/Recognizers/CustomQuestionAnswering/js/src/CQABotComponent.ts
  packages/Recognizers/CustomQuestionAnswering/js/src/CQARecognizer.ts
  packages/Recognizers/CustomQuestionAnswering/js/src/index.ts
  packages/Recognizers/CustomQuestionAnswering/js/tsconfig.json
Labels: Area: Packages: CQA

Fix yarn.lock file
  yarn.lock
Labels: none

Updated SDK version
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/dotnet/README.md
  packages/Recognizers/CustomQuestionAnswering/js/README.md
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

Include package subfolders for JS projects
  package.json
Labels: none

Updated JS CQA yarn.lock
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  yarn.lock
Labels: Area: Packages: CQA

Node 16
  build/yaml/templates/yarn-build-steps.yml
Labels: Area: DevOps

Corrected yarn.lock
  yarn.lock
Labels: none

Telephony back on 4.18.1
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: none

Telephony rc1
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: none

Revert "Telephony rc1"
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: none

SDK update to JS 4.19.2, and C# 4.19.3
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

feat: CLU recognizers (#1465)
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluApplication.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluConstants.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluDelegatingHandler.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluExtensions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerBotComponent.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptionsBase.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/DefaultHttpClientFactory.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/CluApplicationTests.cs
  tests/unit/packages/Recognizers/dotnet/CluDelegatingHandlerTests.cs
  tests/unit/packages/Recognizers/dotnet/CluExtensionsTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsBaseTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsTests.cs
  tests/unit/packages/Recognizers/dotnet/DefaultHttpClientFactoryTests.cs
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: none
