Repository microsoft/botframework-components, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: DevOps, Area: Docs, Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

Added CLU recognizer pipeline
  build/yaml/pipelines/clu.yml
Labels: Area: DevOps

Added CLU recognizer pipeline (#1472)
  build/yaml/pipelines/clu.yml
Labels: Area: DevOps

CLU to SDK 4.19.3
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

CLU to SDK 4.19.3 (#1473)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

bump: Bumped SDK version (#1469)
  build/yaml/templates/yarn-build-steps.yml
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/dotnet/README.md
  packages/Recognizers/CustomQuestionAnswering/js/README.md
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: DevOps, Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

fix: [#1440, #1432] Component Governance security vulnerability for ejs 2.7.4, 3.1.6 and glob-parent 3.1.0 (#1461)
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People

[CVE-2022-37616] Upgrade @xmldom/xmldom by updating botbuilder from 4.18.0 to 4.19.0 (#1460)
  yarn.lock
Labels: none

Corrected CLU test paths
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: none

Corrected CLU test paths (#1474)
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: none

Corrected CLU schema
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
Labels: none

Corrected CLU schema (#1475)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
Labels: none

Using 3.1.x and 6.0.x
  build/yaml/templates/dotnet-build-test-steps.yml
  build/yaml/templates/dotnet-package-steps.yml
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: Area: DevOps

Using 3.1.x and 6.0.x (#1476)
  build/yaml/templates/dotnet-build-test-steps.yml
  build/yaml/templates/dotnet-package-steps.yml
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: Area: DevOps

Dropped netcoreapp2.1
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
Labels: Area: Packages: Graph

Dropped netcoreapp2.1 (#1477)
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
Labels: Area: Packages: Graph

CLU using 4.18.1 for RC3
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

Update CLU Recognizer README to specify extra JSON settings, endpoint formatting, and intent trigger formatting
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: none

Update CLU Recognizer README to specify extra JSON settings, endpoint formatting, and intent trigger formatting (#1478)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: none

Updated yarn.lock file
  yarn.lock
Labels: none

Updated yarn.lock file (#1481)
  yarn.lock
Labels: none

Added support to timeout for the DTMF dialogs
  packages/Telephony/Actions/BatchFixedLengthInput.cs
  packages/Telephony/Actions/BatchRegexInput.cs
  packages/Telephony/Actions/BatchTerminationCharacterInput.cs
  packages/Telephony/Readme.md
  packages/Telephony/Schemas/Microsoft.Telephony.BatchFixedLengthInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchFixedLengthInput.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchTerminationCharacterInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchTerminationCharacterInput.uischema
Labels: none

Remove LUIS leftovers and update Readme.
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: none

JS SDK to 4.19.3
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/js/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Packages: Teams, Area: Packages: CQA

Remove LUIS leftovers and update Readme. (#1482)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: none

CLU Recognizer to SDK 4.19.3
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

bump: SDK to 4.19.3 (JS & C#) (#1484)
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/js/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Packages: Teams, Area: Packages: CQA

Revert yeoman upgrades
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People

Revert yeoman upgrades (#1487)
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People

Applied requested changes
  packages/Telephony/Actions/BatchRegexInput.cs
  packages/Telephony/Readme.md
Labels: none

Added test cases
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
Labels: none

Update BatchInputTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
Labels: none

Bug bounty test - please ignore.... (dsfrfs)
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/package.json
  package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/package.json
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Welcome

Change confidence score parse to use current culture
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluExtensions.cs
Labels: none

Change confidence score parse to use current culture (#1511)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluExtensions.cs
Labels: none

Add documentation
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluMainRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluApplication.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluConstants.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerBotComponent.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptionsBase.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/defaultHttpClientFactory.ts
Labels: none

Add JS CLU Recognizer implementation
  packages/Recognizers/ConversationLanguageUnderstanding/js/.eslintrc.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/.gitignore
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/schemas/Microsoft.CluRecognizer.schema
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluMainRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluApplication.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluConstants.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerBotComponent.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptionsBase.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/defaultHttpClientFactory.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/index.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/tsconfig.json
  yarn.lock
Labels: none

Fix lint issues
  packages/Recognizers/ConversationLanguageUnderstanding/js/.eslintrc.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluMainRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluApplication.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerBotComponent.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptionsBase.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/defaultHttpClientFactory.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/tsconfig.json
Labels: none

Fix prettier issues
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluMainRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluApplication.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerBotComponent.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptionsBase.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/defaultHttpClientFactory.ts
Labels: none

Fix typos
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
Labels: none

.github/labeler.yml:

"Area: DevOps":
 - build/**/*

"Area: Docs":
 - docs/**/*

"Area: Generators: Adaptive":
 - generators/generator-bot-adaptive/**/*

"Area: Generators: Core Assistant":
 - generators/generator-bot-core-assistant/**/*

"Area: Generators: Core Language":
 - generators/generator-bot-core-language/**/*

"Area: Generators: Core QnA":
 - generators/generator-bot-core-qna/**/*

"Area: Generators: Empty":
 - generators/generator-bot-empty/**/*

"Area: Generators: Enterprise Assistant":
 - generators/generator-bot-enterprise-assistant/**/*

"Area: Generators: Enterprise Calendar":
 - generators/generator-bot-enterprise-calendar/**/*

"Area: Generators: Enterprise People":
 - generators/generator-bot-enterprise-people/**/*

"Area: Packages: Adaptive Cards":
 - packages/AdaptiveCards/**/*

"Area: Packages: Graph":
 - packages/Graph/**/*

"Area: Packages: Help & Cancel":
 - packages/HelpAndCancel/**/*

"Area: Packages: Teams":
 - packages/Teams/**/*

"Area: Packages: Welcome":
 - packages/Welcome/**/*

"Area: Packages: CQA":
 - packages/Recognizers/CustomQuestionAnswering/**/*
