Repository microsoft/botframework-components, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: DevOps, Area: Docs, Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

.github/labeler.yml:

"Area: DevOps":
 - build/**/*

"Area: Docs":
 - docs/**/*

"Area: Generators: Adaptive":
 - generators/generator-bot-adaptive/**/*

"Area: Generators: Core Assistant":
 - generators/generator-bot-core-assistant/**/*

"Area: Generators: Core Language":
 - generators/generator-bot-core-language/**/*

"Area: Generators: Core QnA":
 - generators/generator-bot-core-qna/**/*

"Area: Generators: Empty":
 - generators/generator-bot-empty/**/*

"Area: Generators: Enterprise Assistant":
 - generators/generator-bot-enterprise-assistant/**/*

"Area: Generators: Enterprise Calendar":
 - generators/generator-bot-enterprise-calendar/**/*

"Area: Generators: Enterprise People":
 - generators/generator-bot-enterprise-people/**/*

"Area: Packages: Adaptive Cards":
 - packages/AdaptiveCards/**/*

"Area: Packages: Graph":
 - packages/Graph/**/*

"Area: Packages: Help & Cancel":
 - packages/HelpAndCancel/**/*

"Area: Packages: Teams":
 - packages/Teams/**/*

"Area: Packages: Welcome":
 - packages/Welcome/**/*

"Area: Packages: CQA":
 - packages/Recognizers/CustomQuestionAnswering/**/*

Added CLU-JS pipeline
  build/yaml/pipelines/clu-js.yml
Labels: Area: DevOps

Fix extractIntents parameter
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
Labels: none

Port unit tests for JS CLU Recognizer
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluApplication.test.ts
  tests/unit/packages/Recognizers/js/tests/cluExtensions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
  tests/unit/packages/Recognizers/js/tests/defaultHttpClientFactory.test.ts
  tests/unit/packages/Recognizers/js/tsconfig.json
  yarn.lock
Labels: none

Change return of mocked functions
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
Labels: none

feat: [#1514] Port DotNet CLU Recognizer component to JS (#1518)
  build/yaml/pipelines/clu-js.yml
  packages/Recognizers/ConversationLanguageUnderstanding/js/.eslintrc.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/.gitignore
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/schemas/Microsoft.CluRecognizer.schema
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluAdaptiveRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/clu/cluMainRecognizer.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluApplication.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluConstants.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluExtensions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerBotComponent.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptions.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/cluRecognizerOptionsBase.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/defaultHttpClientFactory.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/index.ts
  packages/Recognizers/ConversationLanguageUnderstanding/js/tsconfig.json
  yarn.lock
Labels: Area: DevOps

Removed external packages feeds
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/unit/skills/calendar/NuGet.Config
  tests/unit/skills/common/NuGet.Config
Labels: none

Removed external packages feeds (#1524)
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/unit/skills/calendar/NuGet.Config
  tests/unit/skills/common/NuGet.Config
Labels: none

Removed external Nuget package source
  packages/NuGet.Config
Labels: none

Removed external Nuget package source (#1525)
  packages/NuGet.Config
Labels: none

feat: [#1514] Port JS CLU Recognizer unit tests (#1521)
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluApplication.test.ts
  tests/unit/packages/Recognizers/js/tests/cluExtensions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
  tests/unit/packages/Recognizers/js/tests/defaultHttpClientFactory.test.ts
  tests/unit/packages/Recognizers/js/tsconfig.json
  yarn.lock
Labels: none

Fix lint issues in clu recognizer tests
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
Labels: none

Fix lint issues in clu recognizer tests (#1526)
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
Labels: none

Change CLU-Recognizer package name
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
Labels: none

Change CLU-Recognizer package name (#1527)
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
Labels: none

Updated CLU package names from previous commit
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/index.ts
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluApplication.test.ts
  tests/unit/packages/Recognizers/js/tests/cluExtensions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
  tests/unit/packages/Recognizers/js/tests/defaultHttpClientFactory.test.ts
  yarn.lock
Labels: none

Updated CLU package names from previous commit (#1528)
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/src/index.ts
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluApplication.test.ts
  tests/unit/packages/Recognizers/js/tests/cluExtensions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptionsBase.test.ts
  tests/unit/packages/Recognizers/js/tests/defaultHttpClientFactory.test.ts
  yarn.lock
Labels: none

CLU-JS pipeline change
  build/yaml/pipelines/clu-js.yml
Labels: Area: DevOps

CLU-JS pipeline change (#1529)
  build/yaml/pipelines/clu-js.yml
Labels: Area: DevOps

CLU-JS pipeline image
  build/yaml/pipelines/clu-js.yml
Labels: Area: DevOps

CLU-JS pipeline image (#1530)
  build/yaml/pipelines/clu-js.yml
Labels: Area: DevOps

Removed generator-bot-template-generator
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-template-generator/README.md
  generators/generator-bot-template-generator/app/index.js
  generators/generator-bot-template-generator/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/index.js
  generators/generator-bot-template-generator/app/templates/generators/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/generators/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.botproj
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.dialog
  generators/generator-bot-template-generator/app/templates/generators/app/templates/knowledge-base/en-us/emptyBot.en-us.qna
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/emptyBot.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-understanding/en-us/emptyBot.en-us.lu
  generators/generator-bot-template-generator/app/templates/generators/app/templates/settings/appsettings.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  yarn.lock
Labels: Area: Generators: Adaptive

Removed generator-bot-template-generator (#1534)
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-template-generator/README.md
  generators/generator-bot-template-generator/app/index.js
  generators/generator-bot-template-generator/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/index.js
  generators/generator-bot-template-generator/app/templates/generators/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/generators/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.botproj
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.dialog
  generators/generator-bot-template-generator/app/templates/generators/app/templates/knowledge-base/en-us/emptyBot.en-us.qna
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/emptyBot.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-understanding/en-us/emptyBot.en-us.lu
  generators/generator-bot-template-generator/app/templates/generators/app/templates/settings/appsettings.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  yarn.lock
Labels: Area: Generators: Adaptive

fix incompatibility issues
  packages/Teams/js/package.json
Labels: Area: Packages: Teams

update packages versions
  package.json
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/js/package.json
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Packages: Teams, Area: Packages: CQA

update yarn.lock file
  yarn.lock
Labels: none

Updated DotNet CLURecognizer version
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

Updated DotNet CLURecognizer version (#1536)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: none

Updated Components to use SDK_v4 feed
  build/yaml/functional/deployBotResources/dotnet/evaluateDependenciesVariables.yml
  packages/NuGet.Config
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/unit/skills/calendar/NuGet.Config
  tests/unit/skills/common/NuGet.Config
Labels: Area: DevOps

Updated Components to use SDK_v4 feed (#1538)
  build/yaml/functional/deployBotResources/dotnet/evaluateDependenciesVariables.yml
  packages/NuGet.Config
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/unit/skills/calendar/NuGet.Config
  tests/unit/skills/common/NuGet.Config
Labels: Area: DevOps

Updated unit test project files
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: none

Updated unit test project files (#1539)
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: none

More Component unit test cleanup
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: none

More Component unit test cleanup (#1540)
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: none

Remove unused NuGet.Config
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
Labels: none

Removed more unused NuGet.Config files
  tests/unit/skills/calendar/NuGet.Config
  tests/unit/skills/common/NuGet.Config
Labels: none

More unit test cleanup
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: none

Restore pipeline tasks for unit test projects
  build/yaml/templates/dotnet-build-test-steps.yml
Labels: Area: DevOps

Added restore and build steps to component publish
  build/yaml/templates/dotnet-package-steps.yml
Labels: Area: DevOps

Bumped SDK version
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

Bumped SDK version (#1542)
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA
