Repository microsoft/botframework-components, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: DevOps, Area: Docs, Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

.github/labeler.yml:

"Area: DevOps":
 - build/**/*

"Area: Docs":
 - docs/**/*

"Area: Generators: Adaptive":
 - generators/generator-bot-adaptive/**/*

"Area: Generators: Core Assistant":
 - generators/generator-bot-core-assistant/**/*

"Area: Generators: Core Language":
 - generators/generator-bot-core-language/**/*

"Area: Generators: Core QnA":
 - generators/generator-bot-core-qna/**/*

"Area: Generators: Empty":
 - generators/generator-bot-empty/**/*

"Area: Generators: Enterprise Assistant":
 - generators/generator-bot-enterprise-assistant/**/*

"Area: Generators: Enterprise Calendar":
 - generators/generator-bot-enterprise-calendar/**/*

"Area: Generators: Enterprise People":
 - generators/generator-bot-enterprise-people/**/*

"Area: Packages: Adaptive Cards":
 - packages/AdaptiveCards/**/*

"Area: Packages: Graph":
 - packages/Graph/**/*

"Area: Packages: Help & Cancel":
 - packages/HelpAndCancel/**/*

"Area: Packages: Teams":
 - packages/Teams/**/*

"Area: Packages: Welcome":
 - packages/Welcome/**/*

"Area: Packages: CQA":
 - packages/Recognizers/CustomQuestionAnswering/**/*

Updated yarn.lock for correct fast-xml verison
  yarn.lock
Labels: none

Updated yarn.lock for correct fast-xml verison (#1543)
  yarn.lock
Labels: none

decode-uri-component update
  yarn.lock
Labels: none

Dotnet to 4.21.2, JS to 4.21.1
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

CLU Recognizer to 1.0.2
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
Labels: none

CLU Rec lint correction
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
Labels: none

Update people.yml for Azure Pipelines
  build/yaml/pipelines/people.yml
Labels: Area: DevOps

chore: Bump SDK versions (#1545)
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/js/package.json
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
  tests/unit/packages/Recognizers/js/package.json
  tests/unit/packages/Recognizers/js/tests/cluRecognizerOptions.test.ts
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Packages: CQA

Fix CLU package name in readme
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
Labels: none

Fix CLU package name in readme (#1550)
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/js/README.md
Labels: none

add orchestration workflow recognizer
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/OrchestrationWorkflow/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluApplication.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluConstants.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluDelegatingHandler.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluExtensions.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluRecognizerBotComponent.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluRecognizerOptions.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/CluRecognizerOptionsBase.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/DefaultHttpClientFactory.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/Microsoft.Bot.Components.Recognizers.OrchestrationRecognizer.csproj
  packages/Recognizers/OrchestrationWorkflow/dotnet/Models/KnowledgeBaseAnswer.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/Models/KnowledgeBaseAnswers.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/QuestionAnsweringConstants.cs
  packages/Recognizers/OrchestrationWorkflow/dotnet/README.md
  packages/Recognizers/OrchestrationWorkflow/dotnet/Schemas/Microsoft.CluRecognizer.schema
Labels: none

fix lint issues
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
Labels: Area: Generators: Adaptive

Fix NuGet badges
  README.md
Labels: none

Update README.md
  README.md
Labels: none
