Repository microsoft/botframework-components, pull requests merged in 2020-10, with the labels that each got.

#323 Lamil/list control
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/GetEventsByDateDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/knowledge-base/en-us/GetEventsByDateDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/language-generation/en-us/GetEventsByDateDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/knowledge-base/en-us/ListDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ListDialog/language-understanding/en-us/ListDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/language-generation/en-us/ResolveDateTimeDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEvents/SearchEvents.dialog
  skills/declarative/calendarSkill/dialogs/TestDialog/TestDialog.dialog
  skills/declarative/calendarSkill/dialogs/TestDialog/knowledge-base/en-us/TestDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/TestDialog/language-generation/en-us/TestDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/TestDialog/language-understanding/en-us/TestDialog.en-us.lu
  skills/declarative/calendarSkill/knowledge-base/en-us/calendarskill.en-us.qna
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/contactList.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/functions.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/azurefunctions/Microsoft.BotFramework.Composer.Functions.csproj
  skills/declarative/calendarSkill/runtime/azurewebapp/Microsoft.BotFramework.Composer.WebApp.csproj
  skills/declarative/calendarSkill/runtime/azurewebapp/Startup.cs
  skills/declarative/calendarSkill/runtime/core/Microsoft.BotFramework.Composer.Core.csproj
  skills/declarative/calendarSkill/runtime/customaction/Actions/SendActivityPlus.cs
  skills/declarative/calendarSkill/runtime/customaction/BotSdkTransientExceptionDetectionStrategy.cs
  skills/declarative/calendarSkill/runtime/customaction/CustomActionComponentRegistration.cs
  skills/declarative/calendarSkill/runtime/customaction/DeliveryModesPlus.cs
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Bot.SendActivityPlus.schema
  skills/declarative/calendarSkill/runtime/customaction/SendActivityPlusMiddleware.cs
  skills/declarative/calendarSkill/runtime/tests/Microsoft.BotFramework.Composer.Tests.csproj
  skills/declarative/calendarSkill/schemas/sdk.schema
Labels: PR: unreviewed

#314 [CalendarV2] look up event - search
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/GetEventsByDateDialog.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEvents/SearchEvents.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/knowledge-base/en-us/SearchEventsDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-generation/en-us/SearchEventsDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-understanding/en-us/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/eventList.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEvents.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/SortEvents.cs
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.GetEvents.schema
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.SortEvents.schema
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CalendarSkillTests_GetEvents.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CalendarSkillTests_SortEvents.test.dialog
  skills/declarative/calendarSkill/schemas/sdk.schema
Labels: PR: partially-approved

#324 Lamil/dayoverview update
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/language-generation/en-us/GetEventsByDateDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/contactList.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/SortEvents.cs
Labels: PR: unreviewed

#321 [Calendar v2] Create event
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/ChooseOption/knowledge-base/en-us/ChooseOption.en-us.qna
  skills/declarative/calendarSkill/dialogs/ChooseOption/language-understanding/en-us/ChooseOption.en-us.lu
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/knowledge-base/en-us/CreateEventDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-understanding/en-us/CreateEventDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/GetContactDialog/GetContactDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/knowledge-base/en-us/GetContactDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/GetContactDialog/language-generation/en-us/GetContactDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetContactDialog/language-understanding/en-us/GetContactDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ResolveCreateEventInput/knowledge-base/en-us/ResolveCreateEventInput.en-us.qna
  skills/declarative/calendarSkill/dialogs/ResolveCreateEventInput/language-understanding/en-us/ResolveCreateEventInput.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/contactList.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/timeSuggestionList.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/CreateEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/FindMeetingTimes.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetContacts.cs
  skills/declarative/calendarSkill/runtime/customaction/MSGraphComponentRegistration.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillMeetingTimeSlotModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillUserModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.CreateEvent.schema
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.FindMeetingTimes.schema
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.GetContacts.schema
  skills/declarative/calendarSkill/schemas/readme.md
  skills/declarative/calendarSkill/schemas/sdk.schema
  skills/declarative/calendarSkill/schemas/update-schema.ps1
  skills/declarative/calendarSkill/schemas/update-schema.sh
  skills/declarative/calendarSkill/settings/appsettings.json
Labels: PR: partially-approved

#325 Unit Test for CalendarV2 dialog
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_GetEvents.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_GetProfile.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_GetWorkingHours.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_SettingsTest.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_SortEvents.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/HttpRequestMock/getEvents.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/HttpRequestMock/getProfile.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/HttpRequestMock/getWorkingHours.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/UserTokenMock/nomagiccode.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleByAttendees.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleNoResult.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleReprompt.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleWithoutContion.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/Greeting.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getEvents.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getProfile.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getWorkingHours.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/Test.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/UserTokenMock/nomagiccode.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/SearchEventsDialog_en_us_lu/1377755032.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/SearchEventsDialog_en_us_lu/2915941992.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/SearchEventsDialog_en_us_lu/440503305.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/calendarskill_en_us_lu/134012578.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/calendarskill_en_us_lu/207488307.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/calendarskill_en_us_lu/56188399.json
  skills/declarative/calendarSkill/runtime/tests/CustomActionTests.cs
  skills/declarative/calendarSkill/runtime/tests/SearchEventTests.cs
  skills/declarative/calendarSkill/runtime/tests/Startup.cs
  skills/declarative/calendarSkill/runtime/tests/testsettings.json
Labels: PR: partially-approved

#328 fix help and add Test_Help
  skills/csharp/tests/todoskill.tests/Flow/GeneralSkillFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/GeneralTestUtterances.cs
  skills/csharp/todoskill/Bots/DefaultActivityHandler.cs
  skills/csharp/todoskill/Dialogs/MainDialog.cs
  skills/csharp/todoskill/Properties/launchSettings.json
Labels: PR: partially-approved

#329 [Calendar v2] support accept/decline in update flow
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-understanding/en-us/CreateEventDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/UpdateSlots.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/language-generation/en-us/UpdateSlots.en-us.lg
Labels: PR: reviewed-approved

#330 [CalendarV2] Own Availability
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-understanding/en-us/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/availability.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/CheckAvailability.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/FindAvailableTime.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/SortEvents.cs
  skills/declarative/calendarSkill/runtime/customaction/MSGraphComponentRegistration.cs
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillEventModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.CheckAvailability.schema
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.FindAvailableTime.schema
  skills/declarative/calendarSkill/schemas/sdk.schema
Labels: PR: partially-approved
