Repository microsoft/botframework-components, pull requests merged in 2020-11, with the labels that each got.

#334 [Calendar v2] tune create flow
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
Labels: PR: reviewed-approved

#353 [CalendarV2]
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-generation/en-us/SearchEventsDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-understanding/en-us/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
Labels: PR: partially-approved

#355 [Calendar v2] fix bugs
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-understanding/en-us/CreateEventDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/GetContactDialog/GetContactDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/language-understanding/en-us/GetContactDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/UpdateSlots.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/language-generation/en-us/UpdateSlots.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/language-understanding/en-us/UpdateSlots.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/timeSuggestionList.en-us.lg
Labels: PR: reviewed-approved

#362 [Calendar v2] fix update bug
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/UpdateSlots.dialog
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/schedule.en-us.lg
Labels: PR: reviewed-approved

#373 [Calendar v2] fix create flow bugs
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/GetContactDialog.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/contactList.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/timeSuggestionList.en-us.lg
Labels: PR: reviewed-approved

#374 [CalendarV2] fix bugs
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/GetScheduleDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/CreateEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEvents.cs
Labels: PR: unreviewed

#393 [Calendar v2] fix contact synonyms
  skills/declarative/calendarSkill/dialogs/GetContactDialog/GetContactDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/language-generation/en-us/GetContactDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/language-generation/en-us/contactList.en-us.lg
Labels: PR: unreviewed

#395 [Calendar v2] fix bugs
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-understanding/en-us/CreateEventDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-understanding/en-us/UpdateEventDialog.en-us.lu
Labels: PR: reviewed-approved

#394 [CalendarV2] fix bugs
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/GetScheduleDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/language-generation/en-us/GetScheduleDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/schedule.en-us.lg
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEvents.cs
Labels: PR: unreviewed

#396 Lamil/bugfixes
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/language-understanding/en-us/ListDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/language-generation/en-us/ResolveDateTimeDialog.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/schedule.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/timeSuggestionList.en-us.lg
Labels: PR: unreviewed

#398 [CalendarV2] fix bugs
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-generation/en-us/SearchEventsDialog.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
Labels: PR: partially-approved

#410 [CalendarSkillV2] Updates runtime and schema
  skills/declarative/calendarSkill/calendarSkill.botproj
  skills/declarative/calendarSkill/dialogs/CancelEventDialog/recognizers/CancelEventDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/recognizers/CreateEventDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/recognizers/CreateEventDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/recognizers/CreateEventDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/recognizers/GetContactDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/recognizers/GetContactDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/GetContactDialog/recognizers/GetContactDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/recognizers/GetScheduleDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/recognizers/ListDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/recognizers/ListDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/ListDialog/recognizers/ListDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/recognizers/ResolveDateTimeDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/ResolveUpdateEntity/recognizers/ResolveUpdateEntity.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/RespondToEventDialog/recognizers/RespondToEventDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/recognizers/UpdateEventDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/recognizers/UpdateEventDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/recognizers/UpdateEventDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/recognizers/UpdateSlots.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/recognizers/UpdateSlots.lu.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/recognizers/UpdateSlots.lu.qna.dialog
  skills/declarative/calendarSkill/recognizers/calendarskill.en-us.lu.dialog
  skills/declarative/calendarSkill/recognizers/calendarskill.lu.dialog
  skills/declarative/calendarSkill/recognizers/calendarskill.lu.qna.dialog
  skills/declarative/calendarSkill/runtime/ComposerRuntime.sln
  skills/declarative/calendarSkill/runtime/azurefunctions/Microsoft.BotFramework.Composer.Functions.csproj
  skills/declarative/calendarSkill/runtime/azurefunctions/Startup.cs
  skills/declarative/calendarSkill/runtime/azurefunctions/appsettings.Deployment.json
  skills/declarative/calendarSkill/runtime/azurewebapp/Authorization/AllowedCallersClaimsValidator.cs
  skills/declarative/calendarSkill/runtime/azurewebapp/Microsoft.BotFramework.Composer.WebApp.csproj
  skills/declarative/calendarSkill/runtime/azurewebapp/Program.cs
  skills/declarative/calendarSkill/runtime/azurewebapp/README.md
  skills/declarative/calendarSkill/runtime/azurewebapp/Scripts/build_runtime.ps1
  skills/declarative/calendarSkill/runtime/azurewebapp/Scripts/build_runtime.sh
  skills/declarative/calendarSkill/runtime/azurewebapp/Scripts/create.ps1
  skills/declarative/calendarSkill/runtime/azurewebapp/Scripts/deploy.ps1
  skills/declarative/calendarSkill/runtime/azurewebapp/Startup.cs
  skills/declarative/calendarSkill/runtime/core/ComposerBot.cs
  skills/declarative/calendarSkill/runtime/core/ComposerBotPathExtensions.cs
  skills/declarative/calendarSkill/runtime/core/ComposerSettingsExtensions.cs
  skills/declarative/calendarSkill/runtime/core/LuisConfigAdapter.cs
  skills/declarative/calendarSkill/runtime/core/Microsoft.BotFramework.Composer.Core.csproj
  skills/declarative/calendarSkill/runtime/core/Settings/BotSettings.cs
  skills/declarative/calendarSkill/runtime/core/Settings/BotSkillConfiguration.cs
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
  skills/declarative/calendarSkill/runtime/tests/Microsoft.BotFramework.Composer.Tests.csproj
  skills/declarative/calendarSkill/runtime/tests/app.schema
  skills/declarative/calendarSkill/schemas/sdk.schema
  skills/declarative/calendarSkill/schemas/sdk.uischema
  skills/declarative/calendarSkill/settings/cross-train.config.json
Labels: PR: unreviewed

#412 Introduce a feed controlling which components to display in Composer.
  experimental/feeds/components.json
Labels: PR: reviewed-approved

#413 fix component names in feed
  experimental/feeds/components.json
Labels: PR: partially-approved

#416 [CalendarV2] whisper
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarSkill/settings/cross-train.config.json
Labels: PR: partially-approved
