Repository microsoft/botframework-components, pull requests merged in 2020-03, with the labels that each got.

#44 [Restaurant Booking] Add action code
  skills/csharp/experimental/restaurantbookingskill/Dialogs/BookingDialog.cs
  skills/csharp/experimental/restaurantbookingskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/restaurantbookingskill/Models/Action/ActionResult.cs
  skills/csharp/experimental/restaurantbookingskill/Models/Action/ReservationInfo.cs
  skills/csharp/experimental/restaurantbookingskill/Models/RestaurantBookingState.cs
Labels: PR: reviewed-approved

#30 [calendar] action support code
  skills/csharp/calendarskill/Dialogs/CalendarSkillDialogBase.cs
  skills/csharp/calendarskill/Dialogs/ChangeEventStatusDialog.cs
  skills/csharp/calendarskill/Dialogs/CreateEventDialog.cs
  skills/csharp/calendarskill/Dialogs/JoinEventDialog.cs
  skills/csharp/calendarskill/Dialogs/MainDialog.cs
  skills/csharp/calendarskill/Dialogs/ShowEventsDialog.cs
  skills/csharp/calendarskill/Dialogs/TimeRemainingDialog.cs
  skills/csharp/calendarskill/Dialogs/UpdateEventDialog.cs
  skills/csharp/calendarskill/Models/ActionInfos/ActionResult.cs
  skills/csharp/calendarskill/Models/ActionInfos/ChooseEventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/DateInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/EventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/EventInfoOutput.cs
  skills/csharp/calendarskill/Models/ActionInfos/SummaryResult.cs
  skills/csharp/calendarskill/Models/ActionInfos/UpdateEventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/timeRemainingOutput.cs
  skills/csharp/calendarskill/Models/CalendarSkillState.cs
  skills/csharp/calendarskill/Models/DialogOptions/ShowMeetingsDialogOptions.cs
  skills/csharp/calendarskill/Utilities/DateTimeHelper.cs
  skills/csharp/calendarskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/calendarskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/tests/calendarskill.tests/Flow/BookMeetingRoomFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/CalendarSkillTestBase.cs
  skills/csharp/tests/calendarskill.tests/Flow/ChangeCalendarStatusFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/ConnectToMeetingFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/CreateCalendarFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/Fakes/MockServiceManager.cs
  skills/csharp/tests/calendarskill.tests/Flow/Strings/Strings.cs
  skills/csharp/tests/calendarskill.tests/Flow/SummaryCalendarFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/TimeRemainingFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/UpdateCalendarFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/ChangeMeetingStatusTestUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/ConnectToMeetingUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/CreateMeetingTestUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/FindMeetingTestUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/TimeRemainingUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/UpdateMeetingTestUtterances.cs
Labels: PR: unreviewed

#51 [ITSM] add action code
  skills/csharp/experimental/itsmskill/Dialogs/CloseTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/CreateTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowKnowledgeDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/itsmskill/Dialogs/UpdateTicketDialog.cs
  skills/csharp/experimental/itsmskill/Models/Actions/ActionNames.cs
  skills/csharp/experimental/itsmskill/Models/Actions/ActionResult.cs
  skills/csharp/experimental/itsmskill/Models/Actions/CloseTicketInput.cs
  skills/csharp/experimental/itsmskill/Models/Actions/CreateTicketInput.cs
  skills/csharp/experimental/itsmskill/Models/Actions/IActionInput.cs
  skills/csharp/experimental/itsmskill/Models/Actions/ShowKnowledgeInput.cs
  skills/csharp/experimental/itsmskill/Models/Actions/ShowTicketInput.cs
  skills/csharp/experimental/itsmskill/Models/Actions/UpdateTicketInput.cs
  skills/csharp/experimental/itsmskill/Models/EndFlowResult.cs
  skills/csharp/experimental/itsmskill/Models/SkillState.cs
  skills/csharp/tests/itsmskill.tests/Flow/KnowledgeShowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/SkillTestBase.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketCloseFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketCreateFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketShowFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketUpdateFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/KnowledgeShowUtterances.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/TicketCloseUtterances.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/TicketCreateUtterances.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/TicketShowUtterances.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/TicketUpdateUtterances.cs
Labels: PR: reviewed-approved

#38 [Music] add action code and fix some bugs
  skills/csharp/experimental/musicskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/musicskill/Dialogs/PlayMusicDialog.cs
  skills/csharp/experimental/musicskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/musicskill/Models/ActionInfos/ActionResult.cs
  skills/csharp/experimental/musicskill/Models/ActionInfos/SearchInfo.cs
  skills/csharp/experimental/musicskill/Models/SkillState.cs
  skills/csharp/experimental/musicskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/musicskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: unreviewed

#48 [Hospitality] add action code
  skills/csharp/experimental/hospitalityskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/CheckOutDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/ExtendStayDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/GetReservationDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/HospitalityDialogBase.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/LateCheckOutDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RequestItemDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RoomServiceDialog.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/ActionNames.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/ActionResult.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/CheckOutInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/ExtendStayInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/Food.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/GetReservationDetailsInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/IActionInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/Item.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/LateCheckOutInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/RequestItemInput.cs
  skills/csharp/experimental/hospitalityskill/Models/ActionDefinitions/RoomServiceInput.cs
  skills/csharp/experimental/hospitalityskill/Models/HospitalitySkillState.cs
  skills/csharp/experimental/hospitalityskill/Models/StateProperties.cs
  skills/csharp/experimental/hospitalityskill/Responses/Shared/HospitalityStrings.Designer.cs
  skills/csharp/experimental/hospitalityskill/Startup.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/CheckOutFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/ExtendStayFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/GeneralFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/GetReservationFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/HospitalitySkillTestBase.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/LateCheckOutFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/RequestItemFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/RoomServiceFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/CheckOutUtterances.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/ExtendStayUtterances.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/GetReservationUtterances.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/LateCheckOutUtterances.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/RequestItemUtterances.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Utterances/RoomServiceUtterances.cs
Labels: PR: unreviewed

#45 [Weather] Add action code
  skills/csharp/experimental/weatherskill/Dialogs/ForecastDialog.cs
  skills/csharp/experimental/weatherskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/weatherskill/Models/Action/ActionResult.cs
  skills/csharp/experimental/weatherskill/Models/Action/LocationInfo.cs
  skills/csharp/experimental/weatherskill/Models/SkillState.cs
Labels: PR: reviewed-approved

#67 [Email][Todo] Fix knowledge base config
  skills/csharp/emailskill/Services/BotServices.cs
  skills/csharp/todoskill/Services/BotServices.cs
Labels: PR: reviewed-approved

#69 [POI] fix Knowledgebases, rename
  skills/csharp/pointofinterestskill/Adapters/DefaultAdapter.cs
  skills/csharp/pointofinterestskill/Dialogs/CancelRouteDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/FindParkingDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/FindPointOfInterestDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/GetDirectionsDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/pointofinterestskill/Dialogs/RouteDialog.cs
  skills/csharp/pointofinterestskill/Services/BotServices.cs
  skills/csharp/pointofinterestskill/Utilities/LocaleTemplateManagerWrapper.cs
Labels: PR: reviewed-approved

#71 [calendar/auto] fix Knowledgebases config
  skills/csharp/calendarskill/Services/BotServices.cs
  skills/csharp/experimental/automotiveskill/Services/BotServices.cs
Labels: PR: reviewed-approved

#56 [ToDo] Add action code
  skills/csharp/tests/todoskill.tests/Flow/AddToDoFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/DeleteAllToDosFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/DeleteToDoFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/Fakes/MockTaskService.cs
  skills/csharp/tests/todoskill.tests/Flow/MarkAllToDosFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/MarkToDoFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/ShowToDoFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/ToDoSkillTestBase.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/AddToDoFlowTestUtterances.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/DeleteToDoFlowTestUtterances.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/MarkToDoFlowTestUtterances.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/ShowToDoFlowTestUtterances.cs
  skills/csharp/todoskill/Dialogs/AddToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/DeleteToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/MainDialog.cs
  skills/csharp/todoskill/Dialogs/MarkToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/ShowToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/ToDoSkillDialogBase.cs
  skills/csharp/todoskill/Models/Action/ListInfo.cs
  skills/csharp/todoskill/Models/Action/ToDoInfo.cs
  skills/csharp/todoskill/Models/Action/TodoListInfo.cs
  skills/csharp/todoskill/Models/ActionNames.cs
  skills/csharp/todoskill/Models/ToDoSkillState.cs
  skills/csharp/todoskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/todoskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: reviewed-approved

#64 [Phone] update to latest SDK
  skills/csharp/experimental/phoneskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/phoneskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/phoneskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/phoneskill/Dialogs/OutgoingCallDialog.cs
  skills/csharp/experimental/phoneskill/Dialogs/PhoneSkillDialogBase.cs
  skills/csharp/experimental/phoneskill/Models/PhoneSkillState.cs
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/phoneskill/Responses/Main/PhoneMainResponses.cs
  skills/csharp/experimental/phoneskill/Responses/Main/PhoneMainResponses.lg
  skills/csharp/experimental/phoneskill/Responses/Main/PhoneMainResponsesTexts.lg
  skills/csharp/experimental/phoneskill/Responses/OutgoingCall/OutgoingCallResponses.cs
  skills/csharp/experimental/phoneskill/Responses/OutgoingCall/OutgoingCallResponses.lg
  skills/csharp/experimental/phoneskill/Responses/OutgoingCall/OutgoingCallResponsesTexts.lg
  skills/csharp/experimental/phoneskill/Responses/ResponsesAndTexts/ResponsesAndTexts.lg
  skills/csharp/experimental/phoneskill/Responses/Shared/PhoneSharedResponses.cs
  skills/csharp/experimental/phoneskill/Responses/Shared/PhoneSharedResponses.lg
  skills/csharp/experimental/phoneskill/Responses/Shared/PhoneSharedResponsesTexts.lg
  skills/csharp/experimental/phoneskill/Services/BotServices.cs
  skills/csharp/experimental/phoneskill/Startup.cs
  skills/csharp/experimental/phoneskill/Utilities/EngineWrapper.cs
  skills/csharp/experimental/phoneskill/Utilities/LocaleTemplateManagerWrapper.cs
  skills/csharp/experimental/phoneskill/appsettings.json
  skills/csharp/tests/phoneskill.tests/Flow/GeneralSkillFlowTests.cs
  skills/csharp/tests/phoneskill.tests/Flow/OutgoingCallActionTests.cs
  skills/csharp/tests/phoneskill.tests/Flow/OutgoingCallDialogTests.cs
  skills/csharp/tests/phoneskill.tests/Flow/PhoneSkillTestBase.cs
  skills/csharp/tests/phoneskill.tests/PhoneSkill.Tests.csproj
Labels: PR: reviewed-approved

#80 Update all skills to 4.8.1
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Dialogs/MainDialog.cs
  skills/csharp/emailskill/Dialogs/MainDialog.cs
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/automotiveskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/bingsearchskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/eventskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/hospitalityskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/musicskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/newsskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/phoneskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/restaurantbookingskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/todoskill/Dialogs/MainDialog.cs
  skills/csharp/todoskill/Responses/Main/ToDoMainActivities.es-es.lg
  skills/csharp/todoskill/ToDoSkill.csproj
Labels: PR: reviewed-approved

#83 [Email] fix email manifest
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: reviewed-approved

#87 [Calendar] merge calendar .lu in bf-solution repo master branch
  skills/csharp/calendarskill/Deployment/Resources/LU/de-de/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/en-us/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/es-es/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/fr-fr/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/it-it/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/zh-cn/Calendar.lu
Labels: PR: reviewed-approved

#85 [calendar] book meeting room script update
  skills/csharp/calendarskill/Deployment/Scripts/enable_findmeetingroom.ps1
  skills/csharp/calendarskill/Deployment/Scripts/msgraph_functions.ps1
Labels: PR: reviewed-approved

#89 [POI][H][ITSM] remove tt
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/hospitalityskill/Responses/CheckOut/CheckOutResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/CheckOut/CheckOutResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/ExtendStay/ExtendStayResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/ExtendStay/ExtendStayResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/GetReservation/GetReservationResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/GetReservation/GetReservationResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/LateCheckOut/LateCheckOutResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/LateCheckOut/LateCheckOutResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/RequestItem/RequestItemResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/RequestItem/RequestItemResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/RoomService/RoomServiceResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/RoomService/RoomServiceResponses.tt
  skills/csharp/experimental/hospitalityskill/Responses/Shared/HospitalityStrings.tt
  skills/csharp/experimental/hospitalityskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/experimental/hospitalityskill/Responses/Shared/SharedResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/Shared/SharedResponses.tt
  skills/csharp/experimental/hospitalityskill/Startup.cs
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/itsmskill/Responses/Knowledge/KnowledgeResponses.cs
  skills/csharp/experimental/itsmskill/Responses/Knowledge/KnowledgeResponses.tt
  skills/csharp/experimental/itsmskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/itsmskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/itsmskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/experimental/itsmskill/Responses/Shared/SharedResponses.tt
  skills/csharp/experimental/itsmskill/Responses/Ticket/TicketResponses.tt
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/pointofinterestskill/Responses/CancelRoute/CancelRouteResponses.cs
  skills/csharp/pointofinterestskill/Responses/CancelRoute/CancelRouteResponses.tt
  skills/csharp/pointofinterestskill/Responses/FindPointOfInterest/FindPointOfInterestResponses.cs
  skills/csharp/pointofinterestskill/Responses/FindPointOfInterest/FindPointOfInterestResponses.tt
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.cs
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.tt
  skills/csharp/pointofinterestskill/Responses/Route/RouteResponses.cs
  skills/csharp/pointofinterestskill/Responses/Route/RouteResponses.tt
  skills/csharp/pointofinterestskill/Responses/Shared/POISharedResponses.cs
  skills/csharp/pointofinterestskill/Responses/Shared/POISharedResponses.tt
  skills/csharp/pointofinterestskill/Responses/Shared/PointOfInterestSharedStrings.tt
  skills/csharp/pointofinterestskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/tests/hospitalityskill.tests/Flow/HospitalitySkillTestBase.cs
Labels: PR: reviewed-approved

#82 use TeamsActivityHandler, update InterruptDialogAsync
  skills/csharp/experimental/hospitalityskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Bots/DefaultActivityHandler.cs
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/LateCheckOutFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/KnowledgeShowTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/FindParkingDialogTests.cs
Labels: PR: reviewed-approved

#97 [Weather] Update json files' copy options
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
Labels: PR: reviewed-approved

#90 [POI] check null luis result
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
Labels: PR: reviewed-approved

#94 [Bing Search] Set lg files as copy if never
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
Labels: PR: reviewed-approved

#111 [phone] remove .tt file
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/eventskill/Responses/FindEvents/FindEventsResponses.cs
  skills/csharp/experimental/eventskill/Responses/FindEvents/FindEventsResponses.tt
  skills/csharp/experimental/eventskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/eventskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/eventskill/Responses/Shared/LgIdCollection.t4
  skills/csharp/experimental/eventskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/experimental/eventskill/Responses/Shared/SharedResponses.cs
  skills/csharp/experimental/eventskill/Responses/Shared/SharedResponses.tt
  skills/csharp/experimental/phoneskill/.filenesting.json
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/phoneskill/Responses/Main/PhoneMainResponses.cs
  skills/csharp/experimental/phoneskill/Responses/Main/PhoneMainResponses.tt
  skills/csharp/experimental/phoneskill/Responses/OutgoingCall/OutgoingCallResponses.cs
  skills/csharp/experimental/phoneskill/Responses/OutgoingCall/OutgoingCallResponses.tt
  skills/csharp/experimental/phoneskill/Responses/Shared/LgIdCollection.t4
  skills/csharp/experimental/phoneskill/Responses/Shared/PhoneSharedResponses.cs
  skills/csharp/experimental/phoneskill/Responses/Shared/PhoneSharedResponses.tt
  skills/csharp/experimental/phoneskill/wwwroot/default.htm
Labels: PR: reviewed-approved

#110 [News] Fix FindArticles action exception
  skills/csharp/experimental/newsskill/Dialogs/MainDialog.cs
Labels: PR: reviewed-approved

#112 [auto/music/calendar] remove .tt
  skills/csharp/calendarskill/.filenesting.json
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Responses/ChangeEventStatus/ChangeEventStatusResponses.cs
  skills/csharp/calendarskill/Responses/ChangeEventStatus/ChangeEventStatusResponses.tt
  skills/csharp/calendarskill/Responses/CheckPersonAvailable/CheckPersonAvailableResponses.cs
  skills/csharp/calendarskill/Responses/CheckPersonAvailable/CheckPersonAvailableResponses.tt
  skills/csharp/calendarskill/Responses/CreateEvent/CreateEventResponses.cs
  skills/csharp/calendarskill/Responses/CreateEvent/CreateEventResponses.tt
  skills/csharp/calendarskill/Responses/FindContact/FindContactResponses.cs
  skills/csharp/calendarskill/Responses/FindContact/FindContactResponses.tt
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomResponses.cs
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomResponses.tt
  skills/csharp/calendarskill/Responses/JoinEvent/JoinEventResponses.cs
  skills/csharp/calendarskill/Responses/JoinEvent/JoinEventResponses.tt
  skills/csharp/calendarskill/Responses/Main/CalendarMainResponses.cs
  skills/csharp/calendarskill/Responses/Main/CalendarMainResponses.tt
  skills/csharp/calendarskill/Responses/Shared/CalendarSharedResponses.cs
  skills/csharp/calendarskill/Responses/Shared/CalendarSharedResponses.tt
  skills/csharp/calendarskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/calendarskill/Responses/Summary/SummaryResponses.cs
  skills/csharp/calendarskill/Responses/Summary/SummaryResponses.tt
  skills/csharp/calendarskill/Responses/TimeRemaining/TimeRemainingResponses.cs
  skills/csharp/calendarskill/Responses/TimeRemaining/TimeRemainingResponses.tt
  skills/csharp/calendarskill/Responses/UpcomingEvent/UpcomingEventResponses.cs
  skills/csharp/calendarskill/Responses/UpcomingEvent/UpcomingEventResponses.tt
  skills/csharp/calendarskill/Responses/UpdateEvent/UpdateEventResponses.cs
  skills/csharp/calendarskill/Responses/UpdateEvent/UpdateEventResponses.tt
  skills/csharp/experimental/automotiveskill/.filenesting.json
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/automotiveskill/Responses/Main/AutomotiveSkillMainResponses.cs
  skills/csharp/experimental/automotiveskill/Responses/Main/AutomotiveSkillMainResponses.tt
  skills/csharp/experimental/automotiveskill/Responses/Shared/AutomotiveSkillSharedResponses.cs
  skills/csharp/experimental/automotiveskill/Responses/Shared/AutomotiveSkillSharedResponses.tt
  skills/csharp/experimental/automotiveskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/experimental/automotiveskill/Responses/VehicleSettings/VehicleSettingsResponses.cs
  skills/csharp/experimental/automotiveskill/Responses/VehicleSettings/VehicleSettingsResponses.tt
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/musicskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/musicskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/musicskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/experimental/musicskill/Responses/Shared/SharedResponses.cs
  skills/csharp/experimental/musicskill/Responses/Shared/SharedResponses.tt
Labels: PR: reviewed-approved

#105 [Email] fix manifest
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: reviewed-approved

#113 [ToDo/ Weather/ Restaurant Booking] Remove tt files
  skills/csharp/experimental/restaurantbookingskill/.filenesting.json
  skills/csharp/experimental/restaurantbookingskill/Responses/Main/RestaurantBookingMainResponses.cs
  skills/csharp/experimental/restaurantbookingskill/Responses/Main/RestaurantBookingMainResponses.tt
  skills/csharp/experimental/restaurantbookingskill/Responses/Shared/BotStrings.cs
  skills/csharp/experimental/restaurantbookingskill/Responses/Shared/BotStrings.tt
  skills/csharp/experimental/restaurantbookingskill/Responses/Shared/RestaurantBookingSharedResponses.cs
  skills/csharp/experimental/restaurantbookingskill/Responses/Shared/RestaurantBookingSharedResponses.tt
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/weatherskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/weatherskill/Responses/Shared/SharedResponses.cs
  skills/csharp/experimental/weatherskill/Responses/Shared/SharedResponses.tt
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/todoskill/.filenesting.json
  skills/csharp/todoskill/Responses/AddToDo/AddToDoResponses.cs
  skills/csharp/todoskill/Responses/AddToDo/AddToDoResponses.tt
  skills/csharp/todoskill/Responses/DeleteToDo/DeleteToDoResponses.cs
  skills/csharp/todoskill/Responses/DeleteToDo/DeleteToDoResponses.tt
  skills/csharp/todoskill/Responses/Main/ToDoMainResponses.cs
  skills/csharp/todoskill/Responses/Main/ToDoMainResponses.tt
  skills/csharp/todoskill/Responses/MarkToDo/MarkToDoResponses.cs
  skills/csharp/todoskill/Responses/MarkToDo/MarkToDoResponses.tt
  skills/csharp/todoskill/Responses/Shared/ToDoSharedResponses.cs
  skills/csharp/todoskill/Responses/Shared/ToDoSharedResponses.tt
  skills/csharp/todoskill/Responses/ShowToDo/ShowToDoResponses.cs
  skills/csharp/todoskill/Responses/ShowToDo/ShowToDoResponses.tt
  skills/csharp/todoskill/ToDoSkill.csproj
Labels: PR: reviewed-approved

#115 [ToDo] Fix ShowToDo bug
  skills/csharp/todoskill/Dialogs/ShowToDoItemDialog.cs
Labels: PR: reviewed-approved

#129 [ToDo] Add TeamsActivityHandler
  skills/csharp/todoskill/Bots/DefaultActivityHandler.cs
Labels: PR: reviewed-approved

#118 [Email] fix exception
  skills/csharp/emailskill/Dialogs/FindContactDialog.cs
Labels: PR: reviewed-approved

#107 fix version, boolean, array
  skills/csharp/calendarskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/calendarskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/emailskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/automotiveskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/automotiveskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/bingsearchskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/bingsearchskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/eventskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/eventskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/hospitalityskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/hospitalityskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/itsmskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/itsmskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/musicskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/musicskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/newsskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/newsskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/phoneskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/phoneskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/restaurantbookingskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/restaurantbookingskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/experimental/weatherskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/weatherskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/pointofinterestskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/pointofinterestskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/todoskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/todoskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: reviewed-approved

#122 [calendar] fix calendar issues
  skills/csharp/calendarskill/Bots/DefaultActivityHandler.cs
  skills/csharp/calendarskill/Dialogs/MainDialog.cs
  skills/csharp/calendarskill/Models/ActionInfos/EventInfo.cs
  skills/csharp/tests/calendarskill.tests/Flow/CreateCalendarFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/SummaryCalendarFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/CreateMeetingTestUtterances.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/FindMeetingTestUtterances.cs
Labels: PR: reviewed-approved

#114 [ToDo/ Weather/ Restaurant Booking] Handle cancel/logout in skill mode
  skills/csharp/experimental/restaurantbookingskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/weatherskill/Dialogs/MainDialog.cs
  skills/csharp/todoskill/Dialogs/MainDialog.cs
Labels: PR: reviewed-approved

#86 [Phone] TeamsActivityHandler support
  skills/csharp/experimental/eventskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/phoneskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/phoneskill/Dialogs/MainDialog.cs
  skills/csharp/tests/phoneskill.tests/Flow/InterruptionTests.cs
  skills/csharp/tests/phoneskill.tests/Flow/PhoneSkillTestBase.cs
Labels: PR: reviewed-approved

#131 [auto/music] update teamAcitivityHanlder and cancel&logout
  skills/csharp/experimental/automotiveskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/automotiveskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/musicskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/musicskill/Dialogs/MainDialog.cs
Labels: PR: reviewed-approved

#127 [ToDo] Fix issue
  skills/csharp/tests/todoskill.tests/Flow/ShowToDoFlowTests.cs
  skills/csharp/tests/todoskill.tests/Flow/ToDoSkillTestBase.cs
  skills/csharp/tests/todoskill.tests/Flow/Utterances/GeneralTestUtterances.cs
  skills/csharp/todoskill/Dialogs/AddToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/DeleteToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/MarkToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/ShowToDoItemDialog.cs
  skills/csharp/todoskill/Dialogs/ToDoSkillDialogBase.cs
Labels: PR: reviewed-approved

#117 [Email/News/Bing Search]remove tt files
  skills/csharp/emailskill/.filenesting.json
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/emailskill/Responses/DeleteEmail/DeleteEmailResponses.cs
  skills/csharp/emailskill/Responses/DeleteEmail/DeleteEmailResponses.tt
  skills/csharp/emailskill/Responses/FindContact/FindContactResponses.cs
  skills/csharp/emailskill/Responses/FindContact/FindContactResponses.tt
  skills/csharp/emailskill/Responses/Main/EmailMainResponses.cs
  skills/csharp/emailskill/Responses/Main/EmailMainResponses.tt
  skills/csharp/emailskill/Responses/SendEmail/SendEmailResponses.cs
  skills/csharp/emailskill/Responses/SendEmail/SendEmailResponses.tt
  skills/csharp/emailskill/Responses/Shared/EmailSharedResponses.cs
  skills/csharp/emailskill/Responses/Shared/EmailSharedResponses.tt
  skills/csharp/emailskill/Responses/Shared/ResponseIdCollection.t4
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailResponses.cs
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailResponses.tt
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/bingsearchskill/Responses/CommonStrings.cs
  skills/csharp/experimental/bingsearchskill/Responses/CommonStrings.tt
  skills/csharp/experimental/bingsearchskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/bingsearchskill/Responses/Main/MainResponses.tt
  skills/csharp/experimental/bingsearchskill/Responses/Search/SearchResponses.cs
  skills/csharp/experimental/bingsearchskill/Responses/Search/SearchResponses.tt
  skills/csharp/experimental/bingsearchskill/Responses/Shared/LgIdCollection.t4
  skills/csharp/experimental/bingsearchskill/Responses/Shared/SharedResponses.cs
  skills/csharp/experimental/bingsearchskill/Responses/Shared/SharedResponses.tt
  skills/csharp/experimental/newsskill/.filenesting.json
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/newsskill/Responses/FavoriteTopics/FavoriteTopicsResponses.cs
  skills/csharp/experimental/newsskill/Responses/FavoriteTopics/FavoriteTopicsResponses.tt
  skills/csharp/experimental/newsskill/Responses/FindArticles/FindArticlesResponses.cs
  skills/csharp/experimental/newsskill/Responses/FindArticles/FindArticlesResponses.tt
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.cs
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.tt
  skills/csharp/experimental/newsskill/Responses/TrendingArticles/TrendingArticlesResponses.cs
  skills/csharp/experimental/newsskill/Responses/TrendingArticles/TrendingArticlesResponses.tt
Labels: PR: unreviewed

#135 [Weather] Fix typo
  skills/csharp/experimental/weatherskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/weatherskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/experimental/weatherskill/wwwroot/manifest/manifest-1.1.json
Labels: PR: reviewed-approved

#106 [POI][ITSM][H] fix
  skills/csharp/experimental/hospitalityskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RoomServiceDialog.cs
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.de-de.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.es-es.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.fr-fr.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.it-it.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponses.zh-cn.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.de-de.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.es-es.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.fr-fr.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.it-it.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.lg
  skills/csharp/experimental/hospitalityskill/Responses/Main/MainResponsesTexts.zh-cn.lg
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/Responses/Main/MainResponses.cs
  skills/csharp/experimental/itsmskill/Responses/Main/MainResponses.lg
  skills/csharp/experimental/itsmskill/Responses/Main/MainResponsesTexts.lg
  skills/csharp/experimental/itsmskill/Responses/Shared/SharedStrings.Designer.cs
  skills/csharp/experimental/itsmskill/Responses/Shared/SharedStrings.resx
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/GeneralFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/LateCheckOutFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/GeneralFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/KnowledgeShowTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/FindParkingDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GeneralSkillFlowTests.cs
Labels: PR: reviewed-approved

#133 [POI] fix interrupt and add test
  skills/csharp/pointofinterestskill/Dialogs/GetDirectionsDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/pointofinterestskill/Models/PointOfInterestSkillState.cs
  skills/csharp/pointofinterestskill/Models/StateProperties.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GetDirectionsDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/PointOfInterestDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/PointOfInterestSkillTestBase.cs
Labels: PR: reviewed-approved

#130 [calendar]fix meeting room bugs & optimize the flow
  skills/csharp/calendarskill/Deployment/Resources/LU/de-de/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/en-us/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/es-es/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/fr-fr/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/it-it/Calendar.lu
  skills/csharp/calendarskill/Deployment/Resources/LU/zh-cn/Calendar.lu
  skills/csharp/calendarskill/Deployment/Scripts/azuresearch_functions.ps1
  skills/csharp/calendarskill/Dialogs/FindMeetingRoomDialog.cs
  skills/csharp/calendarskill/Models/CreateEventStateModel.cs
  skills/csharp/calendarskill/Prompts/GetBuildingPrompt.cs
  skills/csharp/calendarskill/Prompts/GetRecreateMeetingRoomInfoPrompt.cs
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.de-de.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.es-es.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.fr-fr.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.it-it.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogActivities.zh-cn.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.de-de.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.es-es.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.fr-fr.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.it-it.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.lg
  skills/csharp/calendarskill/Responses/FindMeetingRoom/FindMeetingRoomDialogTexts.zh-cn.lg
  skills/csharp/calendarskill/Services/AzureSearchAPI/AzureSearchClient.cs
  skills/csharp/calendarskill/Services/DefaultSearchClient.cs
  skills/csharp/calendarskill/Services/ISearchService.cs
  skills/csharp/calendarskill/Services/MSGraphAPI/MSGraphCalendarAPI.cs
  skills/csharp/calendarskill/Utilities/CalendarCommonUtil.cs
  skills/csharp/tests/calendarskill.tests/Flow/BookMeetingRoomFlowTests.cs
  skills/csharp/tests/calendarskill.tests/Flow/Fakes/MockSearchClient.cs
  skills/csharp/tests/calendarskill.tests/Flow/Strings/Strings.cs
  skills/csharp/tests/calendarskill.tests/Flow/Utterances/BookMeetingRoomTestUtterances.cs
Labels: PR: reviewed-approved

#137 [Phone] align to skill template
  skills/csharp/experimental/phoneskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/phoneskill/Authentication/AllowedCallersClaimsValidator.cs
  skills/csharp/experimental/phoneskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/phoneskill/Common/ContactFilter.cs
  skills/csharp/experimental/phoneskill/Common/IContactProvider.cs
  skills/csharp/experimental/phoneskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/phoneskill/Dialogs/OutgoingCallDialog.cs
  skills/csharp/experimental/phoneskill/Dialogs/PhoneSkillDialogBase.cs
  skills/csharp/experimental/phoneskill/Models/Actions/ActionResult.cs
  skills/csharp/experimental/phoneskill/Models/Actions/OutgoingCallRequest.cs
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/phoneskill/Services/BotServices.cs
  skills/csharp/experimental/phoneskill/Services/GoogleAPI/GoogleContactProvider.cs
  skills/csharp/experimental/phoneskill/Services/MSGraphAPI/GraphContactProvider.cs
  skills/csharp/experimental/phoneskill/Startup.cs
  skills/csharp/experimental/phoneskill/Utilities/LocaleTemplateManagerWrapper.cs
  skills/csharp/experimental/phoneskill/appsettings.json
  skills/csharp/shared/SkillServiceLibrary/SkillServiceLibrary.csproj
  skills/csharp/shared/SkillServiceLibrary/Utilities/ITurnContextEx.cs
  skills/csharp/tests/SkillServiceLibrary.Fakes/SkillServiceLibrary.Fakes.csproj
  skills/csharp/tests/SkillServiceLibrary.Tests/SkillServiceLibrary.Tests.csproj
  skills/csharp/tests/phoneskill.tests/PhoneSkill.Tests.csproj
  skills/csharp/tests/phoneskill.tests/TestDouble/MockLuisRecognizer.cs
  skills/csharp/tests/phoneskill.tests/TestDouble/StubContactProvider.cs
Labels: PR: reviewed-approved

#138 [Hospitality] update to latest
  skills/csharp/experimental/hospitalityskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/hospitalityskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/CheckOutDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/ExtendStayDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/GetReservationDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/HospitalityDialogBase.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/LateCheckOutDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RequestItemDialog.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RoomServiceDialog.cs
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/hospitalityskill/Services/BotServices.cs
  skills/csharp/experimental/hospitalityskill/Startup.cs
  skills/csharp/experimental/hospitalityskill/appsettings.json
  skills/csharp/shared/SkillServiceLibrary/Utilities/AllowedCallersClaimsValidator.cs
  skills/csharp/shared/SkillServiceLibrary/Utilities/ITurnContextEx.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/CheckOutFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/ExtendStayFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/Fakes/BaseMockLuisRecognizer.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/GeneralFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/GetReservationFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/LateCheckOutFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/RequestItemFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/Flow/RoomServiceFlowTests.cs
  skills/csharp/tests/hospitalityskill.tests/HospitalitySkill.Tests.csproj
Labels: PR: reviewed-approved

#119 [Email] new delete email flow
  skills/csharp/emailskill/Dialogs/EmailSkillDialogBase.cs
  skills/csharp/emailskill/Dialogs/FindContactDialog.cs
  skills/csharp/emailskill/Dialogs/SendEmailDialog.cs
  skills/csharp/emailskill/Dialogs/ShowEmailDialog.cs
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailActivities.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailResponses.cs
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.de-de.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.es-es.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.fr-fr.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.it-it.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.lg
  skills/csharp/emailskill/Responses/ShowEmail/ShowEmailTexts.zh-cn.lg
  skills/csharp/emailskill/Utilities/Actions.cs
  skills/csharp/tests/emailskill.tests/Flow/DeleteEmailFlowTests.cs
  skills/csharp/tests/emailskill.tests/Flow/EmailSkillTestBase.cs
  skills/csharp/tests/emailskill.tests/Flow/ForwardEmailFlowTests.cs
  skills/csharp/tests/emailskill.tests/Flow/ReplyFlowTests.cs
  skills/csharp/tests/emailskill.tests/Flow/SendEmailFlowTests.cs
  skills/csharp/tests/emailskill.tests/Flow/ShowEmailFlowTests.cs
Labels: PR: unreviewed

#139 [calendar] update enable meeting room script
  skills/csharp/calendarskill/Deployment/Scripts/enable_findmeetingroom.ps1
Labels: PR: reviewed-approved

#116 [POI] add speak related en-us
  skills/csharp/pointofinterestskill/Dialogs/FindParkingDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/pointofinterestskill/Dialogs/RouteDialog.cs
  skills/csharp/pointofinterestskill/Models/CardNames.cs
  skills/csharp/pointofinterestskill/Responses/FindPointOfInterest/FindPointOfInterestResponses.cs
  skills/csharp/pointofinterestskill/Responses/FindPointOfInterest/FindPointOfInterestResponses.lg
  skills/csharp/pointofinterestskill/Responses/FindPointOfInterest/FindPointOfInterestResponsesTexts.lg
  skills/csharp/pointofinterestskill/Responses/Route/RouteResponses.cs
  skills/csharp/pointofinterestskill/Responses/Route/RouteResponses.lg
  skills/csharp/pointofinterestskill/Responses/Route/RouteResponsesTexts.lg
  skills/csharp/pointofinterestskill/Responses/Shared/POISharedResponses.lg
  skills/csharp/pointofinterestskill/Responses/Shared/POISharedResponsesTexts.lg
  skills/csharp/pointofinterestskill/Utilities/LocaleTemplateManagerWrapper.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GeneralSkillFlowTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Strings/CardStrings.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Strings/ContextStrings.cs
Labels: PR: reviewed-approved

#142 [ITSM] update to latest
  skills/csharp/experimental/hospitalityskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/hospitalityskill/Dialogs/RoomServiceDialog.cs
  skills/csharp/experimental/itsmskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/itsmskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/itsmskill/Dialogs/CloseTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/CreateTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowKnowledgeDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/itsmskill/Dialogs/UpdateTicketDialog.cs
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/itsmskill/Prompts/GeneralPrompt.cs
  skills/csharp/experimental/itsmskill/Services/BotServices.cs
  skills/csharp/experimental/itsmskill/Startup.cs
  skills/csharp/experimental/itsmskill/appsettings.json
  skills/csharp/tests/itsmskill.tests/Flow/Fakes/BaseMockLuisRecognizer.cs
  skills/csharp/tests/itsmskill.tests/Flow/GeneralFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/KnowledgeShowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketCloseFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketCreateFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketShowFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketUpdateFlowTests.cs
  skills/csharp/tests/itsmskill.tests/ITSMSkill.Tests.csproj
Labels: PR: reviewed-approved

#145 [POI] update to latest
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Adapters/DefaultAdapter.cs
  skills/csharp/pointofinterestskill/Bots/DefaultActivityHandler.cs
  skills/csharp/pointofinterestskill/Dialogs/CancelRouteDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/FindParkingDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/FindPointOfInterestDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/GetDirectionsDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/pointofinterestskill/Dialogs/RouteDialog.cs
  skills/csharp/pointofinterestskill/Models/ActionNames.cs
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.de-de.lg
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.es-es.lg
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.fr-fr.lg
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.it-it.lg
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.lg
  skills/csharp/pointofinterestskill/Responses/Main/POIMainResponses.zh-cn.lg
  skills/csharp/pointofinterestskill/Services/BotServices.cs
  skills/csharp/pointofinterestskill/Startup.cs
  skills/csharp/pointofinterestskill/Utilities/Actions.cs
  skills/csharp/pointofinterestskill/appsettings.json
  skills/csharp/tests/pointofinterestskill.tests/Flow/Fakes/MockGeneralLuisRecognizer.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Fakes/MockPointOfInterestLuisRecognizer.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GeneralSkillFlowTests.cs
  skills/csharp/tests/pointofinterestskill.tests/PointOfInterestSkill.Tests.csproj
Labels: PR: reviewed-approved

#143 [BingSearch/News/Event] align to skill template
  skills/csharp/experimental/bingsearchskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/bingsearchskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/bingsearchskill/Controllers/BotController.cs
  skills/csharp/experimental/bingsearchskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/bingsearchskill/Dialogs/SearchDialog.cs
  skills/csharp/experimental/bingsearchskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/bingsearchskill/Services/BotServices.cs
  skills/csharp/experimental/bingsearchskill/Startup.cs
  skills/csharp/experimental/bingsearchskill/Utilities/LocaleTemplateManagerWrapper.cs
  skills/csharp/experimental/bingsearchskill/appsettings.json
  skills/csharp/experimental/eventskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/eventskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/eventskill/Dialogs/EventDialogBase.cs
  skills/csharp/experimental/eventskill/Dialogs/FindEventsDialog.cs
  skills/csharp/experimental/eventskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/eventskill/Services/BotServices.cs
  skills/csharp/experimental/eventskill/Startup.cs
  skills/csharp/experimental/eventskill/Utilities/LocaleTemplateManagerWrapper.cs
  skills/csharp/experimental/eventskill/appsettings.json
  skills/csharp/experimental/newsskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/newsskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/newsskill/Controllers/BotController.cs
  skills/csharp/experimental/newsskill/Dialogs/FavoriteTopicsDialog.cs
  skills/csharp/experimental/newsskill/Dialogs/FindArticlesDialog.cs
  skills/csharp/experimental/newsskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/newsskill/Dialogs/NewsDialogBase.cs
  skills/csharp/experimental/newsskill/Dialogs/TrendingArticlesDialog.cs
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/newsskill/Responses/FavoriteTopics/FavoriteTopicsResponses.cs
  skills/csharp/experimental/newsskill/Responses/FindArticles/FindArticlesResponses.cs
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.cs
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.de-de.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.es-es.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.fr-fr.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.it-it.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStrings.zh-cn.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.de-de.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.es-es.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.fr-fr.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.it-it.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.lg
  skills/csharp/experimental/newsskill/Responses/Main/MainStringsTexts.zh-cn.lg
  skills/csharp/experimental/newsskill/Responses/TrendingArticles/TrendingArticlesResponses.cs
  skills/csharp/experimental/newsskill/Services/BotServices.cs
  skills/csharp/experimental/newsskill/Services/NewsClient.cs
  skills/csharp/experimental/newsskill/Startup.cs
  skills/csharp/experimental/newsskill/appsettings.json
  skills/csharp/experimental/phoneskill/Authentication/AllowedCallersClaimsValidator.cs
  skills/csharp/experimental/phoneskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/phoneskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/phoneskill/Startup.cs
  skills/csharp/shared/SkillServiceLibrary/Services/AzureMapsAPI/AzureMapsGeoSpatialService.cs
  skills/csharp/shared/SkillServiceLibrary/Services/FoursquareAPI/FoursquareGeoSpatialService.cs
Labels: PR: unreviewed

#148 [phone] Fixing issue when migrate to luisV3
  skills/csharp/experimental/phoneskill/Services/BotServices.cs
Labels: PR: partially-approved

#146 [email] align to skill template
  skills/csharp/emailskill/Adapters/DefaultAdapter.cs
  skills/csharp/emailskill/Bots/DefaultActivityHandler.cs
  skills/csharp/emailskill/Dialogs/DeleteEmailDialog.cs
  skills/csharp/emailskill/Dialogs/EmailSkillDialogBase.cs
  skills/csharp/emailskill/Dialogs/FindContactDialog.cs
  skills/csharp/emailskill/Dialogs/ForwardEmailDialog.cs
  skills/csharp/emailskill/Dialogs/MainDialog.cs
  skills/csharp/emailskill/Dialogs/ReplyEmailDialog.cs
  skills/csharp/emailskill/Dialogs/SendEmailDialog.cs
  skills/csharp/emailskill/Dialogs/ShowEmailDialog.cs
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/emailskill/Services/BotServices.cs
  skills/csharp/emailskill/Startup.cs
  skills/csharp/emailskill/appsettings.json
  skills/csharp/tests/emailskill.tests/Flow/Fakes/MockEmailLuisRecognizer.cs
  skills/csharp/tests/emailskill.tests/Flow/Fakes/MockGeneralLuisRecognizer.cs
Labels: PR: partially-approved

#147 [calendar] align to template
  skills/csharp/calendarskill/Adapters/DefaultAdapter.cs
  skills/csharp/calendarskill/Bots/DefaultActivityHandler.cs
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Dialogs/BookMeetingRoomDialog.cs
  skills/csharp/calendarskill/Dialogs/CalendarSkillDialogBase.cs
  skills/csharp/calendarskill/Dialogs/ChangeEventStatusDialog.cs
  skills/csharp/calendarskill/Dialogs/CheckPersonAvailableDialog.cs
  skills/csharp/calendarskill/Dialogs/CreateEventDialog.cs
  skills/csharp/calendarskill/Dialogs/FindContactDialog.cs
  skills/csharp/calendarskill/Dialogs/FindMeetingRoomDialog.cs
  skills/csharp/calendarskill/Dialogs/JoinEventDialog.cs
  skills/csharp/calendarskill/Dialogs/MainDialog.cs
  skills/csharp/calendarskill/Dialogs/ShowEventsDialog.cs
  skills/csharp/calendarskill/Dialogs/TimeRemainingDialog.cs
  skills/csharp/calendarskill/Dialogs/UpcomingEventDialog.cs
  skills/csharp/calendarskill/Dialogs/UpdateEventDialog.cs
  skills/csharp/calendarskill/Dialogs/UpdateMeetingRoomDialog.cs
  skills/csharp/calendarskill/Models/ActionInfos/ActionResult.cs
  skills/csharp/calendarskill/Models/ActionInfos/ChooseEventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/DateInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/EventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/EventInfoOutput.cs
  skills/csharp/calendarskill/Models/ActionInfos/SummaryResult.cs
  skills/csharp/calendarskill/Models/ActionInfos/UpdateEventInfo.cs
  skills/csharp/calendarskill/Models/ActionInfos/timeRemainingOutput.cs
  skills/csharp/calendarskill/Models/AvailabilityResult.cs
  skills/csharp/calendarskill/Models/RoomModel.cs
  skills/csharp/calendarskill/Models/StateProperties.cs
  skills/csharp/calendarskill/Prompts/GetEventPrompt.cs
  skills/csharp/calendarskill/Prompts/GetFloorNumberPrompt.cs
  skills/csharp/calendarskill/Prompts/GetRecreateMeetingRoomInfoPrompt.cs
  skills/csharp/calendarskill/Services/BotServices.cs
  skills/csharp/calendarskill/Services/BotSettings.cs
  skills/csharp/calendarskill/Services/CalendarService.cs
  skills/csharp/calendarskill/Services/GoogleAPI/GoogleCalendarAPI.cs
  skills/csharp/calendarskill/Services/ICalendarService.cs
  skills/csharp/calendarskill/Services/MSGraphAPI/MSGraphCalendarAPI.cs
  skills/csharp/calendarskill/Startup.cs
  skills/csharp/calendarskill/Utilities/CalendarCommonUtil.cs
  skills/csharp/calendarskill/appsettings.json
  skills/csharp/tests/calendarskill.tests/API/CalendarServiceBaseTests.cs
  skills/csharp/tests/calendarskill.tests/API/CalendarServiceGoogleTests.cs
  skills/csharp/tests/calendarskill.tests/API/CalendarServiceMSGrapghTests.cs
  skills/csharp/tests/calendarskill.tests/API/Fakes/MockBaseClient/MockBaseServiceClient.cs
  skills/csharp/tests/calendarskill.tests/Flow/Fakes/MockCalendarService.cs
  skills/csharp/tests/calendarskill.tests/Flow/Fakes/MockLuisRecognizer.cs
  skills/csharp/tests/calendarskill.tests/Flow/Fakes/MockServiceManager.cs
Labels: PR: reviewed-approved

#141 [automotive] align to skill template
  skills/csharp/experimental/automotiveskill/Adapters/DefaultAdapter.cs
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/automotiveskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/automotiveskill/Dialogs/AutomotiveSkillDialogBase.cs
  skills/csharp/experimental/automotiveskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/automotiveskill/Dialogs/VehicleSettingsDialog.cs
  skills/csharp/experimental/automotiveskill/Services/BotServices.cs
  skills/csharp/experimental/automotiveskill/Startup.cs
  skills/csharp/experimental/automotiveskill/appsettings.json
  skills/csharp/tests/automotiveskill.tests/Flow/Fakes/MockLuisRecognizer.cs
Labels: PR: partially-approved

#88 [Weather] Migrate weather API to Azure Maps
  skills/csharp/Skills.sln
  skills/csharp/experimental/weatherskill/Dialogs/ForecastDialog.cs
  skills/csharp/experimental/weatherskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/weatherskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/AdministrativeArea.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Country.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/DailyForecast.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Day.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Direction.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Elevation.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/ForecastResponse.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Geoposition.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Headline.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/HourlyForecast.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Imperial.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Location.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Metric.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Night.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Region.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Speed.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/SupplementalAdminArea.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Temperature.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Timezone.cs
  skills/csharp/experimental/weatherskill/Models/Accuweather/Wind.cs
  skills/csharp/experimental/weatherskill/Models/Action/ActionNames.cs
  skills/csharp/experimental/weatherskill/Models/SkillState.cs
  skills/csharp/experimental/weatherskill/Services/AccuweatherService.cs
  skills/csharp/experimental/weatherskill/Services/IServiceManager.cs
  skills/csharp/experimental/weatherskill/Services/ServiceManager.cs
  skills/csharp/experimental/weatherskill/Startup.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/DailyForecast.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/DailyForecastResponse.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/DailyForecastSummary.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/DayOrNight.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/HourlyForecast.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/HourlyForecastResponse.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/SearchAddressReverseResponse.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/SearchAddressReverseResult.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/WeatherUnit.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/WeatherUnitRange.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/Wind.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/WindDirection.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/WindSpeed.cs
  skills/csharp/shared/SkillServiceLibrary/Services/AzureMapsAPI/AzureMapsWeatherService.cs
  skills/csharp/shared/SkillServiceLibrary/Services/IWeatherService.cs
  skills/csharp/tests/SkillServiceLibrary.Fakes/AzureMapsAPI/Fakes/MockHttpClientHandlerWeatherGen.cs
  skills/csharp/tests/SkillServiceLibrary.Fakes/SkillServiceLibrary.Fakes.csproj
  skills/csharp/tests/weatherSkill.tests/Flow/Fakes/MockData.cs
  skills/csharp/tests/weatherSkill.tests/Flow/Fakes/MockLuisRecognizer.cs
  skills/csharp/tests/weatherSkill.tests/Flow/Fakes/MockServiceManager.cs
  skills/csharp/tests/weatherSkill.tests/Flow/ForecastFlowTests.cs
  skills/csharp/tests/weatherSkill.tests/Flow/Utterances/BaseTestUtterances.cs
  skills/csharp/tests/weatherSkill.tests/Flow/Utterances/ForecastUtterances.cs
  skills/csharp/tests/weatherSkill.tests/Flow/Utterances/GeneralTestUtterances.cs
  skills/csharp/tests/weatherSkill.tests/Flow/WeatherSkillTestBase.cs
  skills/csharp/tests/weatherSkill.tests/WeatherSkill.Tests.csproj
Labels: PR: partially-approved
