Repository microsoft/botframework-components, pull requests merged in 2020-04, with the labels that each got.

#149 update skills to use oauthcredentials
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Dialogs/CalendarSkillDialogBase.cs
  skills/csharp/calendarskill/appsettings.json
  skills/csharp/emailskill/Dialogs/EmailSkillDialogBase.cs
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/emailskill/appsettings.json
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/todoskill/Dialogs/ToDoSkillDialogBase.cs
  skills/csharp/todoskill/ToDoSkill.csproj
  skills/csharp/todoskill/appsettings.json
Labels: PR: partially-approved

#152 [ITSM][Phone] add oauthCredentials
  skills/csharp/experimental/itsmskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/itsmskill/appsettings.json
  skills/csharp/experimental/phoneskill/Dialogs/PhoneSkillDialogBase.cs
  skills/csharp/experimental/phoneskill/appsettings.json
Labels: PR: partially-approved

#155 [POI] add go back
  skills/csharp/pointofinterestskill/Deployment/Resources/LU/en-us/PointOfInterest.lu
  skills/csharp/pointofinterestskill/Dialogs/FindParkingDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/FindPointOfInterestDialog.cs
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/pointofinterestskill/Services/PointOfInterestLuis.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/EntryPoint.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/EntryPointType.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/GeocodePoint.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/OpeningHours.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/OpeningHoursMode.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/PoiBrand.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/PoiInfo.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/SearchResult.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/Time.cs
  skills/csharp/shared/SkillServiceLibrary/Models/AzureMaps/TimeRange.cs
  skills/csharp/shared/SkillServiceLibrary/Models/PointofInterestModel.cs
  skills/csharp/shared/SkillServiceLibrary/Services/AzureMapsAPI/AzureMapsGeoSpatialService.cs
  skills/csharp/shared/SkillServiceLibrary/Services/AzureMapsAPI/PointOfInterestModelEx.cs
  skills/csharp/shared/SkillServiceLibrary/Services/FoursquareAPI/FoursquareGeoSpatialService.cs
  skills/csharp/shared/SkillServiceLibrary/Services/IGeoSpatialService.cs
  skills/csharp/tests/SkillServiceLibrary.Fakes/AzureMapsAPI/Fakes/MockData.cs
  skills/csharp/tests/SkillServiceLibrary.Fakes/AzureMapsAPI/Fakes/MockHttpClientHandlerGen.cs
  skills/csharp/tests/SkillServiceLibrary.Tests/AzureMapsAPI/AzureMapsGeoSpatialServiceTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/FindParkingDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GetDirectionsDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/PointOfInterestDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Utterances/GeneralTestUtterances.cs
Labels: PR: partially-approved

#159 Return raw POI data via ChannelData to support Comcast integration
  skills/csharp/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/csharp/shared/SkillServiceLibrary/Models/PointOfInterestModelSlim.cs
Labels: PR: partially-approved

#140 [ITSM][ServiceNow] Implement ServiceNow Controller
  skills/csharp/experimental/itsmskill/Bots/DefaultActivityHandler.cs
  skills/csharp/experimental/itsmskill/Controllers/ServiceNow/IMessageReceiver.cs
  skills/csharp/experimental/itsmskill/Controllers/ServiceNow/ServiceNowController.cs
  skills/csharp/experimental/itsmskill/Controllers/ServiceNow/ServiceNowControllerBase.cs
  skills/csharp/experimental/itsmskill/Controllers/ServiceNow/ServiceNowMessageReceiver.cs
  skills/csharp/experimental/itsmskill/Controllers/ServiceNow/ServiceResponse.cs
  skills/csharp/experimental/itsmskill/Extensions/NotificationToAdaptiveCardExtension.cs
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/itsmskill/Models/ServiceNow/ServiceNowNotification.cs
  skills/csharp/experimental/itsmskill/Proactive/ServiceNowEvents.cs
  skills/csharp/experimental/itsmskill/Startup.cs
  skills/csharp/tests/itsmskill.tests/API/Fakes/MockData.cs
  skills/csharp/tests/itsmskill.tests/API/ServiceNowServiceTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/SkillTestBase.cs
Labels: PR: partially-approved

#161 Pavolum/poi ext
  skills/csharp/shared/SkillServiceLibrary/Models/PointOfInterestModelSlim.cs
  skills/csharp/shared/SkillServiceLibrary/Models/PointofInterestModel.cs
  skills/csharp/shared/SkillServiceLibrary/Services/AzureMapsAPI/AzureMapsGeoSpatialService.cs
  skills/csharp/shared/SkillServiceLibrary/Services/FoursquareAPI/FoursquareGeoSpatialService.cs
Labels: PR: unreviewed

#160 [POI] add zipcode support
  skills/csharp/pointofinterestskill/Dialogs/MainDialog.cs
  skills/csharp/pointofinterestskill/Models/ActionBaseInput.cs
  skills/csharp/pointofinterestskill/wwwroot/manifest/manifest-1.0.json
  skills/csharp/pointofinterestskill/wwwroot/manifest/manifest-1.1.json
  skills/csharp/tests/pointofinterestskill.tests/Flow/FindParkingDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/GetDirectionsDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/PointOfInterestDialogTests.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Utterances/FindParkingUtterances.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Utterances/FindPointOfInterestUtterances.cs
  skills/csharp/tests/pointofinterestskill.tests/Flow/Utterances/RouteFromXToYUtterances.cs
Labels: PR: partially-approved

#165 [Calendar] add declarative calendar skill
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/CreateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-generation/en-us/CreateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-understanding/en-us/CreateMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/FindContactDialog/FindContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindContactDialog/language-generation/en-us/FindContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindContactDialog/language-understanding/en-us/FindContactDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-understanding/en-us/FindSingleContactDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-understanding/en-us/ShowMeetingDialog.en-us.lu
  skills/declarative/calendarskill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarskill/settings/appsettings.json
Labels: PR: partially-approved

#167 Composer whoSkill
  skills/declarative/whoskill/dialogs/ExtractKeyword/ExtractKeyword.dialog
  skills/declarative/whoskill/dialogs/ExtractKeyword/language-generation/en-us/ExtractKeyword.en-us.lg
  skills/declarative/whoskill/dialogs/ExtractKeyword/language-understanding/en-us/ExtractKeyword.en-us.lu
  skills/declarative/whoskill/dialogs/GetDirectReports/GetDirectReports.dialog
  skills/declarative/whoskill/dialogs/GetDirectReports/language-generation/en-us/GetDirectReports.en-us.lg
  skills/declarative/whoskill/dialogs/GetDirectReports/language-understanding/en-us/GetDirectReports.en-us.lu
  skills/declarative/whoskill/dialogs/GetEmailContacts/GetEmailContacts.dialog
  skills/declarative/whoskill/dialogs/GetEmailContacts/language-generation/en-us/GetEmailContacts.en-us.lg
  skills/declarative/whoskill/dialogs/GetEmailContacts/language-understanding/en-us/GetEmailContacts.en-us.lu
  skills/declarative/whoskill/dialogs/GetEventContacts/GetEventContacts.dialog
  skills/declarative/whoskill/dialogs/GetEventContacts/language-generation/en-us/GetEventContacts.en-us.lg
  skills/declarative/whoskill/dialogs/GetEventContacts/language-understanding/en-us/GetEventContacts.en-us.lu
  skills/declarative/whoskill/dialogs/GetManager/GetManager.dialog
  skills/declarative/whoskill/dialogs/GetManager/language-generation/en-us/GetManager.en-us.lg
  skills/declarative/whoskill/dialogs/GetManager/language-understanding/en-us/GetManager.en-us.lu
  skills/declarative/whoskill/dialogs/GetPeers/GetPeers.dialog
  skills/declarative/whoskill/dialogs/GetPeers/language-generation/en-us/GetPeers.en-us.lg
  skills/declarative/whoskill/dialogs/GetPeers/language-understanding/en-us/GetPeers.en-us.lu
  skills/declarative/whoskill/dialogs/ProcessSearchKeywordResult/ProcessSearchKeywordResult.dialog
  skills/declarative/whoskill/dialogs/ProcessSearchKeywordResult/language-generation/en-us/ProcessSearchKeywordResult.en-us.lg
  skills/declarative/whoskill/dialogs/ProcessSearchKeywordResult/language-understanding/en-us/ProcessSearchKeywordResult.en-us.lu
  skills/declarative/whoskill/dialogs/SearchForFinalResult/SearchForFinalResult.dialog
  skills/declarative/whoskill/dialogs/SearchForFinalResult/language-generation/en-us/SearchForFinalResult.en-us.lg
  skills/declarative/whoskill/dialogs/SearchForFinalResult/language-understanding/en-us/SearchForFinalResult.en-us.lu
  skills/declarative/whoskill/dialogs/SearchPerson/SearchPerson.dialog
  skills/declarative/whoskill/dialogs/SearchPerson/language-generation/en-us/SearchPerson.en-us.lg
  skills/declarative/whoskill/dialogs/SearchPerson/language-understanding/en-us/SearchPerson.en-us.lu
  skills/declarative/whoskill/dialogs/SendPage/SendPage.dialog
  skills/declarative/whoskill/dialogs/SendPage/language-generation/en-us/SendPage.en-us.lg
  skills/declarative/whoskill/dialogs/SendPage/language-understanding/en-us/SendPage.en-us.lu
  skills/declarative/whoskill/dialogs/ShowItem/ShowItem.dialog
  skills/declarative/whoskill/dialogs/ShowItem/language-generation/en-us/ShowItem.en-us.lg
  skills/declarative/whoskill/dialogs/ShowItem/language-understanding/en-us/ShowItem.en-us.lu
  skills/declarative/whoskill/dialogs/ShowList/ShowList.dialog
  skills/declarative/whoskill/dialogs/ShowList/language-generation/en-us/ShowList.en-us.lg
  skills/declarative/whoskill/dialogs/ShowList/language-understanding/en-us/ShowList.en-us.lu
  skills/declarative/whoskill/dialogs/ShowNext/ShowNext.dialog
  skills/declarative/whoskill/dialogs/ShowNext/language-generation/en-us/ShowNext.en-us.lg
  skills/declarative/whoskill/dialogs/ShowNext/language-understanding/en-us/ShowNext.en-us.lu
  skills/declarative/whoskill/dialogs/ShowPrevious/ShowPrevious.dialog
  skills/declarative/whoskill/dialogs/ShowPrevious/language-generation/en-us/ShowPrevious.en-us.lg
  skills/declarative/whoskill/dialogs/ShowPrevious/language-understanding/en-us/ShowPrevious.en-us.lu
  skills/declarative/whoskill/language-generation/en-us/common.en-us.lg
  skills/declarative/whoskill/language-generation/en-us/whoskill.en-us.lg
  skills/declarative/whoskill/language-understanding/en-us/whoskill.en-us.lu
  skills/declarative/whoskill/settings/appsettings.json
  skills/declarative/whoskill/whoskill.dialog
Labels: PR: partially-approved

#169 [Calendar] Accept-Delete-Update and BookMeetingRoom
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/language-generation/en-us/AcceptMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/language-understanding/en-us/AcceptMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-generation/en-us/BookMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-understanding/en-us/BookMeetingRoom.en-us.lu
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-generation/en-us/DeleteMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-understanding/en-us/DeleteMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/FindMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-generation/en-us/FindMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-understanding/en-us/FindMeetingRoom.en-us.lu
  skills/declarative/calendarskill/dialogs/SearchMeetings/SearchMeetings.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetings/language-generation/en-us/SearchMeetings.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetings/language-understanding/en-us/SearchMeetings.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDateTime/SetDateTime.dialog
  skills/declarative/calendarskill/dialogs/SetDateTime/language-generation/en-us/SetDateTime.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDateTime/language-understanding/en-us/SetDateTime.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDuration/SetDuration.dialog
  skills/declarative/calendarskill/dialogs/SetDuration/language-generation/en-us/SetDuration.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDuration/language-understanding/en-us/SetDuration.en-us.lu
  skills/declarative/calendarskill/dialogs/SetTitle/SetTitle.dialog
  skills/declarative/calendarskill/dialogs/SetTitle/language-generation/en-us/SetTitle.en-us.lg
  skills/declarative/calendarskill/dialogs/SetTitle/language-understanding/en-us/SetTitle.en-us.lu
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-generation/en-us/UpdateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-understanding/en-us/UpdateMeetingDialog.en-us.lu
  skills/declarative/calendarskill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarskill/settings/appsettings.json
Labels: PR: unreviewed

#166 [Skills] Update Directory.Build.props and project files
  skills/csharp/Directory.Build.props
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/tests/hospitalityskill.tests/HospitalitySkill.Tests.csproj
  skills/csharp/tests/itsmskill.tests/ITSMSkill.Tests.csproj
  skills/csharp/tests/musicskill.Tests/MusicSkill.Tests.csproj
  skills/csharp/tests/phoneskill.tests/PhoneSkill.Tests.csproj
  skills/csharp/tests/pointofinterestskill.tests/PointOfInterestSkill.Tests.csproj
  skills/csharp/todoskill/ToDoSkill.csproj
Labels: PR: partially-approved

#171 use special cards for pva
  skills/csharp/experimental/itsmskill/Content/Knowledge.pva.json
  skills/csharp/experimental/itsmskill/Content/Ticket.pva.json
  skills/csharp/experimental/itsmskill/Content/TicketUpdate.pva.json
  skills/csharp/experimental/itsmskill/Content/TicketUpdateClose.pva.json
  skills/csharp/experimental/itsmskill/Dialogs/CloseTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/CreateTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/itsmskill/Dialogs/UpdateTicketDialog.cs
Labels: PR: partially-approved

#173 [DToDo] mirror delete from mark
  skills/declarative/todoskill/BotDesign.md
  skills/declarative/todoskill/ToDoSkill.dialog
  skills/declarative/todoskill/dialogs/AddToDo/AddToDo.dialog
  skills/declarative/todoskill/dialogs/AddToDo/language-generation/en-us/AddToDo.en-us.lg
  skills/declarative/todoskill/dialogs/AddToDo/language-understanding/en-us/AddToDo.en-us.lu
  skills/declarative/todoskill/dialogs/DeleteInListOutlook/DeleteInListOutlook.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/DeleteToDo.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/language-generation/en-us/DeleteToDo.en-us.lg
  skills/declarative/todoskill/dialogs/DeleteToDo/language-understanding/en-us/DeleteToDo.en-us.lu
  skills/declarative/todoskill/dialogs/MarkToDo/MarkToDo.dialog
  skills/declarative/todoskill/dialogs/ShowToDo/ShowToDo.dialog
  skills/declarative/todoskill/dialogs/ShowToDo/language-generation/en-us/ShowToDo.en-us.lg
  skills/declarative/todoskill/language-generation/en-us/common.en-us.lg
Labels: PR: partially-approved

#172 [calendar] change oauth and httprequest to dialog
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingRequest/AcceptMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingRequest/language-generation/en-us/AcceptMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/AcceptMeetingRequest/language-understanding/en-us/AcceptMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/language-generation/en-us/CreateMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/language-understanding/en-us/CreateMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingRequest/DeleteMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingRequest/language-generation/en-us/DeleteMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/DeleteMeetingRequest/language-understanding/en-us/DeleteMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/FindMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-generation/en-us/FindMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/GetAuthToken/GetAuthToken.dialog
  skills/declarative/calendarskill/dialogs/GetAuthToken/language-generation/en-us/GetAuthToken.en-us.lg
  skills/declarative/calendarskill/dialogs/GetAuthToken/language-understanding/en-us/GetAuthToken.en-us.lu
  skills/declarative/calendarskill/dialogs/GetScheduleRequest/GetScheduleRequest.dialog
  skills/declarative/calendarskill/dialogs/GetScheduleRequest/language-generation/en-us/GetScheduleRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/GetScheduleRequest/language-understanding/en-us/GetScheduleRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/SearchMeetingRoomReqeust/SearchMeetingRoomReqeust.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetingRoomReqeust/language-generation/en-us/SearchMeetingRoomReqeust.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingRoomReqeust/language-understanding/en-us/SearchMeetingRoomReqeust.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDuration/SetDuration.dialog
  skills/declarative/calendarskill/dialogs/SetDuration/language-generation/en-us/SetDuration.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-generation/en-us/UpdateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingRequest/UpdateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingRequest/language-generation/en-us/UpdateMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingRequest/language-understanding/en-us/UpdateMeetingRequest.en-us.lu
Labels: PR: partially-approved

#176 [DCalendar] add result for request
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/language-generation/en-us/AcceptMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/AcceptMeetingRequest/AcceptMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingRequest/language-generation/en-us/AcceptMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-generation/en-us/BookMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/language-generation/en-us/CreateMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-generation/en-us/DeleteMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/DeleteMeetingRequest/DeleteMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingRequest/language-generation/en-us/DeleteMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/FindMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-generation/en-us/FindMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/GetScheduleRequest/GetScheduleRequest.dialog
  skills/declarative/calendarskill/dialogs/GetScheduleRequest/language-generation/en-us/GetScheduleRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingRoomReqeust/SearchMeetingRoomReqeust.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetingRoomReqeust/language-generation/en-us/SearchMeetingRoomReqeust.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-generation/en-us/UpdateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingRequest/UpdateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingRequest/language-generation/en-us/UpdateMeetingRequest.en-us.lg
Labels: PR: partially-approved

#178 [Calendar] reuse some action and add read meeting logic
  skills/declarative/calendarskill/.gitignore
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/language-generation/en-us/AcceptMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/CreateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-generation/en-us/DeleteMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/GetContactRequest/GetContactRequest.dialog
  skills/declarative/calendarskill/dialogs/GetContactRequest/language-generation/en-us/GetContactRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/GetContactRequest/language-understanding/en-us/GetContactRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/language-generation/en-us/GetMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/language-understanding/en-us/GetMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/SearchMeetings/SearchMeetings.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetings/language-generation/en-us/SearchMeetings.en-us.lg
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-understanding/en-us/ShowMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-generation/en-us/UpdateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/settings/appsettings.json
Labels: PR: partially-approved

#180 [DCalendar] renaming and manage lu
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/language-generation/en-us/AcceptMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-generation/en-us/BookMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-understanding/en-us/BookMeetingRoom.en-us.lu
  skills/declarative/calendarskill/dialogs/ChooseMeeting/ChooseMeeting.dialog
  skills/declarative/calendarskill/dialogs/ChooseMeeting/language-generation/en-us/ChooseMeeting.en-us.lg
  skills/declarative/calendarskill/dialogs/ChooseMeeting/language-understanding/en-us/ChooseMeeting.en-us.lu
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/CreateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-generation/en-us/CreateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-understanding/en-us/CreateMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-generation/en-us/DeleteMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/FindMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-generation/en-us/FindMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/Search/Search.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetingRequest/SearchMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetingRequest/language-generation/en-us/SearchMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingRequest/language-understanding/en-us/SearchMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/SearchMeetings/SearchMeetings.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetings/language-generation/en-us/SearchMeetings.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingsByConditions/SearchMeetingsByConditions.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetingsByConditions/language-generation/en-us/SearchMeetingsByConditions.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingsByConditions/language-understanding/en-us/SearchMeetingsByConditions.en-us.lu
  skills/declarative/calendarskill/dialogs/SetContent/SetContent.dialog
  skills/declarative/calendarskill/dialogs/SetContent/language-generation/en-us/SetContent.en-us.lg
  skills/declarative/calendarskill/dialogs/SetContent/language-understanding/en-us/SetContent.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDateTime/SetDateTime.dialog
  skills/declarative/calendarskill/dialogs/SetDateTime/language-generation/en-us/SetDateTime.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDateTime/language-understanding/en-us/SetDateTime.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDuration/SetDuration.dialog
  skills/declarative/calendarskill/dialogs/SetDuration/language-generation/en-us/SetDuration.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDuration/language-understanding/en-us/SetDuration.en-us.lu
  skills/declarative/calendarskill/dialogs/SetLocation/SetLocation.dialog
  skills/declarative/calendarskill/dialogs/SetLocation/language-generation/en-us/SetLocation.en-us.lg
  skills/declarative/calendarskill/dialogs/SetLocation/language-understanding/en-us/SetLocation.en-us.lu
  skills/declarative/calendarskill/dialogs/SetTitle/SetTitle.dialog
  skills/declarative/calendarskill/dialogs/SetTitle/language-generation/en-us/SetTitle.en-us.lg
  skills/declarative/calendarskill/dialogs/SetTitle/language-understanding/en-us/SetTitle.en-us.lu
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/language-generation/en-us/UpdateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
Labels: PR: unreviewed

#181 [Calendar] add search meeting detail and contact choice
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-understanding/en-us/CreateMeetingDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/SetContent/language-understanding/en-us/SetContent.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDateTime/SetDateTime.dialog
  skills/declarative/calendarskill/dialogs/SetDateTime/language-understanding/en-us/SetDateTime.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDuration/language-understanding/en-us/SetDuration.en-us.lu
  skills/declarative/calendarskill/dialogs/SetLocation/language-understanding/en-us/SetLocation.en-us.lu
  skills/declarative/calendarskill/dialogs/SetTitle/language-understanding/en-us/SetTitle.en-us.lu
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-understanding/en-us/ShowMeetingDialog.en-us.lu
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
Labels: PR: unreviewed

#179 [ITSM] add fallback to knowledge search and two states
  skills/csharp/experimental/itsmskill/Deployment/Resources/LU/en-us/ITSM.lu
  skills/csharp/experimental/itsmskill/Dialogs/MainDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/ShowTicketDialog.cs
  skills/csharp/experimental/itsmskill/Dialogs/SkillDialogBase.cs
  skills/csharp/experimental/itsmskill/Models/BaseOption.cs
  skills/csharp/experimental/itsmskill/Models/TicketState.cs
  skills/csharp/experimental/itsmskill/Responses/Shared/SharedStrings.Designer.cs
  skills/csharp/experimental/itsmskill/Responses/Shared/SharedStrings.resx
  skills/csharp/experimental/itsmskill/Services/BotSettings.cs
  skills/csharp/experimental/itsmskill/Services/ITSMLuis.cs
  skills/csharp/experimental/itsmskill/appsettings.json
  skills/csharp/tests/itsmskill.tests/API/Fakes/MockServiceNowRestClient.cs
  skills/csharp/tests/itsmskill.tests/Flow/KnowledgeShowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/TicketShowFlowTests.cs
  skills/csharp/tests/itsmskill.tests/Flow/Utterances/TicketShowUtterances.cs
Labels: PR: partially-approved

#183 [Calendar] Support show next meeting and ask parameter
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarskill/settings/appsettings.json
  skills/declarative/todoskill/dialogs/DeleteToDo/DeleteToDo.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/language-generation/en-us/DeleteToDo.en-us.lg
  skills/declarative/todoskill/dialogs/MarkToDo/MarkToDo.dialog
  skills/declarative/todoskill/dialogs/MarkToDo/language-generation/en-us/MarkToDo.en-us.lg
Labels: PR: partially-approved

#184 [DToDo] various updates
  skills/declarative/todoskill/BotDesign.md
  skills/declarative/todoskill/ToDoSkill.dialog
  skills/declarative/todoskill/dialogs/AddToDo/AddToDo.dialog
  skills/declarative/todoskill/dialogs/AddToDo/language-generation/en-us/AddToDo.en-us.lg
  skills/declarative/todoskill/dialogs/AddToDo/language-understanding/en-us/AddToDo.en-us.lu
  skills/declarative/todoskill/dialogs/CorrectPage/CorrectPage.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/DeleteToDo.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/language-generation/en-us/DeleteToDo.en-us.lg
  skills/declarative/todoskill/dialogs/DeleteToDo/language-understanding/en-us/DeleteToDo.en-us.lu
  skills/declarative/todoskill/dialogs/GetInputListType/GetInputListType.dialog
  skills/declarative/todoskill/dialogs/GetInputListType/language-generation/en-us/GetInputListType.en-us.lg
  skills/declarative/todoskill/dialogs/GetInputListType/language-understanding/en-us/GetInputListType.en-us.lu
  skills/declarative/todoskill/dialogs/GetInputTaskContent/GetInputTaskContent.dialog
  skills/declarative/todoskill/dialogs/GetInputTaskContent/language-generation/en-us/GetInputTaskContent.en-us.lg
  skills/declarative/todoskill/dialogs/GetInputTaskContent/language-understanding/en-us/GetInputTaskContent.en-us.lu
  skills/declarative/todoskill/dialogs/MarkToDo/MarkToDo.dialog
  skills/declarative/todoskill/dialogs/MarkToDo/language-generation/en-us/MarkToDo.en-us.lg
  skills/declarative/todoskill/dialogs/MarkToDo/language-understanding/en-us/MarkToDo.en-us.lu
  skills/declarative/todoskill/dialogs/ShowToDo/ShowToDo.dialog
  skills/declarative/todoskill/dialogs/ShowToDo/language-generation/en-us/ShowToDo.en-us.lg
  skills/declarative/todoskill/settings/appsettings.json
Labels: PR: unreviewed

#187 [DCalendar]update findmeetingroom/checkroomavailable/delete meeting
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/BookMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-generation/en-us/BookMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/BookMeetingRoom/language-understanding/en-us/BookMeetingRoom.en-us.lu
  skills/declarative/calendarskill/dialogs/CheckPersonAvailableDialog/CheckPersonAvailableDialog.dialog
  skills/declarative/calendarskill/dialogs/CheckPersonAvailableDialog/language-generation/en-us/CheckPersonAvailableDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/CheckPersonAvailableDialog/language-understanding/en-us/CheckPersonAvailableDialog.en-us.lu
  skills/declarative/calendarskill/dialogs/ChooseMeeting/ChooseMeeting.dialog
  skills/declarative/calendarskill/dialogs/ChooseMeeting/language-generation/en-us/ChooseMeeting.en-us.lg
  skills/declarative/calendarskill/dialogs/ChooseMeeting/language-understanding/en-us/ChooseMeeting.en-us.lu
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeclineMeetingRequest/DeclineMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/DeclineMeetingRequest/language-generation/en-us/DeclineMeetingRequest.en-us.lg
  skills/declarative/calendarskill/dialogs/DeclineMeetingRequest/language-understanding/en-us/DeclineMeetingRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/language-generation/en-us/DeleteMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/FindMeetingRoom.dialog
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-generation/en-us/FindMeetingRoom.en-us.lg
  skills/declarative/calendarskill/dialogs/FindMeetingRoom/language-understanding/en-us/FindMeetingRoom.en-us.lu
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/GetPhotoRequest/GetPhotoRequest.dialog
  skills/declarative/calendarskill/dialogs/GetPhotoRequest/language-understanding/en-us/GetPhotoRequest.en-us.lu
  skills/declarative/calendarskill/dialogs/SearchMeetings/SearchMeetings.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetings/language-generation/en-us/SearchMeetings.en-us.lg
  skills/declarative/calendarskill/dialogs/SearchMeetingsByConditions/SearchMeetingsByConditions.dialog
  skills/declarative/calendarskill/dialogs/SetContent/SetContent.dialog
  skills/declarative/calendarskill/dialogs/SetContent/language-generation/en-us/SetContent.en-us.lg
  skills/declarative/calendarskill/dialogs/SetContent/language-understanding/en-us/SetContent.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDateTime/SetDateTime.dialog
  skills/declarative/calendarskill/dialogs/SetDateTime/language-generation/en-us/SetDateTime.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDateTime/language-understanding/en-us/SetDateTime.en-us.lu
  skills/declarative/calendarskill/dialogs/SetDuration/SetDuration.dialog
  skills/declarative/calendarskill/dialogs/SetDuration/language-generation/en-us/SetDuration.en-us.lg
  skills/declarative/calendarskill/dialogs/SetDuration/language-understanding/en-us/SetDuration.en-us.lu
  skills/declarative/calendarskill/dialogs/SetLocation/language-generation/en-us/SetLocation.en-us.lg
  skills/declarative/calendarskill/dialogs/SetTitle/SetTitle.dialog
  skills/declarative/calendarskill/dialogs/SetTitle/language-generation/en-us/SetTitle.en-us.lg
  skills/declarative/calendarskill/dialogs/SetTitle/language-understanding/en-us/SetTitle.en-us.lu
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarskill/language-generation/en-us/common.en-us.lg
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
Labels: PR: unreviewed

#188 [Calendar] add meeting conflict flag and get focused meeting dialog
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/DeleteMeetingDialog/DeleteMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/GetFocusedMeeting/GetFocusedMeeting.dialog
  skills/declarative/calendarskill/dialogs/GetFocusedMeeting/language-generation/en-us/GetFocusedMeeting.en-us.lg
  skills/declarative/calendarskill/dialogs/GetFocusedMeeting/language-understanding/en-us/GetFocusedMeeting.en-us.lu
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/UpdateMeetingDialog/UpdateMeetingDialog.dialog
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
Labels: PR: unreviewed

#185 [WhoSkill] update to latest schema
  skills/declarative/whoskill/dialogs/ProcessSearchKeywordResult/ProcessSearchKeywordResult.dialog
  skills/declarative/whoskill/dialogs/ProcessSearchKeywordResult/language-generation/en-us/ProcessSearchKeywordResult.en-us.lg
  skills/declarative/whoskill/dialogs/SearchForFinalResult/SearchForFinalResult.dialog
  skills/declarative/whoskill/dialogs/SearchForFinalResult/language-generation/en-us/SearchForFinalResult.en-us.lg
  skills/declarative/whoskill/dialogs/SearchPerson/SearchPerson.dialog
  skills/declarative/whoskill/dialogs/SearchPerson/language-generation/en-us/SearchPerson.en-us.lg
  skills/declarative/whoskill/dialogs/ShowItem/ShowItem.dialog
  skills/declarative/whoskill/dialogs/ShowItem/language-generation/en-us/ShowItem.en-us.lg
  skills/declarative/whoskill/dialogs/ShowList/ShowList.dialog
  skills/declarative/whoskill/dialogs/ShowList/language-generation/en-us/ShowList.en-us.lg
  skills/declarative/whoskill/dialogs/ShowNext/ShowNext.dialog
  skills/declarative/whoskill/dialogs/ShowNext/language-generation/en-us/ShowNext.en-us.lg
  skills/declarative/whoskill/dialogs/ShowPrevious/ShowPrevious.dialog
  skills/declarative/whoskill/dialogs/ShowPrevious/language-generation/en-us/ShowPrevious.en-us.lg
  skills/declarative/whoskill/language-generation/en-us/whoskill.en-us.lg
  skills/declarative/whoskill/whoskill.dialog
Labels: PR: reviewed-changes-requested

#192 add time remaining flow
  skills/declarative/calendarskill/calendarskill.dialog
  skills/declarative/calendarskill/dialogs/SearchMeetings/SearchMeetings.dialog
  skills/declarative/calendarskill/dialogs/TimeRemainingDialog/TimeRemainingDialog.dialog
  skills/declarative/calendarskill/dialogs/TimeRemainingDialog/language-generation/en-us/TimeRemainingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/TimeRemainingDialog/language-understanding/en-us/TimeRemainingDialog.en-us.lu
  skills/declarative/calendarskill/language-understanding/en-us/calendarskill.en-us.lu
  skills/declarative/calendarskill/settings/appsettings.json
Labels: PR: unreviewed

#195 [Calendar] fix some issue
  skills/declarative/calendarskill/dialogs/AcceptMeetingDialog/AcceptMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/CreateMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/CreateMeetingDialog/language-generation/en-us/CreateMeetingDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/CreateMeetingRequest/CreateMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/GetFocusedMeeting/GetFocusedMeeting.dialog
  skills/declarative/calendarskill/dialogs/GetMeetingRequest/GetMeetingRequest.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/ShowMeetingDialog.dialog
  skills/declarative/calendarskill/dialogs/ShowMeetingDialog/language-generation/en-us/ShowMeetingDialog.en-us.lg
Labels: PR: unreviewed

#196 [Calendar] add find contact paging
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/FindSingleContactDialog.dialog
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-generation/en-us/FindSingleContactDialog.en-us.lg
  skills/declarative/calendarskill/dialogs/FindSingleContactDialog/language-understanding/en-us/FindSingleContactDialog.en-us.lu
  skills/declarative/calendarskill/settings/appsettings.json
Labels: PR: unreviewed
