Repository microsoft/botframework-components, pull requests merged in 2020-12, with the labels that each got.

#418 [Calendar v2] fix update dialog issue
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-understanding/en-us/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/UpdateSlots.dialog
  skills/declarative/calendarSkill/dialogs/UpdateSlots/language-generation/en-us/UpdateSlots.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateSlots/language-understanding/en-us/UpdateSlots.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
Labels: PR: reviewed-approved

#419 [CalendarV2] fix bugs
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetContacts.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEvents.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillEventModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Schemas/Actions/Microsoft.Graph.Calendar.GetEvents.schema
  skills/declarative/calendarSkill/schemas/sdk.schema
Labels: PR: unreviewed

#440 [Calendar v2] fix update issue
  skills/declarative/calendarSkill/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/language-generation/en-us/common.en-us.lg
Labels: PR: reviewed-approved

#453 fix: update experimental components with bug fixes
  experimental/components/ConversationalCore/language-generation/en-us/common.en-us.lg
  experimental/components/General/GeneralIntent.nuspec
  experimental/components/General/exported/language-generation/en-us/General.en-us.lg
  experimental/components/General/package.json
  experimental/components/Greeting/Greeting.nuspec
  experimental/components/Greeting/exported/language-generation/en-us/Greeting.en-us.lg
  experimental/components/Greeting/package.json
  experimental/components/Onboarding/Onboarding.nuspec
  experimental/components/Onboarding/exported/Onboarding.dialog
  experimental/components/Onboarding/exported/knowledge-base/en-us/Onboarding.en-us.qna
  experimental/components/Onboarding/exported/language-generation/en-us/Onboarding.en-us.lg
  experimental/components/Onboarding/exported/language-understanding/en-us/Onboarding.en-us.lu
  experimental/components/Onboarding/exported/recognizers/Onboarding.en-us.lu.dialog
  experimental/components/Onboarding/exported/recognizers/Onboarding.lu.dialog
  experimental/components/Onboarding/exported/recognizers/Onboarding.lu.qna.dialog
  experimental/components/Onboarding/package.json
  experimental/components/UnknownIntent/UnknownIntent.nuspec
  experimental/components/UnknownIntent/package.json
  experimental/feeds/components.json
Labels: PR: partially-approved

#450 Refactor MS Graph code in Calendar skill v2
  .gitignore
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/AcceptEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/BaseMsGraphCustomAction.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/CheckAvailability.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/CreateEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/DeclineEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/DeleteEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/FindAvailableTime.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/FindMeetingTimes.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetContacts.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEventById.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetEvents.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetProfile.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GetWorkingHours.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/GroupEventsByDate.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/TentativelyAcceptEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/UpdateEvent.cs
  skills/declarative/calendarSkill/runtime/customaction/MSGraphClient.cs
  skills/declarative/calendarSkill/runtime/customaction/MSGraphComponentRegistration.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillContactModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillEventModel.cs
  skills/declarative/calendarSkill/runtime/customaction/Models/CalendarSkillTimeSlotModel.cs
Labels: Area: Calendar Skill, approved

#460 Conversational Core: Add appsettings.Development.json
  .gitignore
  experimental/components/ConversationalCore/runtime/azurefunctions/appsettings.Development.json
  experimental/components/ConversationalCore/runtime/azurewebapp/appsettings.Development.json
Labels: PR: partially-approved

#459 Updating conversational core and fixing lu triggers for general
  experimental/components/ConversationalCore/ConversationalCore.nuspec
  experimental/components/ConversationalCore/language-understanding/en-us/assistant.en-us.lu
  experimental/components/ConversationalCore/runtime/azurewebapp/Microsoft.BotFramework.Composer.WebApp.csproj
Labels: PR: unreviewed

#456 Experimental Runtime samples
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter.sln
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/BotController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/SkillController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/SlackController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/CustomAdapter.csproj
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/echo.dialog
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/generated/echo.lu.qna.dialog
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/knowledge-base/en-us/echo.en-us.qna
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-generation/en-us/common.en-us.lg
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-generation/en-us/echo.en-us.lg
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-understanding/en-us/echo.en-us.lu
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Program.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Properties/launchSettings.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/README.md
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/RuntimeSlackAdapter.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Scripts/deploy.ps1
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Startup.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/appsettings.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/runtime.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/wwwroot/default.htm
  experimental/scenarios/runtime/dotnet/CustomAdapter/README.md
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot.sln
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Controllers/BotController.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Controllers/SkillController.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/echo.dialog
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/generated/echo.lu.qna.dialog
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/knowledge-base/en-us/echo.en-us.qna
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-generation/en-us/common.en-us.lg
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-generation/en-us/echo.en-us.lg
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-understanding/en-us/echo.en-us.lu
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/EchoBot.csproj
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Program.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Properties/launchSettings.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/README.md
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Scripts/deploy.ps1
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Startup.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/appsettings.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/runtime.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/wwwroot/default.htm
  experimental/scenarios/runtime/dotnet/EchoBot/README.md
Labels: Area: Runtime, PR: partially-approved, PR: reviewed-approved, PR: unreviewed

#442 Added experimental yeoman dotnet Runtime host generators
  .gitignore
  experimental/generator-dotnet-yeoman/generators/app/index.js
  experimental/generator-dotnet-yeoman/generators/app/templates/assets/appsettings.json
  experimental/generator-dotnet-yeoman/generators/app/templates/assets/runtime.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/botName.sln
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/ActivitySerializationSettings.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/Properties/serviceDependencies.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/Properties/serviceDependencies.local.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/Startup.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/botName.csproj
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/host.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/functions/local.settings.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/.gitignore
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Program.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Properties/launchSettings.json
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/README.md
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Scripts/deploy.ps1
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/Startup.cs
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/botName.csproj
  experimental/generator-dotnet-yeoman/generators/app/templates/dotnet/webapp/wwwroot/default.htm
  experimental/generator-dotnet-yeoman/package-lock.json
  experimental/generator-dotnet-yeoman/package.json
Labels: Area: Runtime

#467 Thchung/move ms graph to own space
  experimental/components/MsGraph/Actions/AcceptEvent.cs
  experimental/components/MsGraph/Actions/BaseMsGraphCustomAction.cs
  experimental/components/MsGraph/Actions/BaseMsGraphCustomActionGeneric.cs
  experimental/components/MsGraph/Actions/CreateEvent.cs
  experimental/components/MsGraph/Actions/DeclineEvent.cs
  experimental/components/MsGraph/Actions/DeleteEvent.cs
  experimental/components/MsGraph/Actions/FindMeetingTimes.cs
  experimental/components/MsGraph/Actions/GetContacts.cs
  experimental/components/MsGraph/Actions/GetEventById.cs
  experimental/components/MsGraph/Actions/GetEvents.cs
  experimental/components/MsGraph/Actions/GetProfile.cs
  experimental/components/MsGraph/Actions/GetWorkingHours.cs
  experimental/components/MsGraph/Actions/TentativelyAcceptEvent.cs
  experimental/components/MsGraph/Actions/UpdateEvent.cs
  experimental/components/MsGraph/CalendarSkillContactModel.cs
  experimental/components/MsGraph/CalendarSkillEventModel.cs
  experimental/components/MsGraph/CalendarSkillTimeSlotModel.cs
  experimental/components/MsGraph/MSGraphClient.cs
  experimental/components/MsGraph/MSGraphComponentRegistration.cs
  experimental/components/MsGraph/MSGraphCustomActionRegistrationAttribute.cs
  experimental/components/MsGraph/Microsoft.BotFramework.CustomAction.MsGraph.csproj
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.AcceptEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.CreateEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.DeclineEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.DeleteEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.FindMeetingTimes.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.GetContacts.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.GetEventById.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.GetEvents.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.GetWorkingHours.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.TentativelyAcceptEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.Calendar.UpdateEvent.schema
  experimental/components/MsGraph/Schemas/Microsoft.Graph.User.GetProfile.schema
  experimental/components/MsGraph/stylecop.json
  skills/declarative/calendarSkill/runtime/customaction/Actions/MSGraph/BaseMsGraphCustomAction.cs
  skills/declarative/calendarSkill/runtime/customaction/CustomActionComponentRegistration.cs
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
Labels: PR: reviewed-approved

#470 generator-adaptive-bot
  experimental/generator-adaptive-bot/generators/app/index.js
  experimental/generator-adaptive-bot/generators/app/templates/assets/appsettings.json
  experimental/generator-adaptive-bot/generators/app/templates/assets/runtime.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/botName.sln
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/ActivitySerializationSettings.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Properties/serviceDependencies.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Properties/serviceDependencies.local.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Startup.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/botName.csproj
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/host.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/local.settings.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/.gitignore
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Program.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Properties/launchSettings.json
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/README.md
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Scripts/deploy.ps1
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Startup.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/botName.csproj
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/wwwroot/default.htm
  experimental/generator-adaptive-bot/package-lock.json
  experimental/generator-adaptive-bot/package.json
  experimental/generator-dotnet-yeoman/package.json
Labels: PR: reviewed-approved

#471 Declarative file includes in yeoman generator templates
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/botName.csproj
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/botName.csproj
  experimental/generator-adaptive-bot/package.json
Labels: PR: partially-approved
