Repository microsoft/botframework-components, pull requests merged in 2021-06, with the labels that each got.

#1137 feat: generator-bot-adaptive: Added command line option to specify SDK version
  generators/generator-bot-adaptive/baseGenerator.js
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-adaptive/platforms.js
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1141 chore: Update issue templates to reflect Components repository
  .github/ISSUE_TEMPLATE/-net-sdk-bug.md
  .github/ISSUE_TEMPLATE/-net-sdk-feature-request.md
  .github/ISSUE_TEMPLATE/-net-sdk-question.md
  .github/ISSUE_TEMPLATE/calendar-skill-v2-bug.md
  .github/ISSUE_TEMPLATE/components-bug-report.md
  .github/ISSUE_TEMPLATE/components-feature-request.md
  .github/ISSUE_TEMPLATE/components-other.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-bug-report.md
  .github/ISSUE_TEMPLATE/prebuilt-experience-user-story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: partially-approved

#1140 fix: generator-bot-adaptive: Include *.model
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1147 fix: generator-bot-adaptive: Updated default speak voice
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1148 chore: Update package metadata
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  yarn.lock
Labels: Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1091 chore: @microsoft/generator-bot-adaptive happy path unit tests
  .eslintrc.json
  generators/generator-bot-adaptive/.mocharc.json
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-adaptive/test/templateFileReader.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, PR: partially-approved, PR: unreviewed

#1152 chore: Wire up yeoman unit tests in CI/CD pipelines
  build/yaml/templates/component-template.yml
  build/yaml/templates/npm-test-steps.yml
Labels: Area: DevOps, PR: draft, PR: partially-approved, PR: unreviewed

#1163 fix: GetManager issue with name entity not set
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetManagerDialog/GetManagerDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetManagerDialog/GetManagerDialog.dialog.schema
  skills/declarative/People/People/dialogs/GetManagerDialog/GetManagerDialog.dialog
  skills/declarative/People/People/dialogs/GetManagerDialog/GetManagerDialog.dialog.schema
Labels: Area: Generators: Enterprise People, PR: reviewed-approved, PR: unreviewed

#1165 chore: Add tests for pause and resume recording
  packages/Telephony/Actions/StartRecording.cs
  packages/Telephony/Common/RecordingStartSettings.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_BaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_CommandResultWrongName.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_IgnoredInNonTelephonyChannel.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionDisabled.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionEnabled.test.dialog
Labels: PR: partially-approved

#1166 chore: recording schema changes to recommendations by UX team
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.uischema
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_IgnoredInNonTelephonyChannel.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/RecordingTests.cs
Labels: PR: partially-approved

#1171 chore: restore Teams package unit tests
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ActionTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ConditionalTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ResourceExplorerFixture.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/TestUtils.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipant.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipantError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipantErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMember.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMemberError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMemberErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedMembers.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedMembersError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedTeamMembers.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedTeamMembersError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamChannels.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamChannelsError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamDetails.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamDetailsError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMember.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMemberError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMemberErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendAppBasedLinkQueryResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendAppBasedLinkQueryResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEActionResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEActionResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAttachmentsResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAttachmentsResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponseErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEBotMessagePreviewResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEBotMessagePreviewResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEConfigQuerySettingUrlResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEConfigQuerySettingUrlResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEMessageResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEMessageResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMESelectItemResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMESelectItemResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMessageToTeamsChannel.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMessageToTeamsChannelError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabAuthResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabAuthResponseErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabCardResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabCardResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleCardResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleCardResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleMessageResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleUrlResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleUrlResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ConditionalTests/ConditionalsTests_OnTeamsActivityTypes.test.dialog
Labels: PR: reviewed-approved

#1164 fix: Stevenic/ac fix
  packages/AdaptiveCards/Actions/UpdateAdaptiveCard.cs
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.UpdateAdaptiveCard.schema
Labels: Area: Packages: Adaptive Cards, PR: reviewed-approved, PR: unreviewed

#1172 chore: Cherry pick 1171 and 1164 into 4.14
  packages/AdaptiveCards/Actions/UpdateAdaptiveCard.cs
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.UpdateAdaptiveCard.schema
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ActionTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ConditionalTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/ResourceExplorerFixture.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/TestUtils.cs
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipant.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipantError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMeetingParticipantErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMember.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMemberError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetMemberErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedMembers.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedMembersError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedTeamMembers.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetPagedTeamMembersError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamChannels.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamChannelsError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamDetails.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamDetailsError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMember.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMemberError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_GetTeamMemberErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendAppBasedLinkQueryResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendAppBasedLinkQueryResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEActionResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEActionResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAttachmentsResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAttachmentsResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEAuthResponseErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEBotMessagePreviewResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEBotMessagePreviewResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEConfigQuerySettingUrlResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEConfigQuerySettingUrlResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEMessageResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMEMessageResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMESelectItemResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMESelectItemResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMessageToTeamsChannel.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendMessageToTeamsChannelError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabAuthResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabAuthResponseErrorWithAdapter.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabCardResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTabCardResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleCardResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleCardResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleMessageResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleUrlResponse.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ActionTests/Action_SendTaskModuleUrlResponseError.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Tests/ConditionalTests/ConditionalsTests_OnTeamsActivityTypes.test.dialog
Labels: Area: Packages: Adaptive Cards, PR: partially-approved, PR: unreviewed

#1170 fix: Update SendMessageToTeamsChannelAsync to work with CloudAdapter
  packages/Teams/dotnet/Actions/SendMessageToTeamsChannel.cs
Labels: Area: Packages: Teams, PR: unreviewed

#1176 chore:Update subtitle for recording operations
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.uischema
Labels: PR: reviewed-approved

#1174 fix: Send message to teams channel support both adapters
  packages/Teams/dotnet/Actions/SendMessageToTeamsChannel.cs
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1182 feat: Update package versions
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1183 fix: Generator versioning for 4.14
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, PR: partially-approved, PR: unreviewed
