Repository microsoft/botframework-components, pull requests merged in 2021-01, with the labels that each got.

#473 Upgrading package name and removing path '**' bug
  experimental/generator-adaptive-bot/generators/app/index.js
  experimental/generator-adaptive-bot/package.json
Labels: PR: partially-approved

#472 Generator support for custom package references
  experimental/generator-adaptive-bot/generators/app/index.js
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/botName.csproj
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/botName.csproj
  experimental/generator-adaptive-bot/package-lock.json
  experimental/generator-adaptive-bot/package.json
Labels: PR: unreviewed

#475 Remove defaultRootDialog from generator appsettings.json
  experimental/generator-adaptive-bot/generators/app/templates/assets/appsettings.json
  experimental/generator-adaptive-bot/package.json
Labels: PR: partially-approved

#478 Provision correct resources + allow endpoint override
  skills/csharp/experimental/newsskill/Deployment/Resources/template.json
  skills/csharp/experimental/newsskill/Dialogs/FavoriteTopicsDialog.cs
  skills/csharp/experimental/newsskill/Dialogs/FindArticlesDialog.cs
  skills/csharp/experimental/newsskill/Dialogs/TrendingArticlesDialog.cs
  skills/csharp/experimental/newsskill/Services/BotSettings.cs
  skills/csharp/experimental/newsskill/Services/NewsClient.cs
Labels: Area: Samples, Area: Skills, PR: partially-approved, PR: unreviewed

#486 Adding generator-conversational-core
  experimental/templates/generator-conversational-core/.editorconfig
  experimental/templates/generator-conversational-core/.eslintignore
  experimental/templates/generator-conversational-core/.gitattributes
  experimental/templates/generator-conversational-core/.gitignore
  experimental/templates/generator-conversational-core/.travis.yml
  experimental/templates/generator-conversational-core/.yo-rc.json
  experimental/templates/generator-conversational-core/LICENSE
  experimental/templates/generator-conversational-core/README.md
  experimental/templates/generator-conversational-core/__tests__/app.js
  experimental/templates/generator-conversational-core/generators/app/index.js
  experimental/templates/generator-conversational-core/generators/app/templates/.template.config/template.json
  experimental/templates/generator-conversational-core/generators/app/templates/ConversationalCore.botproj
  experimental/templates/generator-conversational-core/generators/app/templates/README.md
  experimental/templates/generator-conversational-core/generators/app/templates/assistant.dialog
  experimental/templates/generator-conversational-core/generators/app/templates/knowledge-base/en-us/assistant.en-us.qna
  experimental/templates/generator-conversational-core/generators/app/templates/language-generation/en-us/assistant.en-us.lg
  experimental/templates/generator-conversational-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  experimental/templates/generator-conversational-core/generators/app/templates/language-understanding/en-us/assistant.en-us.lu
  experimental/templates/generator-conversational-core/generators/app/templates/schemas/readme.md
  experimental/templates/generator-conversational-core/generators/app/templates/schemas/sdk.schema
  experimental/templates/generator-conversational-core/generators/app/templates/schemas/sdk.uischema
  experimental/templates/generator-conversational-core/generators/app/templates/schemas/update-schema.ps1
  experimental/templates/generator-conversational-core/generators/app/templates/schemas/update-schema.sh
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/DeploymentTemplates/function-template-with-preexisting-rg.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/DeploymentTemplates/new-rg-parameters.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/DeploymentTemplates/preexisting-rg-parameters.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/DeploymentTemplates/template-with-new-rg.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/DeploymentTemplates/template-with-preexisting-rg.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/package.json
  experimental/templates/generator-conversational-core/generators/app/templates/scripts/provisionComposer.js
  experimental/templates/generator-conversational-core/generators/app/templates/settings/appsettings.json
  experimental/templates/generator-conversational-core/package.json
  experimental/templates/generator-conversational-core/yarn.lock
Labels: PR: unreviewed

#489 Add bf-component tag to preview component packages
  experimental/components/General/GeneralIntent.nuspec
  experimental/components/General/package.json
  experimental/components/Greeting/Greeting.nuspec
  experimental/components/Greeting/package.json
  experimental/components/Onboarding/Onboarding.nuspec
  experimental/components/Onboarding/package.json
  experimental/components/UnknownIntent/UnknownIntent.nuspec
  experimental/components/UnknownIntent/package.json
Labels: PR: reviewed-approved

#499 feat: Runtime Generator integration updates
  experimental/generator-adaptive-bot/generators/app/index.js
  experimental/generator-adaptive-bot/generators/app/templates/assets/NuGet.config
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/Startup.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/functions/botName.csproj
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/Program.cs
  experimental/generator-adaptive-bot/generators/app/templates/dotnet/webapp/botName.csproj
  experimental/generator-adaptive-bot/package-lock.json
  experimental/generator-adaptive-bot/package.json
Labels: PR: unreviewed

#517 Fix existing broken test and add PR validation action
  .github/workflows/build-and-test.yml
  experimental/components/MsGraph/CalendarSkillEventModel.cs
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/CustomActionTests/CalendarSkillTests_GetEvents.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/AcceptEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/CancelEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/CancelEventNotOrganizer.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/CreateEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/DeclineEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventLocationByAttendees.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventLocationOnlineMeeting.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleByAttendees.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleNoResult.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleReprompt.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/GetEventTitleWithoutCondition.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/findMeetingTimes.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getEvents.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getEventsNotOrganizer.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/HttpRequestMock/getEventsOnlineMeeting.mock.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/TentativelyAcceptEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/UpdateEvent.test.dialog
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1037943296.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1217854930.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/134012578.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1389939543.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1437574392.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1479390269.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/1838864994.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/2813222449.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/286889606.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/3006364334.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/3650665510.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/394382881.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/4085331322.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/4218861593.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/56188399.json
  skills/declarative/calendarSkill/runtime/tests/CalendarSkillTests/DialogTests/cachedResponses/appId/644582786.json
  skills/declarative/calendarSkill/runtime/tests/DialogTests.cs
  skills/declarative/calendarSkill/runtime/tests/Microsoft.BotFramework.Composer.Tests.csproj
  skills/declarative/calendarSkill/runtime/tests/testsettings.json
Labels: PR: reviewed-approved
