Repository microsoft/botframework-components, pull requests merged in 2021-03, with the labels that each got.

#652 feat: Rename multibot generator to calendar-assistant
  build/yaml/pipelines/generator-microsoft-bot-calendar-assistant.yml
  generators/generator-microsoft-bot-calendar-assistant/.editorconfig
  generators/generator-microsoft-bot-calendar-assistant/.eslintignore
  generators/generator-microsoft-bot-calendar-assistant/.gitattributes
  generators/generator-microsoft-bot-calendar-assistant/.gitignore
  generators/generator-microsoft-bot-calendar-assistant/.travis.yml
  generators/generator-microsoft-bot-calendar-assistant/LICENSE
  generators/generator-microsoft-bot-calendar-assistant/README.md
  generators/generator-microsoft-bot-calendar-assistant/__tests__/app.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/.gitignore
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/.template.config/template.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/README.md
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/conversational-core.botproj
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/conversational-core.dialog
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/knowledge-base/en-us/conversational-core.en-us.qna
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/language-generation/en-us/conversational-core.en-us.lg
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/language-understanding/en-us/conversational-core.en-us.lu
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/recognizers/conversational-core.en-us.lu.dialog
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/recognizers/conversational-core.lu.dialog
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/recognizers/conversational-core.lu.qna.dialog
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/function-template-with-preexisting-rg.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/new-rg-parameters.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/preexisting-rg-parameters.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/qna-template.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/template-with-new-rg.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/template-with-preexisting-rg.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/package.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/scripts/provisionComposer.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/settings/cross-train.config.json
  generators/generator-microsoft-bot-calendar-assistant/package-lock.json
  generators/generator-microsoft-bot-calendar-assistant/package.json
  generators/generator-microsoft-bot-calendar-assistant/yarn.lock
  generators/generator-microsoft-bot-multibot/package-lock.json
Labels: PR: partially-approved

#653 Add icons
  skills/declarative/icons/AcceptedIcon.svg
  skills/declarative/icons/CalendarIcon.svg
  skills/declarative/icons/ClockIcon.svg
  skills/declarative/icons/ContactsIcon.svg
  skills/declarative/icons/LocationIcon.svg
  skills/declarative/icons/RecurringIcon.svg
Labels: PR: unreviewed

#546 Command list template
  build/yaml/pipelines/generator-command-list.yml
  generators/generator-microsoft-bot-command-list/README.md
  generators/generator-microsoft-bot-command-list/generators/app/index.js
  generators/generator-microsoft-bot-command-list/generators/app/templates/README.md
  generators/generator-microsoft-bot-command-list/generators/app/templates/command-list.botproj
  generators/generator-microsoft-bot-command-list/generators/app/templates/command-list.dialog
  generators/generator-microsoft-bot-command-list/generators/app/templates/knowledge-base/en-us/command-list.en-us.qna
  generators/generator-microsoft-bot-command-list/generators/app/templates/language-generation/en-us/command-list.en-us.lg
  generators/generator-microsoft-bot-command-list/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-microsoft-bot-command-list/generators/app/templates/language-understanding/en-us/command-list.en-us.lu
  generators/generator-microsoft-bot-command-list/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-command-list/package-lock.json
  generators/generator-microsoft-bot-command-list/package.json
Labels: PR: partially-approved

#655 Command list template: incorporate #546 feedback
  build/yaml/pipelines/generator-microsoft-bot-command-list.yml
  generators/generator-microsoft-bot-command-list/generators/app/index.js
  generators/generator-microsoft-bot-command-list/generators/app/templates/language-understanding/en-us/command-list.en-us.lu
  generators/generator-microsoft-bot-command-list/package-lock.json
  generators/generator-microsoft-bot-command-list/package.json
Labels: PR: unreviewed

#654 Thchung/update ms graph beta
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
Labels: PR: reviewed-approved

#656 feat: Calendar component package version update
  generators/generator-microsoft-bot-calendar/generators/app/index.js
Labels: PR: partially-approved

#657 feat: Calendar Assistant generator update
  generators/generator-microsoft-bot-calendar-assistant/package.json
Labels: PR: partially-approved

#669 bug: Update luis:environment setting value to 'composer'
  generators/generator-microsoft-bot-command-list/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-empty/generators/app/templates/settings/appsettings.json
Labels: PR: partially-approved

#679 Minimum docs for bugbash
  README.md
  assets/packageManager.PNG
  docs/component-creation.md
  docs/creating-packages.md
  docs/creating-templates.md
  docs/extending-with-code.md
  docs/extending-with-packages.md
  docs/overview.md
  docs/package-management.md
  generators/README.md
  packages/Orchestrator/README.md
  packages/README.md
  skills/csharp/README.md
Labels: PR: unreviewed

#649 Add cards for Who V2
  skills/declarative/whoSkill/whoSkill/dialogs/AuthenticationDialog/language-generation/en-us/AuthenticationDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/knowledge-base/en-us/ListDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/language-understanding/en-us/ListDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/UnknownIntentDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/language-generation/en-us/UnknownIntentDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/language-generation/en-us/WhoIsManagerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/language-generation/en-us/WhoIsPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/actions.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/profile.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/userList.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/whoSkill.en-us.lg
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: PR: reviewed-approved

#672 Schemas and simple dialogs for Who Skill
  packages/Graph/Actions/User/GetDirectReports.cs
  packages/Graph/Actions/User/GetManager.cs
  packages/Graph/Actions/User/GetPeers.cs
  packages/Graph/Actions/User/GetUserProfile.cs
  packages/Graph/Actions/User/GetUsers.cs
  packages/Graph/Actions/User/GetWorksWithMe.cs
  packages/Graph/Schemas/Microsoft.Graph.User.GetDirectReports.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetManager.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetPeers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUserProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUsers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetWorksWithMe.schema
  skills/declarative/whoSkill/whoSkill.sln
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/FindPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/knowledge-base/en-us/FindPersonDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/language-generation/en-us/FindPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/language-understanding/en-us/FindPersonDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/recognizers/FindPersonDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/recognizers/FindPersonDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/recognizers/FindPersonDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/knowledge-base/en-us/WhoIsDirectReportDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/language-generation/en-us/WhoIsDirectReportDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/language-understanding/en-us/WhoIsDirectReportDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/recognizers/WhoIsDirectReportDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/recognizers/WhoIsDirectReportDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/recognizers/WhoIsDirectReportDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/language-generation/en-us/WhoIsManagerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/knowledge-base/en-us/WhoIsPeerDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-generation/en-us/WhoIsPeerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-understanding/en-us/WhoIsPeerDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/recognizers/WhoIsPeerDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/recognizers/WhoIsPeerDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/recognizers/WhoIsPeerDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/language-generation/en-us/WhoIsPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/knowledge-base/en-us/WhoWorksWithMeDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/language-generation/en-us/WhoWorksWithMeDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/language-understanding/en-us/WhoWorksWithMeDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/recognizers/WhoWorksWithMeDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/recognizers/WhoWorksWithMeDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/recognizers/WhoWorksWithMeDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/generated/interruption/FindPersonDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/FindPersonDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/whoSkill.en-us.lg
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: PR: reviewed-approved

#688 Pipelines: Migration to SDK_V4 ADO team
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-adaptive.yml
  build/yaml/pipelines/generator-microsoft-bot-calendar-assistant.yml
  build/yaml/pipelines/generator-microsoft-bot-calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-command-list.yml
  build/yaml/pipelines/generator-microsoft-bot-conversational-core.yml
  build/yaml/pipelines/generator-microsoft-bot-empty.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/onboarding.yml
  build/yaml/pipelines/orchestrator.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/nuget-signing-steps.yml
Labels: Area: DevOps, PR: draft, PR: reviewed-approved, PR: unreviewed

#562 Adding bot template generator
  generators/generator-bot-template-generator/README.md
  generators/generator-bot-template-generator/app/index.js
  generators/generator-bot-template-generator/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/index.js
  generators/generator-bot-template-generator/app/templates/generators/app/templates/.gitignore
  generators/generator-bot-template-generator/app/templates/generators/app/templates/README.md
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.botproj
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.dialog
  generators/generator-bot-template-generator/app/templates/generators/app/templates/knowledge-base/en-us/emptyBot.en-us.qna
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-generation/en-us/emptyBot.en-us.lg
  generators/generator-bot-template-generator/app/templates/generators/app/templates/language-understanding/en-us/emptyBot.en-us.lu
  generators/generator-bot-template-generator/app/templates/generators/app/templates/settings/appsettings.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package-lock.json
  generators/generator-bot-template-generator/package.json
  tools/assets/composerTemplateOverride.png
  tools/assets/emptyBotGeneratorFileStructure.PNG
  tools/assets/generatorFileStructure.png
Labels: PR: unreviewed

#692 MSGraph custom action improvements
  packages/Graph/Actions/BaseMsGraphCustomAction.cs
  packages/Graph/Actions/BaseMsGraphCustomActionGeneric.cs
  packages/Graph/Actions/User/GetDirectReports.cs
  packages/Graph/Actions/User/GetManager.cs
  packages/Graph/Actions/User/GetPeers.cs
  packages/Graph/Actions/User/GetWorksWith.cs
  packages/Graph/MSGraphClient.cs
  packages/Graph/Schemas/Microsoft.Graph.User.GetWorksWith.schema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
Labels: Area: Calendar V2, Area: Who V2, PR: reviewed-approved, PR: unreviewed

#698 Add Who LU and configure triggers/recognizers
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/recognizers/ListDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/recognizers/ListDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/recognizers/ListDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/UnknownIntentDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UnknownIntentDialog/recognizers/UnknownIntentDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/recognizers/WhoIsManagerDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/recognizers/WhoIsPersonDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/language-understanding/en-us/whoSkill.en-us.lu
  skills/declarative/whoSkill/whoSkill/recognizers/whoSkill.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/recognizers/whoSkill.lu.dialog
  skills/declarative/whoSkill/whoSkill/recognizers/whoSkill.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/settings/cross-train.config.json
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: PR: reviewed-approved

#699 Basic Get Profile and Get Manager Scenario
  packages/Graph/Actions/Photo/GetPhoto.cs
  packages/Graph/Actions/User/GetDirectReports.cs
  packages/Graph/Schemas/Microsoft.Graph.Photo.GetPhoto.schema
  skills/declarative/whoSkill/whoSkill/.gitignore
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/FindPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/ListDialog.dialog.schema
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/UserListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/knowledge-base/en-us/UserListDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/language-generation/en-us/UserListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/language-understanding/en-us/UserListDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/recognizers/UserListDialog.en-us.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/recognizers/UserListDialog.lu.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/recognizers/UserListDialog.lu.qna.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/language-generation/en-us/WhoIsDirectReportDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/language-generation/en-us/WhoIsManagerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-generation/en-us/WhoIsPeerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/language-generation/en-us/WhoIsPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/language-generation/en-us/WhoWorksWithMeDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsManagerDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsManagerDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPersonDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPersonDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/profile.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/userList.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-understanding/en-us/whoSkill.en-us.lu
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/settings/cross-train.config.json
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: Area: Who V2, PR: reviewed-approved, PR: unreviewed

#701 DevOps: Separate build and package steps to prepare for CI-PR and daily builds
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-adaptive.yml
  build/yaml/pipelines/generator-microsoft-bot-calendar-assistant.yml
  build/yaml/pipelines/generator-microsoft-bot-calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-command-list.yml
  build/yaml/pipelines/generator-microsoft-bot-conversational-core.yml
  build/yaml/pipelines/generator-microsoft-bot-empty.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/onboarding.yml
  build/yaml/pipelines/orchestrator.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/component-template.yml
  build/yaml/templates/debug-workspace-steps.yml
  build/yaml/templates/dotnet-build-steps.yml
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/npm-build-steps.yml
  build/yaml/templates/npm-package-steps.yml
  build/yaml/templates/npm-versioning-steps.yml
  build/yaml/templates/nuget-signing-steps.yml
  build/yaml/templates/nuget-versioning-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
Labels: PR: reviewed-approved

#715 V0 of Find User in Who Skill V2
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/FindPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/language-generation/en-us/FindPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/UserListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/language-generation/en-us/UserListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/language-generation/en-us/WhoIsDirectReportDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/language-generation/en-us/WhoIsManagerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-generation/en-us/WhoIsPeerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/language-generation/en-us/WhoWorksWithMeDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/whoSkill.en-us.lg
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: Area: Who V2, PR: reviewed-approved, PR: unreviewed

#671 feat: yarn v2
  .gitignore
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  build/yaml/templates/npm-build-steps.yml
  build/yaml/templates/npm-package-steps.yml
  generators/generator-microsoft-bot-adaptive/package-lock.json
  generators/generator-microsoft-bot-calendar-assistant/package-lock.json
  generators/generator-microsoft-bot-calendar-assistant/package.json
  generators/generator-microsoft-bot-calendar-assistant/yarn.lock
  generators/generator-microsoft-bot-calendar/generators/app/templates/scripts/package-lock.json
  generators/generator-microsoft-bot-calendar/package-lock.json
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-calendar/yarn.lock
  generators/generator-microsoft-bot-command-list/package-lock.json
  generators/generator-microsoft-bot-command-list/package.json
  generators/generator-microsoft-bot-conversational-core/package-lock.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package-lock.json
  generators/generator-microsoft-bot-empty/package.json
  package.json
  packages/HelpAndCancel/package.json
  packages/Onboarding/package.json
  skills/declarative/calendarSkill/scripts/package-lock.json
  yarn.lock
Labels: PR: unreviewed

#722 feat: Include .onnx and .txt content in build output
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
Labels: PR: partially-approved

#720 feat: Components and Adaptive Generator package dependency updates
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
Labels: PR: unreviewed

#719 Complete GetManager scenario + refactor
  packages/Graph/Actions/Photo/GetPhoto.cs
  packages/Graph/Actions/User/GetDirectReports.cs
  packages/Graph/Actions/User/GetPeers.cs
  packages/Graph/Actions/User/GetUsers.cs
  packages/Graph/Actions/User/GetWorksWith.cs
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/FindPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/language-generation/en-us/FindPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/UserListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/language-generation/en-us/UserListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/language-generation/en-us/WhoIsDirectReportDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/language-generation/en-us/WhoIsManagerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-generation/en-us/WhoIsPeerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/language-generation/en-us/WhoIsPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/language-generation/en-us/WhoWorksWithMeDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/actions.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/profile.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/userList.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/whoSkill.en-us.lg
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: Area: Who V2, PR: reviewed-approved, PR: unreviewed

#725 feat: Generator dependency version updates
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar-assistant/package.json
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-command-list/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
  yarn.lock
Labels: PR: unreviewed

#726 Various bug fixes for Who Skill
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
  skills/declarative/tests/calendarSkill/Microsoft.Bot.CalendarSkill.Dialogs.Tests.csproj
  skills/declarative/whoSkill/whoSkill/dialogs/FindPersonDialog/FindPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/UserListDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/language-generation/en-us/WhoIsPeerDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/language-generation/en-us/WhoIsPersonDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/userList.en-us.lg
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
Labels: PR: unreviewed

#724 Integrate eslint/prettier, run in CI
  .eslintrc.json
  .gitignore
  .prettierrc
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  build/yaml/templates/npm-build-steps.yml
  generators/generator-bot-template-generator/app/index.js
  generators/generator-bot-template-generator/app/templates/generators/app/index.js
  generators/generator-bot-template-generator/package-lock.json
  generators/generator-bot-template-generator/package.json
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar-assistant/package.json
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/generators/app/index.js
  generators/generator-microsoft-bot-empty/package.json
  package.json
  yarn.lock
Labels: PR: reviewed-approved

#751 feat: Centralize appsettings.json generation
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-assistant-core/generators/app/templates/settings/appsettings.json
  generators/generator-bot-assistant-core/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/templates/settings/appsettings.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-qna-maker/generators/app/index.js
  generators/generator-bot-qna-maker/generators/app/templates/settings/appsettings.json
  generators/generator-bot-qna-maker/package.json
  generators/generator-bot-template-generator/package.json
  generators/generator-bot-who/generators/app/index.js
  generators/generator-bot-who/generators/app/templates/settings/appsettings.json
  generators/generator-bot-who/package.json
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-calendar-assistant/package.json
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-calendar/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-command-list/generators/app/index.js
  generators/generator-microsoft-bot-command-list/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-command-list/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/generators/app/index.js
  generators/generator-microsoft-bot-empty/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-empty/package.json
  yarn.lock
Labels: PR: unreviewed

#747 Split HelpAndCancel in two separate dialogs that start with beginDial…
  build/yaml/templates/npm-build-steps.yml
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/exported/CancelDialog/CancelDialog.dialog
  packages/HelpAndCancel/exported/CancelDialog/language-generation/en-us/CancelDialog.en-us.lg
  packages/HelpAndCancel/exported/HelpAndCancel.dialog
  packages/HelpAndCancel/exported/HelpDialog/HelpDialog.dialog
  packages/HelpAndCancel/exported/HelpDialog/language-generation/en-us/HelpDialog.en-us.lg
  packages/HelpAndCancel/exported/language-generation/en-us/HelpAndCancel.en-us.lg
  packages/HelpAndCancel/exported/language-understanding/en-us/HelpAndCancel.en-us.lu
Labels: PR: partially-approved

#763 Welcome: Rename begin dialog event to "BeginDialog"
  packages/Welcome/exported/WelcomeDialog/WelcomeDialog.dialog
Labels: PR: partially-approved

#749 Adding Logging to appsettings. Using ILogger in triggers and controllers.
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
Labels: PR: unreviewed

#762 Fixes cancel intent and other conversational-core updates
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/conversational-core.dialog
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/language-generation/en-us/conversational-core.en-us.lg
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/language-understanding/en-us/conversational-core.en-us.lu
Labels: PR: unreviewed

#753 feat: Add OnAmbiguousIntent, OnError, and OnUnknownIntent to Assistant Core
  generators/generator-bot-assistant-core/generators/app/templates/assistantCore.dialog
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/assistantCore.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/assistantCore.en-us.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/assistantCore.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/assistantCore.lu.qna.dialog
Labels: PR: unreviewed

#764 Runtime: Functions messages trigger handling InvokeResponse calls.
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
Labels: PR: partially-approved

#746 Javascript Generators
  .github/workflows/lint.yml
  .gitignore
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-qna-maker/generators/app/index.js
  generators/generator-bot-template-generator/app/templates/generators/app/index.js
  generators/generator-bot-who/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/.eslintrc.json
  generators/generator-microsoft-bot-adaptive/baseGenerator.js
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/NuGet.config
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/functions/host.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/functions/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/functions/messages/function.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/functions/skills/function.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/functions/triggers.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/webapp/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/js/webapp/web.config
  generators/generator-microsoft-bot-adaptive/index.js
  generators/generator-microsoft-bot-adaptive/integrations.js
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-adaptive/platforms.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-command-list/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-empty/generators/app/index.js
  generators/generator-microsoft-bot-empty/generators/app/templates/emptyBot.dialog
  generators/generator-microsoft-bot-empty/generators/app/templates/recognizers/emptyBot.en-us.lu.dialog
  generators/generator-microsoft-bot-empty/generators/app/templates/recognizers/emptyBot.lu.dialog
  generators/generator-microsoft-bot-empty/generators/app/templates/recognizers/emptyBot.lu.qna.dialog
  package.json
  packages/HelpAndCancel/exported/recognizers/HelpAndCancel.en-us.lu.dialog
  packages/HelpAndCancel/exported/recognizers/HelpAndCancel.lu.dialog
  packages/HelpAndCancel/exported/recognizers/HelpAndCancel.lu.qna.dialog
  packages/HelpAndCancel/index.js
  packages/HelpAndCancel/package.json
  packages/Welcome/exported/recognizers/Welcome.en-us.lu.dialog
  packages/Welcome/exported/recognizers/Welcome.lu.dialog
  packages/Welcome/exported/recognizers/Welcome.lu.qna.dialog
  packages/Welcome/index.js
  packages/Welcome/package.json
  yarn.lock
Labels: PR: unreviewed

#748 Calendar bug fixes pt. 2
  packages/Calendar/Actions/FilterEvents.cs
  packages/Calendar/CalendarComponentRegistration.cs
  packages/Calendar/Schemas/Actions/Microsoft.Graph.Calendar.FilterEvents.schema
  packages/Graph/Actions/Event/GetEvents.cs
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEvents.schema
  skills/declarative/calendarSkill/calendarskill.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetContactsDialog/GetContactsDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetEventsDialog/language-generation/en-us/GetEventsDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetEventsDialog/language-understanding/en-us/GetEventsDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/calendarSkill/dialogs/RespondToEventDialog/language-generation/en-us/RespondToEventDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/ShowEventsDialog/ShowEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/ShowEventsDialog/language-generation/en-us/ShowEventsDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/calendarSkill/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  skills/declarative/calendarSkill/generated/interruption/CreateEventDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/GetEventsDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/UpdateEventDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/calendarskill.en-us.lu
  skills/declarative/calendarSkill/language-generation/en-us/calendarskill.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/event.en-us.lg
  skills/declarative/calendarSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/cancelEvent.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/createEvent.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getAvailabilityBreaks.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getAvailabilityFirst.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getAvailabilityLast.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getEvent.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getEventAttendees.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getEventDateTime.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getEventLocation.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/getEvents.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/respondAccept.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/respondDecline.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/respondTentativelyAccept.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setAttendeesAdd.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setAttendeesRemove.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setDateTime.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setDescription.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setDuration.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setLocation.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setOnlineMeetingAdd.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setOnlineMeetingRemove.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/setTitle.en-us.lu
  skills/declarative/calendarSkill/language-understanding/en-us/Calendar/updateEvent.en-us.lu
  skills/declarative/calendarSkill/schemas/sdk.schema
  skills/declarative/calendarSkill/schemas/sdk.uischema
  skills/declarative/tests/calendarSkill/TestAssets/GetEventTests/GetEventDateTime.test.dialog
  skills/declarative/tests/calendarSkill/TestAssets/RespondToEventTests/CancelEvent_asOrganizer.test.dialog
  skills/declarative/tests/calendarSkill/TestAssets/RespondToEventTests/RespondToEvent_Accept.test.dialog
  skills/declarative/tests/calendarSkill/TestAssets/RespondToEventTests/RespondToEvent_Decline.test.dialog
  skills/declarative/tests/calendarSkill/TestAssets/RespondToEventTests/RespondToEvent_TentativelyAccept.test.dialog
  skills/declarative/tests/calendarSkill/app.schema
Labels: PR: unreviewed

#771 fix: add isPlugin to package references
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-calendar-assistant/generators/app/index.js
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  packages/HelpAndCancel/index.js
  packages/HelpAndCancel/package.json
  packages/Welcome/index.js
  packages/Welcome/package.json
  yarn.lock
Labels: PR: reviewed-approved

#785 Added missing using statements to webapp Controllers.
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
Labels: PR: partially-approved

#792 minor: update HelpAndCancel/Welcome with LG tweaks
  packages/HelpAndCancel/exported/CancelDialog/language-generation/en-us/CancelDialog.en-us.lg
  packages/Welcome/exported/WelcomeDialog/language-generation/en-us/WelcomeDialog.en-us.lg
Labels: PR: unreviewed

#794 Fixing references to @microsoft/generator-bot-adaptive.
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-command-list/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-empty/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
  generators/generator-bot-qna-maker/generators/app/index.js
Labels: PR: unreviewed

#796 Update Graph project config
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
Labels: PR: partially-approved

#795 More Generator fixes
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-bot-adaptive/generators/app/templates/dotnet/NuGet.config
Labels: PR: unreviewed

#797 Invoke this.modifyApplicationSettings in generator-bot-adaptive
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
Labels: PR: reviewed-approved

#799 Assistant Core: Chitchat fallback logic
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/knowledge-base/en-us/botName.en-us.qna
  generators/generator-bot-assistant-core/generators/app/templates/knowledge-base/source/qna_chitchat_professional.source.qna
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/assistantCore.en-us.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/botName.en-us.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/botName.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/recognizers/botName.lu.qna.dialog
Labels: PR: reviewed-approved

#801 Assistant Core: Add Like/Dislike feedback dialog
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/FeedbackDialog.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/knowledge-base/en-us/FeedbackDialog.en-us.qna
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/language-understanding/en-us/FeedbackDialog.en-us.lu
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/recognizers/FeedbackDialog.en-us.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/recognizers/FeedbackDialog.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/recognizers/FeedbackDialog.lu.qna.dialog
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/cards.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-understanding/en-us/botName.en-us.lu
Labels: PR: partially-approved

#805 Fixes botName.dialog json
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-calendar-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-calendar/generators/app/templates/botName.dialog
  generators/generator-bot-command-list/generators/app/templates/botName.dialog
  generators/generator-bot-empty/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-people/generators/app/templates/botName.dialog
  generators/generator-bot-qna-maker/generators/app/templates/botName.dialog
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.dialog
Labels: PR: partially-approved

#803 Adds error handler to conversational core
  generators/generator-bot-conversational-core/generators/app/templates/botName.dialog
  generators/generator-bot-conversational-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
Labels: PR: partially-approved

#806 update to depend on ChannelServiceHandlerBase
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
Labels: PR: partially-approved

#807 Assistant Core: Implement Welcome and Bot Tour features
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/knowledge-base/en-us/BotTourDialog.en-us.qna
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/language-understanding/en-us/BotTourDialog.en-us.lu
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/recognizers/BotTourDialog.en-us.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/recognizers/BotTourDialog.lu.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/recognizers/BotTourDialog.lu.qna.dialog
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-understanding/en-us/botName.en-us.lu
Labels: PR: partially-approved

#810 Assistant Core: Add OnChooseIntent and FeedbackDialog updates
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
Labels: PR: partially-approved

#811 fix: Adding README.md to included content in component packages
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
Labels: PR: partially-approved

#812 feat:Add HelpAndCancel to Assistant Core
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/language-understanding/en-us/botName.en-us.lu
Labels: PR: partially-approved

#798 Component updates for Plugin changes
  README.md
  build/yaml/pipelines/orchestrator.yml
  docs/extending-with-code.md
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-calendar-assistant/generators/app/index.js
  packages/Graph/Actions/BaseMsGraphCustomAction.cs
  packages/Graph/Actions/Event/CreateEvent.cs
  packages/Graph/Actions/Helpers/FilterEvents.cs
  packages/Graph/BotPlugin.cs
  packages/Graph/GraphBotComponent.cs
  packages/Graph/GraphUtils.cs
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Microsoft.Bot.Components.sln
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Orchestrator/BotPlugin.cs
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
  packages/Orchestrator/README.md
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/calendarSkill/calendarskill/Controllers/BotController.cs
  skills/declarative/calendarSkill/calendarskill/Program.cs
  skills/declarative/calendarSkill/calendarskill/Startup.cs
  skills/declarative/calendarSkill/calendarskill/calendarskill.csproj
  skills/declarative/calendarSkill/calendarskill/schemas/sdk.schema
  skills/declarative/tests/calendarSkill/CalendarSkillTestBase.cs
  skills/declarative/tests/calendarSkill/Microsoft.Bot.Dialogs.Tests.CalendarSkill.csproj
  skills/declarative/tests/calendarSkill/app.schema
  skills/declarative/tests/common/GraphComponentRegistration.cs
  skills/declarative/tests/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  skills/declarative/tests/common/PbxDialogTestBase.cs
  skills/declarative/tests/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  skills/declarative/tests/whoSkill/WhoSkillTestBase.cs
  skills/declarative/tests/whoSkill/app.schema
  skills/declarative/whoSkill/whoSkill/Controllers/BotController.cs
  skills/declarative/whoSkill/whoSkill/Program.cs
  skills/declarative/whoSkill/whoSkill/Startup.cs
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
Labels: PR: unreviewed

#815 Fix GetDirectReport intent
  skills/declarative/whoSkill/whoSkill/whoSkill.dialog
Labels: Area: Who V2, PR: reviewed-approved, PR: unreviewed

#820 Update profile icons and list based on feedback for People Skill
  skills/declarative/whoSkill/whoSkill/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/whoSkill/whoSkill/dialogs/UserListDialog/UserListDialog.dialog
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/cards.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/icons.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/profile.en-us.lg
  skills/declarative/whoSkill/whoSkill/language-generation/en-us/userList.en-us.lg
Labels: PR: reviewed-approved

#813 RC Build Pipeline Support
  build/yaml/pipelines/generator-bot-adaptive.yml
  build/yaml/pipelines/generator-bot-assistant-core.yml
  build/yaml/pipelines/generator-bot-calendar-assistant.yml
  build/yaml/pipelines/generator-bot-calendar.yml
  build/yaml/pipelines/generator-bot-command-list.yml
  build/yaml/pipelines/generator-bot-conversational-core.yml
  build/yaml/pipelines/generator-bot-empty.yml
  build/yaml/pipelines/generator-bot-enterprise-assistant.yml
  build/yaml/pipelines/generator-bot-people.yml
  build/yaml/pipelines/generator-bot-qna-maker.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/onboarding.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/npm-versioning-steps.yml
  build/yaml/templates/nuget-versioning-steps.yml
Labels: PR: unreviewed

#821 feat: Updated HelpAndCancel/Welcome with content from Assistant Core
  packages/HelpAndCancel/exported/CancelDialog/language-generation/en-us/CancelDialog.en-us.lg
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/exported/WelcomeDialog/WelcomeDialog.dialog
  packages/Welcome/exported/WelcomeDialog/language-generation/en-us/WelcomeDialog.en-us.lg
Labels: PR: partially-approved

#819 rename and bump js sdk packages
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/js/functions/index.js
  generators/generator-bot-adaptive/generators/app/templates/js/functions/triggers.js
  generators/generator-bot-adaptive/generators/app/templates/js/webapp/index.js
Labels: PR: unreviewed

#809 Update generator & template readme files
  README.md
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-assistant-core/README.md
  generators/generator-bot-assistant-core/generators/app/templates/README.md
  generators/generator-bot-assistant-core/package.json
  generators/generator-bot-conversational-core/README.md
  generators/generator-bot-conversational-core/generators/app/templates/README.md
  generators/generator-bot-conversational-core/package.json
  generators/generator-bot-empty/README.md
  generators/generator-bot-empty/generators/app/templates/README.md
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-assistant/generators/app/templates/README.md
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-qna-maker/README.md
  generators/generator-bot-qna-maker/generators/app/templates/README.md
  generators/generator-bot-qna-maker/package.json
  generators/generator-bot-template-generator/README.md
  generators/generator-bot-template-generator/app/templates/README.md
  generators/generator-bot-template-generator/package.json
Labels: PR: unreviewed

#828 Updating SDK package references to 4.13.0-rc1
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-calendar-assistant/generators/app/index.js
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/declarative/calendarSkill/calendarskill/Controllers/BotController.cs
  skills/declarative/calendarSkill/calendarskill/Program.cs
  skills/declarative/calendarSkill/calendarskill/Startup.cs
  skills/declarative/calendarSkill/calendarskill/calendarskill.csproj
  skills/declarative/calendarSkill/calendarskill/schemas/sdk.schema
  skills/declarative/calendarSkill/calendarskill/schemas/sdk.uischema
  skills/declarative/tests/calendarSkill/Microsoft.Bot.Dialogs.Tests.CalendarSkill.csproj
  skills/declarative/tests/calendarSkill/app.schema
  skills/declarative/tests/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  skills/declarative/tests/common/PbxDialogTestBase.cs
  skills/declarative/tests/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  skills/declarative/tests/whoSkill/app.schema
  skills/declarative/whoSkill/whoSkill.sln
  skills/declarative/whoSkill/whoSkill/generated/interruption/AuthenticationDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/AuthenticationDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/FindPersonDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/FindPersonDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/ListDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/ListDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/UnknownIntentDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/UnknownIntentDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/UserListDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/UserListDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsDirectReportDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsDirectReportDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsManagerDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsManagerDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPeerDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPeerDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPersonDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoIsPersonDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoWorksWithMeDialog.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/WhoWorksWithMeDialog.en-us.qna
  skills/declarative/whoSkill/whoSkill/generated/interruption/whoSkill.en-us.lu
  skills/declarative/whoSkill/whoSkill/generated/interruption/whoSkill.en-us.qna
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.uischema
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
Labels: PR: unreviewed

#829 bump js sdk to rc2
  generators/generator-bot-adaptive/generators/app/index.js
Labels: PR: reviewed-approved

#822 Updated help and welcome and cancel packages to the latest versions.
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
Labels: PR: partially-approved

#830 fix: .NET Functions .csproj fixes
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: PR: partially-approved
