Repository microsoft/botframework-components, pull requests merged in 2021-04, with the labels that each got.

#832 fix: settingsIncludePath in @microsoft/generator-bot-adaptive handles undefined
  generators/generator-bot-adaptive/generators/app/index.js
Labels: PR: unreviewed

#833 Merge main to 4.13
  generators/generator-bot-adaptive/generators/app/index.js
Labels: PR: unreviewed

#834 RC Dependency Version Updates
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-assistant-core/package.json
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar-assistant/package.json
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-calendar/package.json
  generators/generator-bot-command-list/package.json
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-conversational-core/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-people/generators/app/index.js
  generators/generator-bot-people/package.json
  generators/generator-bot-qna-maker/package.json
  yarn.lock
Labels: PR: unreviewed

#836 fix: runtypes version resolution
  generators/generator-bot-adaptive/package.json
  yarn.lock
Labels: PR: reviewed-approved

#837 RC1 Preparation
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
  yarn.lock
Labels: PR: unreviewed

#838 Runtime: Added Azure Functions dependency for user secrets
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: PR: unreviewed

#840 minor: Add missing "()" to LG templates
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/dialogs/UpdateEventDialog/language-generation/en-us/UpdateEventDialog.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/availability.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/cards.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/contactList.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/eventList.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/schedule.en-us.lg
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/timeSuggestionList.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-people/generators/app/templates/language-generation/en-us/actions.en-us.lg
  generators/generator-bot-people/generators/app/templates/language-generation/en-us/cards.en-us.lg
  generators/generator-bot-people/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-qna-maker/generators/app/templates/language-generation/en-us/common.en-us.lg
Labels: PR: partially-approved

#839 Small updates to enterprise assistant and assistant core LG
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-calendar/generators/app/templates/language-generation/en-us/actions.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/HelpAndCancel/knowledge-base/en-us/HelpAndCancel.en-us.qna
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/CancelDialog.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/knowledge-base/en-us/CancelDialog.en-us.qna
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/language-generation/en-us/CancelDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/language-understanding/en-us/CancelDialog.en-us.lu
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/recognizers/CancelDialog.en-us.lu.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/recognizers/CancelDialog.lu.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/CancelDialog/recognizers/CancelDialog.lu.qna.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/HelpDialog.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/knowledge-base/en-us/HelpDialog.en-us.qna
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/language-generation/en-us/HelpDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/language-understanding/en-us/HelpDialog.en-us.lu
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/recognizers/HelpDialog.en-us.lu.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/recognizers/HelpDialog.lu.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/imported/Microsoft.Bot.Components.HelpAndCancel/HelpDialog/recognizers/HelpDialog.lu.qna.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-people/generators/app/index.js
  generators/generator-bot-people/generators/app/templates/language-generation/en-us/actions.en-us.lg
Labels: PR: partially-approved

#842 Runtime: Enabled setSpeak by default
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
Labels: PR: partially-approved

#841 Udpate to 4.13.0-rc2
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/declarative/calendarSkill/calendarskill/calendarskill.csproj
  skills/declarative/calendarSkill/calendarskill/schemas/sdk.schema
  skills/declarative/tests/calendarSkill/Microsoft.Bot.Dialogs.Tests.CalendarSkill.csproj
  skills/declarative/tests/calendarSkill/app.schema
  skills/declarative/tests/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  skills/declarative/tests/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  skills/declarative/tests/whoSkill/app.schema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
Labels: PR: reviewed-approved

#844 Enterprise assistant generator updates
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
Labels: PR: partially-approved

#843 feat: use func cli to execute functions app locally
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/js/functions/host.json
  generators/generator-bot-adaptive/generators/app/templates/js/functions/index.js
  generators/generator-bot-adaptive/generators/app/templates/js/functions/local.settings.json
  generators/generator-bot-adaptive/generators/app/templates/js/functions/messages/function.json
  generators/generator-bot-adaptive/generators/app/templates/js/functions/skills/function.json
  generators/generator-bot-adaptive/generators/app/templates/js/functions/triggers.js
Labels: PR: reviewed-approved

#847 Updating component package references in generators to 4.13.0-rc2.
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
Labels: PR: unreviewed

#850 [Enterprise assistant] Removed duplicated chooseIntent trigger
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
Labels: PR: partially-approved

#855 [RC3] Fix for broken update intents
  generators/generator-bot-calendar/generators/app/templates/botName.dialog
Labels: PR: partially-approved

#857 Updated exclusion filters in update-schema scripts
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.ps1
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.sh
  skills/declarative/Calendar/Calendar/schemas/update-schema.ps1
  skills/declarative/Calendar/Calendar/schemas/update-schema.sh
  skills/declarative/whoSkill/whoSkill/schemas/update-schema.ps1
  skills/declarative/whoSkill/whoSkill/schemas/update-schema.sh
Labels: PR: unreviewed

#859 [Cherry Pick 4.13] Change to update-schema script exclusions
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.ps1
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.sh
  skills/declarative/calendarSkill/calendarskill/schemas/update-schema.ps1
  skills/declarative/calendarSkill/calendarskill/schemas/update-schema.sh
  skills/declarative/whoSkill/whoSkill/schemas/update-schema.ps1
  skills/declarative/whoSkill/whoSkill/schemas/update-schema.sh
Labels: PR: reviewed-approved

#861 Misc RC3 preparation fixes
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-assistant-core/package.json
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/package.json
  generators/generator-bot-conversational-core/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-people/package.json
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/tests/calendarSkill/Microsoft.Bot.Dialogs.Tests.CalendarSkill.csproj
  skills/declarative/tests/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  skills/declarative/tests/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
Labels: PR: unreviewed

#853 Limit Graph Object Fields using Select() in People Skill
  packages/Graph/Actions/BaseMsGraphCustomAction.cs
  packages/Graph/Actions/User/GetDirectReports.cs
  packages/Graph/Actions/User/GetManager.cs
  packages/Graph/Actions/User/GetPeers.cs
  packages/Graph/Actions/User/GetUserProfile.cs
  packages/Graph/Actions/User/GetUsers.cs
  packages/Graph/Schemas/Microsoft.Graph.User.GetDirectReports.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetManager.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetPeers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUserProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUsers.schema
  skills/declarative/tests/whoSkill/WhoSkillTestBase.cs
  skills/declarative/whoSkill/whoSkill.sln
  skills/declarative/whoSkill/whoSkill/Controllers/BotController.cs
  skills/declarative/whoSkill/whoSkill/Controllers/SkillController.cs
  skills/declarative/whoSkill/whoSkill/Program.cs
  skills/declarative/whoSkill/whoSkill/Startup.cs
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsDirectReportDialog/WhoIsDirectReportDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsManagerDialog/WhoIsManagerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPeerDialog/WhoIsPeerDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoIsPersonDialog/WhoIsPersonDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/WhoWorksWithMeDialog/WhoWorksWithMeDialog.dialog
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
Labels: PR: reviewed-approved

#864 Updating component dependency versions to 4.13.0-rc3.
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
Labels: PR: unreviewed

#871 App Insights update for appsettings.json
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
Labels: PR: partially-approved

#883 fix: Remove README.md from generator-bot-adaptive template files
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/README.md
Labels: PR: partially-approved

#862 Migrated AdaptiveCards component package from community repo
  build/yaml/pipelines/adaptivecards.yml
  packages/AdaptiveCards/Actions/BaseAdaptiveCard.cs
  packages/AdaptiveCards/Actions/CreateAdaptiveCard.cs
  packages/AdaptiveCards/Actions/GetAdaptiveCardTemplate.cs
  packages/AdaptiveCards/Actions/SendActionExecuteResponse.cs
  packages/AdaptiveCards/Actions/SendAdaptiveCard.cs
  packages/AdaptiveCards/Actions/SendDataQueryResponse.cs
  packages/AdaptiveCards/Actions/UpdateAdaptiveCard.cs
  packages/AdaptiveCards/AdaptiveCardComponentRegistration.cs
  packages/AdaptiveCards/AdaptiveCardsBotComponent.cs
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.CreateAdaptiveCard.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.CreateAdaptiveCard.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.GetAdaptiveCardTemplate.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.GetAdaptiveCardTemplate.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionExecute.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionExecute.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionSubmit.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionSubmit.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnDataQuery.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnDataQuery.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendActionExecuteResponse.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendActionExecuteResponse.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendAdaptiveCard.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendAdaptiveCard.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendDataQueryResponse.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.SendDataQueryResponse.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.UpdateAdaptiveCard.schema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.UpdateAdaptiveCard.uischema
  packages/AdaptiveCards/Triggers/OnActionExecute.cs
  packages/AdaptiveCards/Triggers/OnActionSubmit.cs
  packages/AdaptiveCards/Triggers/OnDataQuery.cs
  packages/Microsoft.Bot.Components.sln
Labels: PR: partially-approved

#890 fix: consolidate package properties
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Directory.Build.props
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
Labels: PR: partially-approved

#869 Expose .lu and .qna as static files for skill scenario
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
Labels: PR: reviewed-approved

#893 fix: Updating defaultLocale value in appsettings.json to 'en-us'
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-bot-template-generator/app/templates/generators/app/templates/settings/appsettings.json
Labels: PR: partially-approved

#886 devops: add dotnet tests to pipelines & include Teams fixes for package signing
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-build-test-steps.yml
  packages/Teams/Microsoft.Bot.Components.Teams.csproj
Labels: PR: unreviewed

#877 Docs & package readme updates
  README.md
  docs/creating-packages.md
  docs/extending-with-code.md
  docs/overview.md
  docs/qnaTemplateReadMe.md
  experimental/feeds/components.json
  experimental/readme.md
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-assistant-core/README.md
  generators/generator-bot-calendar/README.md
  generators/generator-bot-command-list/README.md
  generators/generator-bot-conversational-core/README.md
  generators/generator-bot-empty/README.md
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-people/README.md
  generators/generator-bot-qna-maker/README.md
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/README.md
  packages/HelpAndCancel/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/README.md
  packages/Welcome/package.json
Labels: PR: partially-approved

#896 fix: Use PackageProjectUrls for packages
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Directory.Build.props
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/Teams/Microsoft.Bot.Components.Teams.csproj
Labels: PR: reviewed-approved

#894 SDK Version Updates
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/schemas/sdk.schema
  skills/declarative/tests/calendarSkill/Microsoft.Bot.Dialogs.Tests.CalendarSkill.csproj
  skills/declarative/tests/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  skills/declarative/tests/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  skills/declarative/tests/whoSkill/app.schema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/whoSkill.csproj
  tests/teams/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
Labels: PR: unreviewed

#882 Add Teams SSOTokenExchange
  packages/NuGet.Config
  packages/Teams/ComponentSettings.cs
  packages/Teams/TeamsBotComponent.cs
Labels: PR: unreviewed

#904 Bumping component dependency versions to 4.13.0-rc4.
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
Labels: PR: unreviewed

#897 Make appsettings for Pbx projects stick for adaptive runtime
  skills/declarative/Calendar/Calendar/.gitignore
  skills/declarative/Calendar/Calendar/settings/appsettings.json
  skills/declarative/whoSkill/whoSkill/.gitignore
  skills/declarative/whoSkill/whoSkill/settings/appsettings.json
Labels: PR: partially-approved

#905 fix: Startup.cs using statements for .NET Web App in adaptive generator
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
Labels: PR: reviewed-approved

#907 Bumping component dependency versions to 4.13.0-rc5.
  generators/generator-bot-assistant-core/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar/generators/app/index.js
  generators/generator-bot-conversational-core/generators/app/index.js
  generators/generator-bot-people/generators/app/index.js
Labels: PR: unreviewed

#917 Adaptive generator: add luis/qna package references
  generators/generator-bot-adaptive/generators/app/index.js
Labels: PR: reviewed-approved

#916 Adaptive generator: add reference to luis + qna for r14 legacy story
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
Labels: PR: reviewed-approved

#922 Update calendar OAuth implementation and clear data from traceActivities
  packages/Graph/MSGraphClient.cs
  packages/Graph/Schemas/Microsoft.Graph.Calendar.AcceptEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.CreateEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeclineEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeleteEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.FindMeetingTimes.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetContacts.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEventById.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEvents.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetWorkingHours.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.TentativelyAcceptEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.UpdateEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Photo.GetPhoto.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetDirectReports.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetManager.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetPeers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUserProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUsers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetWorksWith.schema
  skills/declarative/Calendar/Calendar/Calendar.dialog
  skills/declarative/Calendar/Calendar/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CancelEventDialog/CancelEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/Calendar/Calendar/dialogs/GetContactsDialog/GetContactsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ShowEventsDialog/ShowEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ShowEventsDialog/language-generation/en-us/ShowEventsDialog.en-us.lg
  skills/declarative/Calendar/Calendar/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/Calendar/Calendar/language-generation/en-us/Calendar.en-us.lg
  skills/declarative/Calendar/Calendar/language-generation/en-us/actions.en-us.lg
  skills/declarative/Calendar/Calendar/settings/cross-train.config.json
  tests/skills/calendarSkill/app.schema
  tests/skills/whoSkill/GetCollaboratorsTests.cs
  tests/skills/whoSkill/GetDirectReportsTests.cs
  tests/skills/whoSkill/GetManagerTests.cs
  tests/skills/whoSkill/GetPeersTests.cs
  tests/skills/whoSkill/GetProfileTests.cs
  tests/skills/whoSkill/Microsoft.Bot.Dialogs.Tests.WhoSkill.csproj
  tests/skills/whoSkill/NuGet.Config
  tests/skills/whoSkill/TestAssets/GetCollaboratorsTests/GetCollaborators_MoreThanOneFound.test.dialog
  tests/skills/whoSkill/TestAssets/GetCollaboratorsTests/GetCollaborators_OneFound.test.dialog
  tests/skills/whoSkill/TestAssets/GetDirectReportsTests/GetDirectReports_MoreThanOneFound.test.dialog
  tests/skills/whoSkill/TestAssets/GetDirectReportsTests/GetDirectReports_OneFound.test.dialog
  tests/skills/whoSkill/TestAssets/GetPeersTests/GetPeers_MoreThanOneFound.test.dialog
  tests/skills/whoSkill/TestAssets/GetPeersTests/GetPeers_OneFound.test.dialog
  tests/skills/whoSkill/WhoSkillTestBase.cs
  tests/skills/whoSkill/app.schema
Labels: PR: unreviewed

#936 [Cherry Pick 4.13] Add Teams to Readme (#921)
  README.md
Labels: PR: reviewed-approved

#929 Runtime Generator: update-schemas now ignores files in generated.
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.ps1
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/update-schema.sh
Labels: PR: reviewed-approved

#941 feat: .NET Functions Static File support
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/StaticFilesTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/host.json
Labels: PR: unreviewed

#945 fix: Remove downsampling settings
  generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json
Labels: PR: partially-approved

#934 Tweaked trigger names displayed in composer
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionExecute.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnActionSubmit.uischema
  packages/AdaptiveCards/Schemas/Microsoft.Bot.Components.OnDataQuery.uischema
Labels: PR: unreviewed

#957 Teams triggers don't need to repeat the word "Teams" in all of the trigger names
  packages/Teams/Schemas/TriggerConditions/Teams.OnCardAction.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnCardAction.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelCreated.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelCreated.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelDeleted.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelDeleted.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelRenamed.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelRenamed.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelRestored.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnChannelRestored.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnFileConsent.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnFileConsent.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnO365ConnectorCardAction.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnO365ConnectorCardAction.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTabFetch.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTabFetch.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTabSubmit.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTabSubmit.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleFetch.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleFetch.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleSubmit.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleSubmit.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamArchived.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamArchived.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamDeleted.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamDeleted.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamHardDeleted.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamRenamed.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamRenamed.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamRestored.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamRestored.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamUnarchived.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamUnarchived.uischema
Labels: PR: unreviewed

#962 UISchemas for Graph Package
  packages/Graph/Schemas/Microsoft.Graph.Calendar.AcceptEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.CreateEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeclineEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeleteEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.FindMeetingTimes.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetContacts.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEventById.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEvents.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetWorkingHours.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.FilterEvents.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.FindAvailableTimes.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.GroupEventsByDate.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.RecognizeDateTime.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.TentativelyAcceptEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.UpdateEvent.uischema
  packages/Graph/Schemas/Microsoft.Graph.Photo.GetPhoto.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetDirectReports.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetManager.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetPeers.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetProfile.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUserProfile.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUsers.uischema
  packages/Graph/Schemas/Microsoft.Graph.User.GetWorksWith.uischema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.schema
  skills/declarative/whoSkill/whoSkill/schemas/sdk.uischema
Labels: Area: Packages: Graph, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#963 [EA] Bot Tour interruption issue and readme fix
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
Labels: PR: unreviewed

#964 Emit trace when the bot does not have oAuthConnectionName configured
  skills/declarative/Calendar/Calendar/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
  skills/declarative/whoSkill/whoSkill/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
Labels: Area: Enterprise Assistant, Area: Skills: Calendar, Area: Skills: People, PR: reviewed-approved, PR: unreviewed

#942 Adding Telephony preview package, this includes Call Transfer Activit…
  packages/Microsoft.Bot.Components.sln
  packages/Telephony/Actions/CallTransfer.cs
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Schemas/Microsoft.Telephony.CallTransfer.schema
  packages/Telephony/Schemas/Microsoft.Telephony.CallTransfer.uischema
  packages/Telephony/TelephonyBotComponent.cs
Labels: PR: unreviewed

#955 refactor: simplify LG template usage across templates and packages
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/ChitchatDialog/ChitchatDialog.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/ChitchatDialog/language-generation/en-us/ChitchatDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/FeedbackDialog.dialog
  generators/generator-bot-assistant-core/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-conversational-core/generators/app/templates/botName.dialog
  generators/generator-bot-conversational-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-empty/generators/app/templates/botName.dialog
  generators/generator-bot-empty/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-empty/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/ChitchatDialog/ChitchatDialog.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/ChitchatDialog/language-generation/en-us/ChitchatDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/FeedbackDialog/FeedbackDialog.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/common.en-us.lg
  packages/HelpAndCancel/exported/CancelDialog/CancelDialog.dialog
  packages/HelpAndCancel/exported/CancelDialog/language-generation/en-us/CancelDialog.en-us.lg
  packages/HelpAndCancel/exported/HelpDialog/HelpDialog.dialog
  packages/HelpAndCancel/exported/HelpDialog/language-generation/en-us/HelpDialog.en-us.lg
  packages/Welcome/exported/WelcomeDialog/WelcomeDialog.dialog
  packages/Welcome/exported/WelcomeDialog/language-generation/en-us/WelcomeDialog.en-us.lg
Labels: PR: partially-approved

#976 fix: Core/Enterprise Assistant replace ChooseIntent implementation
  generators/generator-bot-assistant-core/generators/app/templates/botName.dialog
  generators/generator-bot-assistant-core/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
Labels: PR: reviewed-approved

#965 [EA] Update authentication docs
  generators/generator-bot-calendar/generators/app/templates/README.md
  generators/generator-bot-enterprise-assistant/generators/app/templates/README.md
  generators/generator-bot-people/generators/app/templates/README.md
Labels: PR: reviewed-approved

#974 Teams: Added CommandId property to applicable messaging extension triggers
  packages/Teams/Actions/GetMeetingParticipant.cs
  packages/Teams/Actions/GetMember.cs
  packages/Teams/Actions/GetPagedMembers.cs
  packages/Teams/Actions/GetPagedTeamMembers.cs
  packages/Teams/Actions/GetTeamChannels.cs
  packages/Teams/Actions/GetTeamDetails.cs
  packages/Teams/Actions/GetTeamMember.cs
  packages/Teams/Actions/SendAppBasedLinkQueryResponse.cs
  packages/Teams/Actions/SendMEActionResponse.cs
  packages/Teams/Actions/SendMEAttachmentsResponse.cs
  packages/Teams/Actions/SendMEAuthResponse.cs
  packages/Teams/Actions/SendMEBotMessagePreviewResponse.cs
  packages/Teams/Actions/SendMEConfigQuerySettingUrlResponse.cs
  packages/Teams/Actions/SendMEMessageResponse.cs
  packages/Teams/Actions/SendMESelectItemResponse.cs
  packages/Teams/Actions/SendMessageToTeamsChannel.cs
  packages/Teams/Actions/SendTabAuthResponse.cs
  packages/Teams/Actions/SendTabCardResponse.cs
  packages/Teams/Actions/SendTaskModuleCardResponse.cs
  packages/Teams/Actions/SendTaskModuleMessageResponse.cs
  packages/Teams/Actions/SendTaskModuleUrlResponse.cs
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEBotMessagePreviewEdit.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEBotMessagePreviewSend.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEConfigQuerySettingUrl.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEFetchTask.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEQuery.schema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMESubmitAction.schema
  packages/Teams/TriggerConditions/OnTeamsAppBasedLinkQuery.cs
  packages/Teams/TriggerConditions/OnTeamsCardAction.cs
  packages/Teams/TriggerConditions/OnTeamsChannelCreated.cs
  packages/Teams/TriggerConditions/OnTeamsChannelDeleted.cs
  packages/Teams/TriggerConditions/OnTeamsChannelRenamed.cs
  packages/Teams/TriggerConditions/OnTeamsChannelRestored.cs
  packages/Teams/TriggerConditions/OnTeamsFileConsent.cs
  packages/Teams/TriggerConditions/OnTeamsMEBotMessagePreviewEdit.cs
  packages/Teams/TriggerConditions/OnTeamsMEBotMessagePreviewSend.cs
  packages/Teams/TriggerConditions/OnTeamsMECardButtonClicked.cs
  packages/Teams/TriggerConditions/OnTeamsMEConfigQuerySettingUrl.cs
  packages/Teams/TriggerConditions/OnTeamsMEConfigSetting.cs
  packages/Teams/TriggerConditions/OnTeamsMEFetchTask.cs
  packages/Teams/TriggerConditions/OnTeamsMEQuery.cs
  packages/Teams/TriggerConditions/OnTeamsMESelectItem.cs
  packages/Teams/TriggerConditions/OnTeamsMESubmitAction.cs
  packages/Teams/TriggerConditions/OnTeamsO365ConnectorCardAction.cs
  packages/Teams/TriggerConditions/OnTeamsTabFetch.cs
  packages/Teams/TriggerConditions/OnTeamsTabSubmit.cs
  packages/Teams/TriggerConditions/OnTeamsTaskModuleFetch.cs
  packages/Teams/TriggerConditions/OnTeamsTaskModuleSubmit.cs
  packages/Teams/TriggerConditions/OnTeamsTeamArchived.cs
  packages/Teams/TriggerConditions/OnTeamsTeamDeleted.cs
  packages/Teams/TriggerConditions/OnTeamsTeamHardDeleted.cs
  packages/Teams/TriggerConditions/OnTeamsTeamRenamed.cs
  packages/Teams/TriggerConditions/OnTeamsTeamRestored.cs
  packages/Teams/TriggerConditions/OnTeamsTeamUnarchived.cs
Labels: PR: partially-approved

#983 Telephony: First draft of CommandDialog
  packages/Telephony/Actions/PauseRecording.cs
  packages/Telephony/Actions/ResumeRecording.cs
  packages/Telephony/Actions/StartRecording.cs
  packages/Telephony/Common/CommandDialog.cs
  packages/Telephony/Common/RecordingStartSettings.cs
  packages/Telephony/Common/TelephonyExtensions.cs
Labels: PR: unreviewed

#984 [feature branch PR] Telephony: create build pipeline
  build/yaml/pipelines/telephony.yml
Labels: PR: unreviewed

#985 Telephony: add starter pipeline
  build/yaml/pipelines/telephony.yml
Labels: PR: reviewed-approved

#987 Updating qna read me
  generators/generator-bot-qna-maker/README.md
Labels: PR: reviewed-approved

#989 Add better examples for Graph package schemas
  packages/Graph/Schemas/Microsoft.Graph.Calendar.AcceptEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.CreateEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeclineEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.DeleteEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.FindMeetingTimes.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetContacts.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEventById.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetEvents.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.GetWorkingHours.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.FilterEvents.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.FindAvailableTimes.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.GroupEventsByDate.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.Helpers.RecognizeDateTime.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.TentativelyAcceptEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Calendar.UpdateEvent.schema
  packages/Graph/Schemas/Microsoft.Graph.Photo.GetPhoto.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetDirectReports.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetManager.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetPeers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUserProfile.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetUsers.schema
  packages/Graph/Schemas/Microsoft.Graph.User.GetWorksWith.schema
Labels: Area: Docs, PR: reviewed-approved, PR: unreviewed

#995 Bumping component dependency versions to 4.13.0-rc6.
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: PR: unreviewed

#991 [EA] Added allowed callers error message
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
Labels: PR: unreviewed

#1007 New pipelines for calendar and people
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/people.yml
Labels: PR: partially-approved

#1009 Update icons to embedded PNG
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-core-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/FeedbackDialog/language-generation/en-us/FeedbackDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-enterprise-calendar/generators/app/templates/language-generation/en-us/icons.en-us.lg
  generators/generator-bot-enterprise-people/generators/app/templates/language-generation/en-us/icons.en-us.lg
  skills/declarative/Calendar/Calendar/language-generation/en-us/icons.en-us.lg
  skills/declarative/People/People/language-generation/en-us/icons.en-us.lg
Labels: PR: reviewed-approved

#1011 maintenance: Enable auto-assign pull request author to assignee
  .github/auto_assign.yml
Labels: PR: partially-approved

#1005 fix: Remove generator-bot-calendar-assistant
  build/yaml/pipelines/generator-bot-calendar-assistant.yml
  generators/generator-bot-calendar-assistant/.editorconfig
  generators/generator-bot-calendar-assistant/.eslintignore
  generators/generator-bot-calendar-assistant/.gitattributes
  generators/generator-bot-calendar-assistant/.gitignore
  generators/generator-bot-calendar-assistant/.travis.yml
  generators/generator-bot-calendar-assistant/LICENSE
  generators/generator-bot-calendar-assistant/README.md
  generators/generator-bot-calendar-assistant/__tests__/app.js
  generators/generator-bot-calendar-assistant/generators/app/index.js
  generators/generator-bot-calendar-assistant/generators/app/templates/.gitignore
  generators/generator-bot-calendar-assistant/generators/app/templates/README.md
  generators/generator-bot-calendar-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-calendar-assistant/generators/app/templates/knowledge-base/en-us/botName.en-us.qna
  generators/generator-bot-calendar-assistant/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-calendar-assistant/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-calendar-assistant/generators/app/templates/language-understanding/en-us/botName.en-us.lu
  generators/generator-bot-calendar-assistant/generators/app/templates/recognizers/botName.en-us.lu.dialog
  generators/generator-bot-calendar-assistant/generators/app/templates/recognizers/botName.lu.dialog
  generators/generator-bot-calendar-assistant/generators/app/templates/recognizers/botName.lu.qna.dialog
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/function-template-with-preexisting-rg.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/new-rg-parameters.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/preexisting-rg-parameters.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/qna-template.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/template-with-new-rg.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/DeploymentTemplates/template-with-preexisting-rg.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/package.json
  generators/generator-bot-calendar-assistant/generators/app/templates/scripts/provisionComposer.js
  generators/generator-bot-calendar-assistant/generators/app/templates/settings/cross-train.config.json
  generators/generator-bot-calendar-assistant/package.json
  yarn.lock
Labels: PR: unreviewed

#1019 AdaptiveCards: rename component to AdaptiveCardsBotComponent
  packages/AdaptiveCards/AdaptiveCardComponentRegistration.cs
  packages/AdaptiveCards/AdaptiveCardsBotComponent.cs
Labels: PR: reviewed-approved

#1024 chore: import semantic pr action from the bf-composer repo
  .github/workflows/conventional-pr/.gitignore
  .github/workflows/conventional-pr/action.yml
  .github/workflows/conventional-pr/package.json
  .github/workflows/conventional-pr/src/conventional-pr.ts
  .github/workflows/conventional-pr/src/utils.ts
  .github/workflows/conventional-pr/tsconfig.json
Labels: PR: reviewed-approved

#1025 fix: Include .gitignore for all platforms and integrations, exclude generated folder
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/assets/.gitignore
Labels: PR: partially-approved

#1022 fix: Removed deploy.ps1 from adaptive generator
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Scripts/deploy.ps1
Labels: PR: reviewed-approved

#1026 chore: Add validate-pr workflow
  .github/workflows/conventional-pr/.gitignore
  .github/workflows/conventional-pr/action.yml
  .github/workflows/conventional-pr/package.json
  .github/workflows/conventional-pr/src/conventional-pr.ts
  .github/workflows/conventional-pr/src/utils.ts
  .github/workflows/conventional-pr/tsconfig.json
  .github/workflows/pr-style.yml
Labels: PR: reviewed-approved

#1027 chore: cleanup old repo automation references
  .github/Tasks/Pull-Request-Commenter/Bots/bots.txt
  .github/Tasks/Pull-Request-Commenter/Default/default.txt
  .github/Tasks/Pull-Request-Commenter/Deployment-Scripts/deployment_scripts.txt
  .github/release-drafter.yml
Labels: PR: partially-approved

#999 docs: Anclear/readme omega
  README.md
  generators/command-line-instructions.md
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-command-list/README.md
  generators/generator-bot-core-assistant/README.md
  generators/generator-bot-core-language/README.md
  generators/generator-bot-core-qna/README.md
  generators/generator-bot-empty/README.md
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-calendar/README.md
  generators/generator-bot-enterprise-people/README.md
  generators/generator-bot-template-generator/README.md
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/AdaptiveCards/README.md
  packages/Teams/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/README.md
Labels: PR: unreviewed

#901 Anclear/docs 2
  docs/creating-packages.md
  docs/creating-templates.md
  docs/extending-with-code.md
  docs/extending-with-packages.md
  docs/overview.md
Labels: PR: reviewed-approved

#1029 chore: enable PR labeling by modified file location
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-style.yml
Labels: PR: reviewed-approved

#1028 fix: Remove subtitles from Teams uischema
  packages/Teams/Schemas/Actions/Teams.GetPagedMembers.uischema
  packages/Teams/Schemas/Actions/Teams.GetPagedTeamMembers.uischema
  packages/Teams/Schemas/Actions/Teams.SendAppBasedLinkQueryResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEActionResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEAttachmentsResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEAuthResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEBotMessagePreviewResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEConfigQuerySettingUrlResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEMessageResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMESelectItemResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMessageToTeamsChannel.uischema
  packages/Teams/Schemas/Actions/Teams.SendTabAuthResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTabCardResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleCardResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleMessageResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleUrlResponse.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnAppBasedLinkQuery.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnCardAction.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEBotMessagePreviewEdit.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEBotMessagePreviewSend.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMECardButtonClicked.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEConfigQuerySettingUrl.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEConfigSetting.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEFetchTask.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMEQuery.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMESelectItem.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnMESubmitAction.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnO365ConnectorCardAction.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTabFetch.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleFetch.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTaskModuleSubmit.uischema
  packages/Teams/Schemas/TriggerConditions/Teams.OnTeamHardDeleted.uischema
Labels: PR: reviewed-approved

#1023 fix: Add actionable responses to suggestions in Basic Assistant's bot tour
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
Labels: PR: partially-approved

#1030 chore: fix typo in pr-labeler action
  .github/workflows/pr-labeler.yml
Labels: PR: partially-approved

#1031 fix: Teams sub menu updates
  packages/Teams/Schemas/Actions/Teams.GetMeetingParticipant.uischema
  packages/Teams/Schemas/Actions/Teams.GetMember.uischema
  packages/Teams/Schemas/Actions/Teams.GetPagedMembers.uischema
  packages/Teams/Schemas/Actions/Teams.GetPagedTeamMembers.uischema
  packages/Teams/Schemas/Actions/Teams.GetTeamChannels.uischema
  packages/Teams/Schemas/Actions/Teams.GetTeamDetails.uischema
  packages/Teams/Schemas/Actions/Teams.GetTeamMember.uischema
  packages/Teams/Schemas/Actions/Teams.SendAppBasedLinkQueryResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEActionResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEAttachmentsResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEAuthResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEBotMessagePreviewResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEConfigQuerySettingUrlResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMEMessageResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMESelectItemResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendMessageToTeamsChannel.uischema
  packages/Teams/Schemas/Actions/Teams.SendTabAuthResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTabCardResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleCardResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleMessageResponse.uischema
  packages/Teams/Schemas/Actions/Teams.SendTaskModuleUrlResponse.uischema
Labels: PR: partially-approved

#1010 fix: Remove generator-bot-command-list
  README.md
  build/yaml/pipelines/generator-bot-command-list.yml
  generators/generator-bot-command-list/README.md
  generators/generator-bot-command-list/generators/app/index.js
  generators/generator-bot-command-list/generators/app/templates/README.md
  generators/generator-bot-command-list/generators/app/templates/botName.dialog
  generators/generator-bot-command-list/generators/app/templates/knowledge-base/en-us/botName.en-us.qna
  generators/generator-bot-command-list/generators/app/templates/language-generation/en-us/botName.en-us.lg
  generators/generator-bot-command-list/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-bot-command-list/generators/app/templates/language-understanding/en-us/command-list.en-us.lu
  generators/generator-bot-command-list/package.json
  yarn.lock
Labels: PR: unreviewed

#1033 fix: replace Basic Assistant bot tour multichoice logic with intents
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/BotTourDialog/BotTourDialog.dialog
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
Labels: Area: Generators: Core Assistant, PR: partially-approved, PR: reviewed-changes-requested

#1035 fix: remove schema readme
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/readme.md
Labels: PR: reviewed-approved

#1034 docs: update template readmes to point to external tutorials for ease of use
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-assistant/generators/app/templates/README.md
  generators/generator-bot-enterprise-calendar/README.md
  generators/generator-bot-enterprise-calendar/generators/app/templates/README.md
  generators/generator-bot-enterprise-people/README.md
  generators/generator-bot-enterprise-people/generators/app/templates/README.md
Labels: PR: unreviewed

#1037 chore: bump SDK dependency versions
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/schemas/sdk.schema
  skills/declarative/People/People/People.csproj
  skills/declarative/People/People/schemas/sdk.schema
  tests/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/skills/calendar/app.schema
  tests/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  tests/skills/people/app.schema
Labels: Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Welcome, PR: unreviewed

#1039 chore: Bumping component dependency versions to 4.13.0-rc7.
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: PR: unreviewed

#1040 fix: Include README.md in Teams package for both .NET and JS
  packages/Teams/dotnet/README.md
  packages/Teams/js/README.md
Labels: PR: reviewed-approved

#1042 chore: 4.13 RC7 Cherry Picks #2
  packages/Teams/dotnet/README.md
  packages/Teams/js/README.md
Labels: PR: unreviewed

#1047 fix: Remove .gitignore from included assets for @microsoft/generator-bot-adaptive
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/assets/.gitignore
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1049 chore: Add 'msbot-multibot-project' keyword to @microsoft/generator-bot-enterprise-assistant
  generators/generator-bot-enterprise-assistant/package.json
Labels: Area: Generators: Enterprise Assistant, PR: partially-approved, PR: unreviewed

#1051 chore: Bumping component dependency versions to 4.13.0-rc8.
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: Area: Generators: Core Assistant, Area: Generators: Enterprise Calendar, PR: unreviewed

#1052 fix: Removing redundant componentType check in npm-versioning-steps.yml.
  build/yaml/templates/npm-versioning-steps.yml
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1053 chore: 4.13 RC8 Cherry Picks #2
  build/yaml/templates/npm-versioning-steps.yml
Labels: Area: DevOps, PR: unreviewed

#1054 fix: run build script if present
  build/yaml/templates/npm-build-steps.yml
Labels: Area: DevOps, PR: partially-approved, PR: reviewed-approved

#1055 chore: 4.13 RC8 Cherry Picks #3
  build/yaml/templates/npm-build-steps.yml
Labels: Area: DevOps, PR: unreviewed

#1056 fix: remove downlevel support
  build/yaml/templates/component-template.yml
  packages/Teams/js/package.json
  yarn.lock
Labels: Area: DevOps, Area: Packages: Teams, PR: partially-approved, PR: reviewed-approved, PR: unreviewed

#1057 chore: 4.13 RC8 Cherry Picks #4
  build/yaml/templates/component-template.yml
  packages/Teams/js/package.json
  yarn.lock
Labels: Area: DevOps, Area: Packages: Teams, PR: unreviewed

#1059 fix: Fixed json bug in main dialog of EA
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
Labels: Area: Generators: Enterprise Assistant, PR: reviewed-approved, PR: unreviewed
