Repository microsoft/botframework-components, pull requests merged in 2021-07, with the labels that each got.

#1186 feat: functional tests generate empty bots in js
  tests/functional/build/yaml/deployBotResources/deployBotResources.yml
  tests/functional/build/yaml/deployBotResources/dotnet/deploy.yml
  tests/functional/build/yaml/deployBotResources/dotnet/evaluateDependenciesVariables.yml
  tests/functional/build/yaml/deployBotResources/generator/deploy.yml
  tests/functional/build/yaml/deployBotResources/js/deploy.yml
  tests/functional/build/yaml/deployBotResources/js/evaluateDependenciesVariables.yml
Labels: PR: partially-approved

#1188 fix: R14 template issues
  generators/generator-bot-core-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-core-assistant/generators/app/templates/dialogs/ChitchatDialog/ChitchatDialog.dialog
  generators/generator-bot-core-language/generators/app/templates/botName.dialog
  generators/generator-bot-core-qna/generators/app/templates/botName.dialog
  generators/generator-bot-empty/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/BotTourDialog/language-generation/en-us/BotTourDialog.en-us.lg
  generators/generator-bot-enterprise-assistant/generators/app/templates/dialogs/ChitchatDialog/ChitchatDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/CancelEventDialog/CancelEventDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/CreateEventDialog/CreateEventDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/GetContactsDialog/GetContactsDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/GetEventsDialog/GetEventsDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ListDialog/ListDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ShowEventsDialog/ShowEventsDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetManagerDialog/GetManagerDialog.dialog.schema
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetProfileDialog/GetProfileDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetProfileDialog/GetProfileDialog.dialog.schema
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/ListDialog/ListDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/ResolveUserDialog/ResolveUserDialog.dialog.schema
  generators/generator-bot-template-generator/app/templates/generators/app/templates/emptyBot.dialog
  skills/declarative/Calendar/Calendar/Calendar.dialog
  skills/declarative/Calendar/Calendar/dialogs/CancelEventDialog/CancelEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetContactsDialog/GetContactsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ShowEventsDialog/ShowEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/People/People/People.dialog
  skills/declarative/People/People/dialogs/GetProfileDialog/GetProfileDialog.dialog
  skills/declarative/People/People/dialogs/ListDialog/ListDialog.dialog
Labels: Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, PR: reviewed-approved, PR: unreviewed

#1187 feat: Update Components branch to final build of 4.14.0 .NET SDK
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: partially-approved, PR: reviewed-changes-requested, PR: unreviewed

#1189 fix: Allow previews to generate suffix version as well
  build/yaml/templates/npm-versioning-steps.yml
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1191 fix: nuget package version override to allow "preview" ring
  build/yaml/templates/nuget-versioning-steps.yml
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: Area: DevOps, PR: reviewed-approved, PR: unreviewed

#1194 feat: Use preview version for RC/preview releases
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, PR: partially-approved, PR: unreviewed

#1196 chore: fix netcore install steps for various deployment stages
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-build-test-steps.yml
  build/yaml/templates/dotnet-install-sdk-steps.yml
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/nuget-signing-steps.yml
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1197 chore: update deprecated nuget package licenseurl properties
  packages/Directory.Build.props
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/Directory.Build.props
  tests/functional/Directory.Build.props
Labels: Area: Packages: Help & Cancel, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1199 chore: fix response for missing text scripts in npm packages
  packages/HelpAndCancel/package.json
  packages/Welcome/package.json
Labels: Area: Packages: Help & Cancel, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1175 port: GetMeetingInfo, meeting start/end events [JS]
  packages/Teams/js/schemas/Actions/Teams.GetMeetingInfo.schema
  packages/Teams/js/schemas/Actions/Teams.GetMeetingInfo.uischema
  packages/Teams/js/schemas/TriggerConditions/Teams.OnMeetingEnd.schema
  packages/Teams/js/schemas/TriggerConditions/Teams.OnMeetingEnd.uischema
  packages/Teams/js/schemas/TriggerConditions/Teams.OnMeetingStart.schema
  packages/Teams/js/schemas/TriggerConditions/Teams.OnMeetingStart.uischema
  packages/Teams/js/src/actions/getMeetingInfo.ts
  packages/Teams/js/src/actions/index.ts
  packages/Teams/js/src/adaptiveTeamsBotComponent.ts
  packages/Teams/js/src/conditions/index.ts
  packages/Teams/js/src/conditions/onTeamsMeetingEnd.ts
  packages/Teams/js/src/conditions/onTeamsMeetingStart.ts
  packages/Teams/js/src/index.ts
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1178 port: GetMeetingInfo, meeting start/end events [.NET]
  packages/Teams/dotnet/Actions/GetMeetingInfo.cs
  packages/Teams/dotnet/Schemas/Actions/Teams.GetMeetingInfo.schema
  packages/Teams/dotnet/Schemas/Actions/Teams.GetMeetingInfo.uischema
  packages/Teams/dotnet/Schemas/TriggerConditions/Teams.OnMeetingEnd.schema
  packages/Teams/dotnet/Schemas/TriggerConditions/Teams.OnMeetingEnd.uischema
  packages/Teams/dotnet/Schemas/TriggerConditions/Teams.OnMeetingStart.schema
  packages/Teams/dotnet/Schemas/TriggerConditions/Teams.OnMeetingStart.uischema
  packages/Teams/dotnet/TeamsBotComponent.cs
  packages/Teams/dotnet/TriggerConditions/OnTeamsMeetingEnd.cs
  packages/Teams/dotnet/TriggerConditions/OnTeamsMeetingStart.cs
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1202 chore: clarify yarn usage in pipelines & package with version name to aid deployment
  build/yaml/templates/component-template.yml
  build/yaml/templates/npm-versioning-steps.yml
  build/yaml/templates/yarn-build-steps.yml
  build/yaml/templates/yarn-package-steps.yml
  build/yaml/templates/yarn-test-steps.yml
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1205 chore: Moving branch to RC0 + bump C# SDK to 4.14.1
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1190 chore:Add mini-spec for Telephony actions
  packages/Telephony/Readme.md
Labels: PR: partially-approved

#1204 fix: Broken links that open url in Composer modal
  generators/command-line-instructions.md
  generators/generator-bot-adaptive/README.md
  generators/generator-bot-core-assistant/README.md
  generators/generator-bot-core-language/README.md
  generators/generator-bot-core-qna/README.md
  generators/generator-bot-empty/README.md
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-calendar/README.md
  generators/generator-bot-enterprise-people/README.md
  generators/generator-bot-template-generator/README.md
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, PR: partially-approved, PR: unreviewed

#1208 chore: Empty out sdk schema and uischema to force regen
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/sdk.schema
  generators/generator-bot-adaptive/generators/app/templates/assets/schemas/sdk.uischema
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1211 chore: Complete call recording extensions package mini-spec
  packages/Telephony/Readme.md
Labels: PR: partially-approved

#1212 fix: typo in OnMEBotMessagePreviewSend
  packages/Teams/js/src/adaptiveTeamsBotComponent.ts
  packages/Teams/js/src/conditions/onTeamsMEBotMessagePreviewSend.ts
  packages/Teams/js/src/conditions/onTeamsMEConfigurationSetting.ts
  tests/unit/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/Shared Tests/ConditionalTests/ConditionalsTests_OnTeamsActivityTypes.test.dialog
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1213 feat: Update to 1.1.0 GA for Components
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, PR: partially-approved, PR: unreviewed

#1215 fix: fully remove unnecessary onTeamsMEConfigurationSetting
  packages/Teams/js/src/conditions/index.ts
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1216 fix: Bump version to 1.1.1 and incorrect references from preview to latest
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1218 build: add functions app deployment/testing to functional tests
  build/templates/template-function-dotnet-bot-resources.json
  build/templates/template-function-js-bot-resources.json
  tests/functional/Tests/ComponentsFunctionalTests/Common/HostBot.cs
  tests/functional/Tests/ComponentsFunctionalTests/EmptyBot/EmptyBotTests.cs
  tests/functional/Tests/ComponentsFunctionalTests/appsettings.json
  tests/functional/build/yaml/deployBotResources/dotnet/deploy.yml
  tests/functional/build/yaml/deployBotResources/js/deploy.yml
  tests/functional/build/yaml/testScenarios/configureConsumers.yml
  tests/functional/build/yaml/testScenarios/runTestScenarios.yml
Labels: Area: DevOps, PR: draft, PR: partially-approved, PR: unreviewed

#1221 feat: Update JS SDK in Components repo to 4.14.1 + Bump Branch Version to 1.1.2
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  tests/functional/Bots/JavaScript/Consumers/CodeFirst/SimpleHostBot/package.json
  tests/functional/Bots/JavaScript/Consumers/CodeFirst/WaterfallHostBot/package.json
  tests/functional/Bots/JavaScript/Skills/CodeFirst/EchoSkillBot/package.json
  tests/functional/Bots/JavaScript/Skills/CodeFirst/WaterfallSkillBot/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Generators: Core Assistant, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: partially-approved, PR: unreviewed

#1220 chore: Updating tests and adding documentation for error handling in …
  packages/Telephony/Actions/CallTransfer.cs
  packages/Telephony/Readme.md
  packages/Telephony/Schemas/Microsoft.Telephony.CallTransfer.uischema
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/CallTransferTests.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_BaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_IgnoredInNonTelephonyChannel.test.dialog
Labels: PR: reviewed-approved

#1224 chore:Merge main to Telephony to remove new conflicts
  .gitignore
  build/templates/template-function-dotnet-bot-resources.json
  build/templates/template-function-js-bot-resources.json
  tests/functional/Tests/ComponentsFunctionalTests/Common/HostBot.cs
  tests/functional/Tests/ComponentsFunctionalTests/EmptyBot/EmptyBotTests.cs
  tests/functional/Tests/ComponentsFunctionalTests/appsettings.json
  tests/functional/build/yaml/deployBotResources/dotnet/deploy.yml
  tests/functional/build/yaml/deployBotResources/js/deploy.yml
  tests/functional/build/yaml/testScenarios/configureConsumers.yml
  tests/functional/build/yaml/testScenarios/runTestScenarios.yml
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1227 chore: Merge Feature/telephony to main
  .gitignore
  build/yaml/pipelines/telephony.yml
  build/yaml/templates/nuget-versioning-steps.yml
  packages/Microsoft.Bot.Components.sln
  packages/Telephony/Actions/CallTransfer.cs
  packages/Telephony/Actions/PauseRecording.cs
  packages/Telephony/Actions/ResumeRecording.cs
  packages/Telephony/Actions/StartRecording.cs
  packages/Telephony/Common/CommandDialog.cs
  packages/Telephony/Common/CommandDialog{T}.cs
  packages/Telephony/Common/TelephonyExtensions.cs
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Readme.md
  packages/Telephony/Schemas/Microsoft.Telephony.CallTransfer.schema
  packages/Telephony/Schemas/Microsoft.Telephony.CallTransfer.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.uischema
  packages/Telephony/TelephonyBotComponent.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/CallTransferTests.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_BaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_IgnoredInNonTelephonyChannel.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_BaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_IgnoredInNonTelephonyChannel.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_CommandResultWrongName.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionDisabled.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionEnabled.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/IntegrationTestsBase.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/RecordingTests.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/ResourceExplorerFixture.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/TestUtils.cs
  tests/unit/Microsoft.Bot.Components.Tests.sln
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1228 chore: Ignore NU5048 to allow packages to be built locally
  packages/Directory.Build.props
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: PR: partially-approved

#1229 ci: NuGet pipeline: revert unintended change from merge
  build/yaml/templates/nuget-versioning-steps.yml
Labels: Area: DevOps, PR: reviewed-approved, PR: unreviewed

#1225 refactor: move functional test files to appropriate directories
  build/arm/template-app-insights-resources.json
  build/arm/template-bot-resources.json
  build/arm/template-cosmosdb-resources.json
  build/arm/template-function-dotnet-bot-resources.json
  build/arm/template-function-js-bot-resources.json
  build/arm/template-key-vault-resources.json
  build/arm/template-python-bot-resources.json
  build/arm/template-service-plan-linux-resources.json
  build/arm/template-service-plan-windows-resources.json
  build/arm/template-storage-resources.json
  build/yaml/functional/cleanupResources/cleanupResources.yml
  build/yaml/functional/cleanupResources/deleteAppRegistrations.yml
  build/yaml/functional/common/deleteResourceGroup.yml
  build/yaml/functional/deployBotResources/common/configureOAuth.yml
  build/yaml/functional/deployBotResources/common/createAppService.yml
  build/yaml/functional/deployBotResources/common/createDirectLine.yml
  build/yaml/functional/deployBotResources/common/deleteResources.yml
  build/yaml/functional/deployBotResources/common/getAppRegistration.yml
  build/yaml/functional/deployBotResources/common/prepareResources.yml
  build/yaml/functional/deployBotResources/common/tagBotBuilderVersion.yml
  build/yaml/functional/deployBotResources/deployBotResources.yml
  build/yaml/functional/deployBotResources/dotnet/deploy.yml
  build/yaml/functional/deployBotResources/dotnet/evaluateDependenciesVariables.yml
  build/yaml/functional/deployBotResources/dotnet/installDependencies.yml
  build/yaml/functional/deployBotResources/generator/deploy.yml
  build/yaml/functional/deployBotResources/js/deploy.yml
  build/yaml/functional/deployBotResources/js/evaluateDependenciesVariables.yml
  build/yaml/functional/sharedResources/createAppRegistrations.yml
  build/yaml/functional/sharedResources/createSharedResources.yml
  build/yaml/functional/testScenarios/configureConsumers.yml
  build/yaml/functional/testScenarios/runScenario.yml
  build/yaml/functional/testScenarios/runTestScenarios.yml
  build/yaml/pipelines/functionaltests.yml
  tests/functional/.yarn/releases/yarn-berry.cjs
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1232 feat: DTMF Batching for Telephony package
  packages/Telephony/Actions/BatchFixedLengthInput.cs
  packages/Telephony/Actions/BatchTerminationCharacterInput.cs
  packages/Telephony/Common/RegexAggregatorInput.cs
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Readme.md
  packages/Telephony/Schemas/Microsoft.Telephony.FixedLengthBatchInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.FixedLengthBatchInput.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.TerminationCharacterBatchInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.TerminationCharacterBatchInput.uischema
  packages/Telephony/TelephonyBotComponent.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthBaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthHappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthIgnoresNonDTMF.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationBaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationHappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationIgnoresNonDTMF.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
Labels: PR: reviewed-approved

#1233 build: Telephony: Update version to 1.0.0 and update SDK dependency to 4.14.1
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: PR: reviewed-approved

#1234 build: Telephony adjustments for pipelines
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: PR: reviewed-approved

#1235 refactor: Move Telephony tests to tests\unit
  .gitignore
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/CallTransferTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthHappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthIgnoresNonDTMF.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationHappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationIgnoresNonDTMF.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_BaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_HappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/CallTransferTests/CallTransfer_IgnoredInNonTelephonyChannel.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_BaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_HappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_IgnoredInNonTelephonyChannel.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_CommandResultWrongName.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionDisabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionEnabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/IntegrationTestsBase.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/RecordingTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/ResourceExplorerFixture.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/TestUtils.cs
Labels: PR: partially-approved
