Repository microsoft/botframework-components, pull requests merged in 2021-05, with the labels that each got.

#1073 docs: Udpated extending-with-code doc
  docs/assets/MultiplyDialog.cs
  docs/assets/MultiplyDialog.csproj
  docs/assets/MultiplyDialog.schema
  docs/assets/MultiplyDialogBotComponent.cs
  docs/extending-with-code.md
Labels: Area: Docs, PR: reviewed-approved, PR: unreviewed

#1065 fix: .NET Functions .csproj template fixes
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: Area: Generators: Adaptive, PR: reviewed-approved, PR: unreviewed

#1075 fix: Fixing closing tag for local.settings.json Content element in .NET Functions .csproj template
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: Area: Generators: Adaptive, PR: reviewed-approved, PR: unreviewed

#1078 fix: Install .NET Core SDK for '.NET: Version, Sign & Pack' CI/CD pipeline stage
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-build-test-steps.yml
  build/yaml/templates/dotnet-install-sdk-steps.yml
  packages/Microsoft.Bot.Components.sln
Labels: Area: DevOps, PR: partially-approved, PR: unreviewed

#1079 docs: R13 fit and finish for template README.md files
  README.md
  generators/generator-bot-core-assistant/README.md
  generators/generator-bot-core-assistant/generators/app/templates/README.md
  generators/generator-bot-core-language/README.md
  generators/generator-bot-core-language/generators/app/templates/README.md
  generators/generator-bot-core-qna/README.md
  generators/generator-bot-core-qna/generators/app/templates/README.md
  generators/generator-bot-empty/README.md
  generators/generator-bot-empty/generators/app/templates/README.md
  generators/generator-bot-enterprise-assistant/README.md
  generators/generator-bot-enterprise-assistant/generators/app/templates/README.md
  generators/generator-bot-enterprise-calendar/README.md
  generators/generator-bot-enterprise-people/README.md
  generators/generator-bot-enterprise-people/generators/app/templates/README.md
  generators/generator-bot-template-generator/README.md
Labels: Area: Generators: Core Assistant, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, PR: partially-approved, PR: reviewed-changes-requested, PR: unreviewed

#1081 chore: Bumping component dependency versions to 4.13.0-rc9.
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: Area: Generators: Core Assistant, Area: Generators: Enterprise Calendar, PR: unreviewed

#1092 fix: convert switch case condition to stringexpression, per schema definition
  generators/generator-bot-core-assistant/generators/app/templates/botName.dialog
  generators/generator-bot-enterprise-assistant/generators/app/templates/botName.dialog
Labels: Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, PR: partially-approved, PR: reviewed-approved, PR: unreviewed

#1095 chore: Bumping component dependency versions to 4.13.0-rc10.
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: Area: Generators: Core Assistant, Area: Generators: Enterprise Calendar, PR: unreviewed

#1096 chore: bump js sdk version to 4.13.2-preview
  generators/generator-bot-adaptive/generators/app/index.js
Labels: Area: Generators: Adaptive, PR: reviewed-approved, PR: unreviewed

#1098 chore: Bumping component dependency versions to 4.13.0.
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-people/generators/app/index.js
Labels: Area: Generators: Core Assistant, Area: Generators: Enterprise Calendar, PR: unreviewed

#1093 fix: Test sln point to new dotnet path for Teams package
  tests/Microsoft.Bot.Components.Tests.sln
Labels: PR: partially-approved

#1113 fix: Update .NET Functions to use wwwroot dir for static files
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/StaticFilesTrigger.cs
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: Area: Generators: Adaptive, PR: partially-approved, PR: unreviewed

#1116 fix: add rewrite rule for manifest files for js webapps
  generators/generator-bot-adaptive/generators/app/templates/js/webapp/web.config
Labels: Area: Generators: Adaptive, PR: reviewed-approved, PR: unreviewed

#1117 fix: [Cherry Pick 4.13] add rewrite rule for manifest files for js webapps
  generators/generator-bot-adaptive/generators/app/templates/js/webapp/web.config
Labels: Area: Generators: Adaptive, PR: unreviewed

#1120 bump: js to 4.13.4
  generators/generator-bot-adaptive/generators/app/index.js
  packages/Teams/js/package.json
  yarn.lock
Labels: Area: Generators: Adaptive, Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1119 fix: Updated SDK dependencies
  docs/assets/MultiplyDialog.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/tests/calendarskill.tests/CalendarSkill.Tests.csproj
  skills/csharp/tests/musicskill.Tests/MusicSkill.Tests.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/schemas/sdk.schema
  skills/declarative/People/People/People.csproj
  skills/declarative/People/People/schemas/sdk.schema
  tests/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/skills/calendar/app.schema
  tests/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  tests/skills/people/app.schema
Labels: Area: Docs, Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: reviewed-approved, PR: unreviewed

#1121 [Cherry Pick 4.13] Bump Dotnet and JS SDK dependencies
  docs/assets/MultiplyDialog.csproj
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/tests/calendarskill.tests/CalendarSkill.Tests.csproj
  skills/csharp/tests/musicskill.Tests/MusicSkill.Tests.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/schemas/sdk.schema
  skills/declarative/People/People/People.csproj
  skills/declarative/People/People/schemas/sdk.schema
  tests/packages/Microsoft.Bot.Components.Teams.Tests/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/skills/calendar/app.schema
  tests/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  tests/skills/people/app.schema
  yarn.lock
Labels: Area: Docs, Area: Generators: Adaptive, Area: Generators: Enterprise Assistant, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, PR: unreviewed

#1115 chore: Add tags to Teams component project file
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/dotnet/README.md
Labels: Area: Packages: Teams, PR: reviewed-approved, PR: unreviewed

#1068 fix: orphaned schemas
  packages/Teams/dotnet/Schemas/TriggerConditions/Teams.OnTeamHardDeleted.uischema
  packages/Teams/js/schemas/TriggerConditions/Teams.OnTeamHardDeleted.uischema
Labels: Area: Packages: Teams, PR: reviewed-approved

#1124 chore: [4.13] Set generator versions to 1.0.0
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
Labels: Area: Generators: Core Assistant, Area: Generators: Empty, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, PR: reviewed-approved, PR: unreviewed

#1126 chore: [4.13] Updated yarn.lock for adaptive generator
  yarn.lock
Labels: PR: partially-approved

#1125 chore: PR labeler corrections
  .github/labeler.yml
Labels: PR: reviewed-approved

#1127 docs: cleanup docs & root readme
  README.md
  assets/packageManager.PNG
  docs/assets/MultiplyDialog.cs
  docs/assets/MultiplyDialog.csproj
  docs/assets/MultiplyDialog.schema
  docs/assets/MultiplyDialogBotComponent.cs
  docs/creating-packages.md
  docs/creating-templates.md
  docs/extending-with-code.md
  docs/extending-with-packages.md
  docs/overview.md
Labels: Area: Docs, PR: reviewed-approved, PR: unreviewed

#1066 chore: [Internal dev branch PR] Telephony: integration tests and CommandDialog interruption model first pass
  .gitignore
  packages/Telephony/Actions/CallTransfer.cs
  packages/Telephony/Actions/PauseRecording.cs
  packages/Telephony/Actions/ResumeRecording.cs
  packages/Telephony/Actions/StartRecording.cs
  packages/Telephony/Common/CommandDialog{T}.cs
  packages/Telephony/Common/RecordingStartSettings.cs
  packages/Telephony/Common/TelephonyExtensions.cs
  tests/Microsoft.Bot.Components.Tests.sln
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_BaseScenario.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_CommandResultWrongName.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_HappyPath.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_IgnoredInNonTelephonyChannel.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionDisabled.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/StartRecording_WithTangent_InterruptionEnabled.test.dialog
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/IntegrationTestsBase.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/NuGet.Config
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/RecordingTests.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/ResourceExplorerFixture.cs
  tests/packages/Microsoft.Bot.Components.Telephony.Tests/TestUtils.cs
Labels: PR: reviewed-approved
