Repository microsoft/botframework-components, pull requests merged in 2021-02, with the labels that each got.

#535 Removed unused calendar adaptive files
  skills/declarative/calendarSkill/dialogs/ChooseOption/knowledge-base/en-us/ChooseOption.en-us.qna
  skills/declarative/calendarSkill/dialogs/ChooseOption/language-understanding/en-us/ChooseOption.en-us.lu
  skills/declarative/calendarSkill/dialogs/GetContactDialog/language-generation/en-us/GetContactDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/knowledge-base/en-us/GetEventsByDateDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/GetEventsByDateDialog/language-understanding/en-us/GetEventsByDateDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/GetScheduleDialog.dialog
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/knowledge-base/en-us/GetScheduleDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/language-generation/en-us/GetScheduleDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/language-understanding/en-us/GetScheduleDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/recognizers/GetScheduleDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/recognizers/GetScheduleDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/GetScheduleDialog/recognizers/GetScheduleDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/LookupContactDialog.dialog
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/LookupContactDialog.dialog.schema
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/knowledge-base/en-us/LookupContactDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/language-generation/en-us/LookupContactDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/language-understanding/en-us/LookupContactDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/recognizers/LookupContactDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/recognizers/LookupContactDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/LookupContactDialog/recognizers/LookupContactDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/ResolveCreateEventInput/knowledge-base/en-us/ResolveCreateEventInput.en-us.qna
  skills/declarative/calendarSkill/dialogs/ResolveCreateEventInput/language-understanding/en-us/ResolveCreateEventInput.en-us.lu
  skills/declarative/calendarSkill/dialogs/SearchEvents/knowledge-base/en-us/SearchEvents.en-us.qna
  skills/declarative/calendarSkill/dialogs/SearchEvents/language-understanding/en-us/SearchEvents.en-us.lu
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/SearchEventsDialog.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/knowledge-base/en-us/SearchEventsDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-generation/en-us/SearchEventsDialog.en-us.lg
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/language-understanding/en-us/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.en-us.lu.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.lu.dialog
  skills/declarative/calendarSkill/dialogs/SearchEventsDialog/recognizers/SearchEventsDialog.lu.qna.dialog
  skills/declarative/calendarSkill/dialogs/TestDialog/knowledge-base/en-us/TestDialog.en-us.qna
  skills/declarative/calendarSkill/dialogs/UpdateDialog/language-generation/en-us/UpdateDialog.en-us.lg
  skills/declarative/calendarSkill/generated/interruption/ChooseOption.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/GetEventsByDateDialog.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/GetScheduleDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/GetScheduleDialog.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/LookupContactDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/LookupContactDialog.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/ResolveCreateEventInput.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/SearchEvents.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/SearchEventsDialog.en-us.lu
  skills/declarative/calendarSkill/generated/interruption/SearchEventsDialog.en-us.qna
  skills/declarative/calendarSkill/generated/interruption/TestDialog.en-us.qna
Labels: PR: reviewed-approved

#534 Workflow change to ensure running of automations for declarative skills
  .github/workflows/build-and-test.yml
Labels: PR: reviewed-approved

#536 Publish Nuspec for Msgraph package
  experimental/components/MsGraph/BotPlugin.cs
  experimental/components/MsGraph/Microsoft.BotFramework.CustomAction.MsGraph.csproj
  experimental/components/MsGraph/NuGet.Config
Labels: PR: partially-approved

#537 Docs
  README.md
  docs/component-creation.md
  docs/overview.md
  docs/package-management.md
Labels: PR: reviewed-approved

#539 Add MsGraph package reference
  experimental/templates/generator-preview-calendar-skill/generators/app/index.js
Labels: Area: Calendar V2, PR: reviewed-approved, PR: unreviewed

#543 Move to alpha.2 build package
  experimental/templates/generator-preview-calendar-skill/generators/app/index.js
Labels: Area: Calendar V2, PR: reviewed-approved, PR: unreviewed

#541 Update csproj
  experimental/components/Calendar/Microsoft.BotFramework.CustomAction.CalendarSkill.csproj
Labels: Area: Calendar V2, PR: reviewed-approved, PR: unreviewed

#538 Move MsGraph custom action to netstandard2.0 by not using ToHashSet()
  experimental/components/MsGraph/Actions/GetContacts.cs
  experimental/components/MsGraph/Microsoft.BotFramework.CustomAction.MsGraph.csproj
Labels: Area: Calendar V2, PR: partially-approved, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#545 Move conversationalcore/assistant components to packages directory
  .gitignore
  packages/HelpAndCancel/HelpAndCancel.nuspec
  packages/HelpAndCancel/README.md
  packages/HelpAndCancel/exported/HelpAndCancel.dialog
  packages/HelpAndCancel/exported/language-generation/en-us/HelpAndCancel.en-us.lg
  packages/HelpAndCancel/exported/language-understanding/en-us/HelpAndCancel.en-us.lu
  packages/HelpAndCancel/package.json
  packages/Onboarding/Onboarding.nuspec
  packages/Onboarding/README.md
  packages/Onboarding/exported/Onboarding.dialog
  packages/Onboarding/exported/knowledge-base/en-us/Onboarding.en-us.qna
  packages/Onboarding/exported/language-generation/en-us/Onboarding.en-us.lg
  packages/Onboarding/exported/language-understanding/en-us/Onboarding.en-us.lu
  packages/Onboarding/exported/recognizers/Onboarding.en-us.lu.dialog
  packages/Onboarding/exported/recognizers/Onboarding.lu.dialog
  packages/Onboarding/exported/recognizers/Onboarding.lu.qna.dialog
  packages/Onboarding/package.json
  packages/README.md
  packages/Welcome/README.md
  packages/Welcome/Welcome.nuspec
  packages/Welcome/exported/Welcome.dialog
  packages/Welcome/exported/language-generation/en-us/Welcome.en-us.lg
  packages/Welcome/package.json
Labels: PR: partially-approved

#548 fix: wrong id format in 'todoskill' bot
  skills/declarative/todoskill/dialogs/AddToDo/AddToDo.dialog
  skills/declarative/todoskill/dialogs/AddToListOutlook/AddToListOutlook.dialog
  skills/declarative/todoskill/dialogs/CorrectPage/CorrectPage.dialog
  skills/declarative/todoskill/dialogs/DeleteInListOutlook/DeleteInListOutlook.dialog
  skills/declarative/todoskill/dialogs/DeleteToDo/DeleteToDo.dialog
  skills/declarative/todoskill/dialogs/GetToDos/GetToDos.dialog
  skills/declarative/todoskill/dialogs/MarkInListOutlook/MarkInListOutlook.dialog
  skills/declarative/todoskill/dialogs/MarkToDo/MarkToDo.dialog
  skills/declarative/todoskill/dialogs/OAuth/OAuth.dialog
  skills/declarative/todoskill/dialogs/OutlookGetOrCreateTaskFolderAsync/OutlookGetOrCreateTaskFolderAsync.dialog
  skills/declarative/todoskill/dialogs/OutlookGetTaskFoldersAsync/OutlookGetTaskFoldersAsync.dialog
  skills/declarative/todoskill/dialogs/PostAsync/PostAsync.dialog
  skills/declarative/todoskill/dialogs/ShowNextPrev/ShowNextPrev.dialog
Labels: PR: partially-approved

#533 Bootstrapping who skill botproj
  skills/declarative/whoSkill/.gitignore
  skills/declarative/whoSkill/README.md
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/knowledge-base/en-us/AuthenticationDialog.en-us.qna
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/language-generation/en-us/AuthenticationDialog.en-us.lg
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/language-understanding/en-us/AuthenticationDialog.en-us.lu
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/recognizers/AuthenticationDialog.en-us.lu.dialog
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/recognizers/AuthenticationDialog.lu.dialog
  skills/declarative/whoSkill/dialogs/AuthenticationDialog/recognizers/AuthenticationDialog.lu.qna.dialog
  skills/declarative/whoSkill/dialogs/WhoIsPerson/WhoIsPerson.dialog
  skills/declarative/whoSkill/dialogs/WhoIsPerson/knowledge-base/en-us/WhoIsPerson.en-us.qna
  skills/declarative/whoSkill/dialogs/WhoIsPerson/language-generation/en-us/WhoIsPerson.en-us.lg
  skills/declarative/whoSkill/dialogs/WhoIsPerson/language-understanding/en-us/WhoIsPerson.en-us.lu
  skills/declarative/whoSkill/dialogs/WhoIsPerson/recognizers/WhoIsPerson.en-us.lu.dialog
  skills/declarative/whoSkill/dialogs/WhoIsPerson/recognizers/WhoIsPerson.lu.dialog
  skills/declarative/whoSkill/dialogs/WhoIsPerson/recognizers/WhoIsPerson.lu.qna.dialog
  skills/declarative/whoSkill/generated/interruption/AuthenticationDialog.en-us.lu
  skills/declarative/whoSkill/generated/interruption/AuthenticationDialog.en-us.qna
  skills/declarative/whoSkill/generated/interruption/WhoIsPerson.en-us.lu
  skills/declarative/whoSkill/generated/interruption/WhoIsPerson.en-us.qna
  skills/declarative/whoSkill/generated/interruption/whoSkill.en-us.lu
  skills/declarative/whoSkill/generated/interruption/whoSkill.en-us.qna
  skills/declarative/whoSkill/knowledge-base/en-us/whoSkill.en-us.qna
  skills/declarative/whoSkill/language-generation/en-us/common.en-us.lg
  skills/declarative/whoSkill/language-generation/en-us/whoSkill.en-us.lg
  skills/declarative/whoSkill/language-understanding/en-us/General/help.en-us.lu
  skills/declarative/whoSkill/language-understanding/en-us/whoSkill.en-us.lu
  skills/declarative/whoSkill/language-understanding/en-us/whoSkill/whoIsPerson.en-us.lu
  skills/declarative/whoSkill/recognizers/whoSkill.en-us.lu.dialog
  skills/declarative/whoSkill/recognizers/whoSkill.lu.dialog
  skills/declarative/whoSkill/recognizers/whoSkill.lu.qna.dialog
  skills/declarative/whoSkill/scripts/DeploymentTemplates/function-template-with-preexisting-rg.json
  skills/declarative/whoSkill/scripts/DeploymentTemplates/new-rg-parameters.json
  skills/declarative/whoSkill/scripts/DeploymentTemplates/preexisting-rg-parameters.json
  skills/declarative/whoSkill/scripts/DeploymentTemplates/qna-template.json
  skills/declarative/whoSkill/scripts/DeploymentTemplates/template-with-new-rg.json
  skills/declarative/whoSkill/scripts/DeploymentTemplates/template-with-preexisting-rg.json
  skills/declarative/whoSkill/scripts/package.json
  skills/declarative/whoSkill/scripts/provisionComposer.js
  skills/declarative/whoSkill/whoSkill.botproj
  skills/declarative/whoSkill/whoSkill.dialog
Labels: Area: Who V2, PR: reviewed-approved, PR: unreviewed

#552 Updating the conversational core template generator.
  generators/generator-conversational-core/generators/app/index.js
  generators/generator-conversational-core/generators/app/templates/settings/appsettings.json
  generators/generator-conversational-core/package.json
Labels: PR: reviewed-approved

#554 Pavolum/fix read me bug
  generators/generator-conversational-core/README.md
  generators/generator-conversational-core/package.json
Labels: PR: reviewed-approved

#555 Pavolum/fix read mebug
  generators/generator-conversational-core/README.md
  generators/generator-conversational-core/package.json
Labels: PR: unreviewed

#560 small update to multibot template to work with composer
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/package-lock.json
Labels: PR: reviewed-approved

#570 Maintenance: Ignore all /node_modules directories
  .gitignore
Labels: PR: unreviewed

#558 Add YAML pipelines to package and publish to build artifacts
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/generator-adaptive-bot.yml
  build/yaml/pipelines/generator-conversational-core.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/msgraph.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/readme.md
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/npm-package-steps.yml
  build/yaml/templates/nuget-build-artifacts-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
  generators/generator-adaptive-bot/generators/app/templates/assets/NuGet.config
  generators/generator-adaptive-bot/package.json
  generators/generator-conversational-core/package.json
  generators/generator-multibot/package.json
  generators/generator-preview-calendar-skill/package.json
  packages/CalendarSkill/Microsoft.Bot.Component.CalendarSkill.csproj
  packages/HelpAndCancel/package.json
  packages/MsGraph/Microsoft.Bot.Component.MsGraph.csproj
  packages/NuGet.Config
  packages/Onboarding/package.json
  packages/Welcome/package.json
  skills/declarative/calendarSkill/runtime/NuGet.Config
  skills/declarative/tests/NuGet.Config
Labels: PR: partially-approved

#572 Adding readMe for qna template
  docs/qnaTemplateReadMe.md
Labels: PR: reviewed-approved

#571 Maintenance: remove experimental scenarios
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter.sln
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/BotController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/SkillController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Controllers/SlackController.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/CustomAdapter.csproj
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/echo.dialog
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/generated/echo.lu.qna.dialog
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/knowledge-base/en-us/echo.en-us.qna
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-generation/en-us/common.en-us.lg
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-generation/en-us/echo.en-us.lg
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Dialogs/echo/language-understanding/en-us/echo.en-us.lu
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Program.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Properties/launchSettings.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/README.md
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/RuntimeSlackAdapter.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Scripts/deploy.ps1
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/Startup.cs
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/appsettings.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/runtime.json
  experimental/scenarios/runtime/dotnet/CustomAdapter/CustomAdapter/wwwroot/default.htm
  experimental/scenarios/runtime/dotnet/CustomAdapter/README.md
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot.sln
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Controllers/BotController.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Controllers/SkillController.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/echo.dialog
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/generated/echo.lu.qna.dialog
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/knowledge-base/en-us/echo.en-us.qna
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-generation/en-us/common.en-us.lg
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-generation/en-us/echo.en-us.lg
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Dialogs/echo/language-understanding/en-us/echo.en-us.lu
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/EchoBot.csproj
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Program.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Properties/launchSettings.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/README.md
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Scripts/deploy.ps1
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/Startup.cs
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/appsettings.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/runtime.json
  experimental/scenarios/runtime/dotnet/EchoBot/EchoBot/wwwroot/default.htm
  experimental/scenarios/runtime/dotnet/EchoBot/README.md
Labels: PR: reviewed-approved, technical-debt

#575 updating read me for templates to more favorable format for Composer
  docs/qnaTemplateReadMe.md
  generators/generator-conversational-core/README.md
  generators/generator-conversational-core/package.json
  generators/generator-empty-bot/README.md
  generators/generator-empty-bot/package.json
Labels: PR: reviewed-approved

#577 update runtime version for conversational core
  generators/generator-conversational-core/package.json
Labels: PR: unreviewed

#576 feat: Add Orchestrator Recognizer plugin component
  build/yaml/pipelines/recognizers-orchestrator.yml
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers.Orchestrator/BotPlugin.cs
  packages/Recognizers.Orchestrator/Microsoft.Bot.Components.Recognizers.Orchestrator.csproj
Labels: PR: partially-approved

#587 Update JS pipelines to use NPM 14.x
  build/yaml/templates/npm-package-steps.yml
Labels: PR: reviewed-approved

#589 Pavolum/change generator names
  generators/generator-microsoft-bot-adaptive/README.md
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/NuGet.config
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/runtime.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/botName.sln
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/ActivitySerializationSettings.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Properties/serviceDependencies.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Properties/serviceDependencies.local.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/SkillsTrigger.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/host.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/local.settings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/.gitignore
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Properties/launchSettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/README.md
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Scripts/deploy.ps1
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/wwwroot/default.htm
  generators/generator-microsoft-bot-adaptive/package-lock.json
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-conversational-core/README.md
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/README.md
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/conversational-core.botproj
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/conversational-core.dialog
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/knowledge-base/en-us/conversational-core.en-us.qna
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/language-generation/en-us/conversational-core.en-us.lg
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/language-understanding/en-us/conversational-core.en-us.lu
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/recognizers/conversational-core.en-us.lu.dialog
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/recognizers/conversational-core.lu.dialog
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/recognizers/conversational-core.lu.qna.dialog
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-conversational-core/package-lock.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/README.md
  generators/generator-microsoft-bot-empty/generators/app/index.js
  generators/generator-microsoft-bot-empty/generators/app/templates/README.md
  generators/generator-microsoft-bot-empty/generators/app/templates/emptyBot.botproj
  generators/generator-microsoft-bot-empty/generators/app/templates/emptyBot.dialog
  generators/generator-microsoft-bot-empty/generators/app/templates/knowledge-base/en-us/emptyBot.en-us.qna
  generators/generator-microsoft-bot-empty/generators/app/templates/language-generation/en-us/common.en-us.lg
  generators/generator-microsoft-bot-empty/generators/app/templates/language-generation/en-us/emptyBot.en-us.lg
  generators/generator-microsoft-bot-empty/generators/app/templates/language-understanding/en-us/emptyBot.en-us.lu
  generators/generator-microsoft-bot-empty/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-empty/package.json
Labels: PR: reviewed-approved

#594 feat: generator-microsoft-bot-adaptive plugin support
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/runtime.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
Labels: PR: partially-approved

#592 Configure prerelease version in pipelines
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/generator-adaptive-bot.yml
  build/yaml/pipelines/generator-conversational-core.yml
  build/yaml/pipelines/generator-empty-bot.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/onboarding.yml
  build/yaml/pipelines/orchestrator.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/component-template.yml
  build/yaml/templates/npm-package-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
  build/yaml/templates/versioning-steps.yml
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Onboarding/package.json
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
Labels: PR: reviewed-approved

#591 bug: Re-enable Calendar tests
  .github/workflows/build-and-test.yml
Labels: PR: partially-approved

#596 feat: Adding plugin definitions to appsettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/generators/app/templates/settings/appsettings.json
  generators/generator-preview-calendar-skill/generators/app/index.js
  generators/generator-preview-calendar-skill/generators/app/templates/settings/appsettings.json
Labels: PR: unreviewed

#585 Generators: Update to latest runtime, update config, add adapter support, minor fixes
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/appsettings.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/runtime.json
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Triggers/MessagesTrigger.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/BotController.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Program.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-microsoft-bot-conversational-core/generators/app/templates/settings/appsettings.json
  generators/generator-microsoft-bot-empty/generators/app/templates/settings/appsettings.json
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/generators/app/templates/settings/appsettings.json
  generators/generator-preview-calendar-skill/generators/app/templates/settings/appsettings.json
Labels: PR: unreviewed

#597 feat: Generator package reference updates
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/generators/app/templates/settings/appsettings.json
  generators/generator-preview-calendar-skill/generators/app/index.js
  generators/generator-preview-calendar-skill/generators/app/templates/settings/appsettings.json
Labels: PR: partially-approved

#598 feat: Generator build YAML updates and dependency changes
  build/yaml/pipelines/generator-microsoft-bot-adaptive.yml
  build/yaml/pipelines/generator-microsoft-bot-conversational-core.yml
  build/yaml/pipelines/generator-microsoft-bot-empty.yml
  build/yaml/templates/npm-package-steps.yml
  build/yaml/templates/versioning-steps.yml
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/generators/app/index.js
  generators/generator-microsoft-bot-empty/package.json
Labels: PR: unreviewed

#599 feat: multibot and calendar generator updates
  generators/generator-microsoft-bot-adaptive/package.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/package.json
  generators/generator-preview-calendar-skill/generators/app/index.js
  generators/generator-preview-calendar-skill/package.json
Labels: PR: unreviewed

#600 bug: Fix Microsoft.Bot.Components.Calendar version in calendar generator
  generators/generator-preview-calendar-skill/generators/app/index.js
Labels: PR: unreviewed

#607 update multibot and calendar with new package names
  generators/generator-multibot/generators/app/index.js
  generators/generator-multibot/package-lock.json
  generators/generator-multibot/package.json
  generators/generator-preview-calendar-skill/generators/app/index.js
  generators/generator-preview-calendar-skill/package-lock.json
  generators/generator-preview-calendar-skill/package.json
Labels: PR: unreviewed

#608 feat: Add schemas to generator-microsoft-bot-adaptive
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/schemas/readme.md
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/schemas/sdk.schema
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/schemas/sdk.uischema
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/schemas/update-schema.ps1
  generators/generator-microsoft-bot-adaptive/generators/app/templates/assets/schemas/update-schema.sh
  generators/generator-microsoft-bot-adaptive/package-lock.json
Labels: PR: partially-approved

#611 Empty bot: fix for main in package.json pointing to wrong folder
  generators/generator-microsoft-bot-empty/package.json
Labels: PR: partially-approved

#610 Update components and generators to RC1
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/declarative/calendarSkill/runtime/azurewebapp/Microsoft.BotFramework.Composer.WebApp.csproj
  skills/declarative/calendarSkill/runtime/customaction/Microsoft.BotFramework.Composer.CustomAction.csproj
  skills/declarative/tests/calendarSkill/Microsoft.Bot.CalendarSkill.Dialogs.Tests.csproj
Labels: PR: reviewed-approved

#612 feat: Package reference updates
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
  generators/generator-microsoft-bot-multibot/generators/app/index.js
  generators/generator-microsoft-bot-multibot/package.json
Labels: PR: unreviewed

#619 bug: Restoring appsettings.json for multibot generator
  generators/generator-microsoft-bot-multibot/generators/app/templates/settings/appsettings.json
Labels: PR: unreviewed

#620 feat: @microsoft/generator-microsoft-bot-multibot update
  generators/generator-microsoft-bot-multibot/package.json
Labels: PR: partially-approved

#622 fix: update some values to match latest orchestrator settings
  generators/generator-microsoft-bot-multibot/generators/app/templates/recognizers/conversational-core.en-us.lu.dialog
Labels: PR: reviewed-approved

#623 feat: Remove clear element from scaffolded NuGet.config
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
  generators/generator-microsoft-bot-adaptive/package-lock.json
  generators/generator-microsoft-bot-adaptive/package.json
Labels: PR: unreviewed

#625 feat: @microsoft/generator-microsoft-bot-adaptive dependency version update
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
Labels: PR: unreviewed

#626 feat: @microsoft/generator-microsoft-bot-multibot dependency version update
  generators/generator-microsoft-bot-multibot/package.json
Labels: PR: unreviewed

#624 fix: use this.async()
  generators/generator-microsoft-bot-adaptive/generators/app/index.js
Labels: PR: reviewed-approved

#628 Pipelines: Add tag builds, versioning setup stage
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-adaptive.yml
  build/yaml/pipelines/generator-microsoft-bot-calendar.yml
  build/yaml/pipelines/generator-microsoft-bot-conversational-core.yml
  build/yaml/pipelines/generator-microsoft-bot-empty.yml
  build/yaml/pipelines/generator-microsoft-bot-multibot.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/onboarding.yml
  build/yaml/pipelines/orchestrator.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/readme.md
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/npm-package-steps.yml
  build/yaml/templates/npm-versioning-steps.yml
  build/yaml/templates/nuget-versioning-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
  build/yaml/templates/versioning-steps.yml
Labels: PR: unreviewed

#637 Pipelines: Enable ESRP signing to Nuget packages
  build/35MSSharedLib1024.snk
  build/ExtractCompressNuGet.ps1
  build/yaml/templates/component-template.yml
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/nuget-build-artifacts-steps.yml
  build/yaml/templates/nuget-signing-steps.yml
  build/yaml/templates/nuget-versioning-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
Labels: PR: reviewed-approved

#639 Pipelines: Add missing package properties/tags, include symbols/sources
  build/yaml/templates/dotnet-package-steps.yml
  build/yaml/templates/nuspec-package-steps.yml
  packages/Calendar/Microsoft.Bot.Components.Calendar.csproj
  packages/Directory.Build.props
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Onboarding/Microsoft.Bot.Components.Onboarding.nuspec
  packages/Onboarding/package.json
  packages/Orchestrator/Microsoft.Bot.Components.Orchestrator.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  skills/declarative/whoSkill/whoSkill/NuGet.config
Labels: PR: reviewed-approved

#644 Adaptive generator: cleanup workaround from startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/functions/Startup.cs
  generators/generator-microsoft-bot-adaptive/generators/app/templates/dotnet/webapp/Startup.cs
Labels: PR: partially-approved

#645 feat: Generator updates
  generators/generator-microsoft-bot-calendar/generators/app/index.js
  generators/generator-microsoft-bot-calendar/package.json
  generators/generator-microsoft-bot-conversational-core/generators/app/index.js
  generators/generator-microsoft-bot-conversational-core/package.json
  generators/generator-microsoft-bot-empty/package.json
Labels: PR: partially-approved

#646 feat: Multibot generator update
  generators/generator-microsoft-bot-multibot/generators/app/index.js
  generators/generator-microsoft-bot-multibot/package.json
Labels: PR: partially-approved

#647 Pipelines: Fix copyright char
  packages/Directory.Build.props
Labels: PR: reviewed-approved
