Repository microsoft/botframework-components, pull requests merged in 2021-08, with the labels that each got.

#1230 fix: Adds comments to calendar dialogs
  skills/declarative/Calendar/Calendar/Calendar.dialog
  skills/declarative/Calendar/Calendar/dialogs/AuthenticationDialog/AuthenticationDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CancelEventDialog/CancelEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetContactsDialog/GetContactsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/language-generation/en-us/ResolveDateTimeDialog.en-us.lg
  skills/declarative/Calendar/Calendar/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ShowEventsDialog/ShowEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/Calendar/Calendar/language-generation/en-us/Calendar.en-us.lg
  skills/declarative/Calendar/Calendar/settings/appsettings.json
Labels: PR: partially-approved

#1240 chore: Telephony: Improve AllowInterruptions related behavior for recording actions
  packages/Telephony/Actions/BatchFixedLengthInput.cs
  packages/Telephony/Actions/BatchTerminationCharacterInput.cs
  packages/Telephony/Common/CommandDialog{T}.cs
  packages/Telephony/Common/RegexAggregatorInput.cs
  packages/Telephony/Readme.md
  packages/Telephony/Schemas/Microsoft.Telephony.BatchFixedLengthInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchTerminationCharacterInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.PauseRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.ResumeRecording.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.schema
  packages/Telephony/Schemas/Microsoft.Telephony.StartRecording.uischema
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLengthBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_FixedLength_WithTangent_InterruptionEnabled_EventInterrupt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_TerminationBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Termination_WithTangent_InterruptionEnabled_EventInterrupt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/RecordingTests/Recording_BaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/RecordingTests.cs
Labels: PR: unreviewed

#1231 chore: Merge 4.14.1 JS SDK to main
  .gitignore
  build/yaml/templates/nuget-versioning-steps.yml
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-core-qna/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Directory.Build.props
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: PR: partially-approved, Area: DevOps, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core QnA, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Generators: Adaptive

#1248 build: resolve botbuilder-adaptive-runtime version sourcing in js
  build/yaml/functional/deployBotResources/js/evaluateDependenciesVariables.yml
Labels: PR: partially-approved, Area: DevOps

#1249 build: revert pipelines bug introduced in #1231
  build/yaml/templates/nuget-versioning-steps.yml
Labels: PR: partially-approved, Area: DevOps
