Repository microsoft/botframework-components, pull requests merged in 2022-04, with the labels that each got.

#1325 fix: add qna template readme back in
  generators/generator-bot-core-qna/README.md
Labels: PR: reviewed-approved, Area: Generators: Core QnA

#1322 chore: bump .NET/JS sdk to 4.16.0 and components to 1.3.0
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Actions/BaseAuthResponseDialog.cs
  packages/Teams/dotnet/Actions/SendMessageToTeamsChannel.cs
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: PR: reviewed-approved, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Generators: Adaptive

#1326 Lamil/bug fixes 4.16
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetCollaboratorsDialog/GetCollaboratorsDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetDirectReportsDialog/GetDirectReportsDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetPeersDialog/GetPeersDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/GetUserDialog/GetUserDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/ListDialog/ListDialog.dialog
  packages/Graph/Actions/Event/CreateEvent.cs
  packages/Graph/Actions/Event/GetEventById.cs
  packages/Graph/Actions/Event/GetEvents.cs
  packages/Graph/Actions/Helpers/FindAvailableTimes.cs
  packages/Graph/Actions/Helpers/GroupEventsByDate.cs
  packages/Graph/Actions/User/FindMeetingTimes.cs
  packages/Graph/Models/CalendarSkillEventModel.cs
  skills/declarative/People/People/dialogs/GetCollaboratorsDialog/GetCollaboratorsDialog.dialog
  skills/declarative/People/People/dialogs/GetDirectReportsDialog/GetDirectReportsDialog.dialog
  skills/declarative/People/People/dialogs/GetPeersDialog/GetPeersDialog.dialog
  skills/declarative/People/People/dialogs/GetUserDialog/GetUserDialog.dialog
  skills/declarative/People/People/dialogs/ListDialog/ListDialog.dialog
Labels: PR: reviewed-approved, Area: Packages: Graph, Area: Generators: Enterprise People

#1329 fix: People list dialog error on interruption
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/ListDialog/ListDialog.dialog
  generators/generator-bot-enterprise-people/generators/app/templates/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
  skills/declarative/People/People/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/People/People/dialogs/ListDialog/language-generation/en-us/ListDialog.en-us.lg
Labels: PR: unreviewed, Area: Generators: Enterprise People

#1327 fix: fix functions package reference for 4.16 sdk
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
Labels: PR: unreviewed, Area: Generators: Adaptive
