Repository microsoft/botframework-components, pull requests merged in 2022-01, with the labels that each got.

#1287 feat: regex batching and prompt with timeout changes
  packages/Telephony/Actions/BatchFixedLengthInput.cs
  packages/Telephony/Actions/BatchRegexInput.cs
  packages/Telephony/Actions/BatchTerminationCharacterInput.cs
  packages/Telephony/Actions/TimeoutChoiceInput.cs
  packages/Telephony/Common/BotWithLookup.cs
  packages/Telephony/Common/IStateMatrix.cs
  packages/Telephony/Common/LatchingStateMatrix.cs
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.TimeoutChoiceInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.TimeoutChoiceInput.uischema
  packages/Telephony/TelephonyBotComponent.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_RegexBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_RegexHappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_InterruptionIgnoredForMaskedDigits.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionDisabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled_EventInterrupt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled_WithReprompt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
Labels: PR: partially-approved

#1289 chore: cherry-pick #1287
  packages/Telephony/Actions/BatchFixedLengthInput.cs
  packages/Telephony/Actions/BatchRegexInput.cs
  packages/Telephony/Actions/BatchTerminationCharacterInput.cs
  packages/Telephony/Actions/TimeoutChoiceInput.cs
  packages/Telephony/Common/BotWithLookup.cs
  packages/Telephony/Common/IStateMatrix.cs
  packages/Telephony/Common/LatchingStateMatrix.cs
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.BatchRegexInput.uischema
  packages/Telephony/Schemas/Microsoft.Telephony.TimeoutChoiceInput.schema
  packages/Telephony/Schemas/Microsoft.Telephony.TimeoutChoiceInput.uischema
  packages/Telephony/TelephonyBotComponent.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/BatchInputTests.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_RegexBaseScenario.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_RegexHappyPath.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_InterruptionIgnoredForMaskedDigits.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionDisabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled_EventInterrupt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Integration/BatchInputTests/BatchInput_Regex_WithTangent_InterruptionEnabled_WithReprompt.test.dialog
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
Labels: PR: partially-approved

#1293 fix: bug with globby not excluding files correctly
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  yarn.lock
Labels: PR: partially-approved, Area: Generators: Enterprise Assistant

#1294 chore: fixes bug with globby not excluding files correctly (#1293)
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  yarn.lock
Labels: PR: reviewed-approved, Area: Generators: Enterprise Assistant
