Repository microsoft/botframework-components, pull requests merged in 2022-10, with the labels that each got.

#1374 fix: [#1340] Calendar Skill - Marking an event tentative throws an error to the user
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/RespondToEventDialog/language-generation/en-us/RespondToEventDialog.en-us.lg
  packages/Graph/Models/CalendarSkillEventModel.cs
  skills/declarative/Calendar/Calendar/dialogs/RespondToEventDialog/RespondToEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/RespondToEventDialog/language-generation/en-us/RespondToEventDialog.en-us.lg
Labels: PR: reviewed-approved, Area: Packages: Graph, Area: Generators: Enterprise Calendar

#1371 fix: [#1338] Calendar Skill - Old adaptive card buttons trigger junk response
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetEventsDialog/GetEventsDialog.dialog
Labels: PR: reviewed-approved, Area: Generators: Enterprise Calendar

#1376 chore: Add Telephony FAQ with InputHint and Composer content
  packages/Telephony/FAQ.md
  packages/Telephony/images/1-add-aggregate-dtmf-input-node.png
  packages/Telephony/images/2-click-plus-button-add-speech-response.png
  packages/Telephony/images/3-add-speech-response-then-show-code.png
  packages/Telephony/images/4-add-new-line-in-code-editor.png
  packages/Telephony/images/5-add-ignoringSpeechInput.png
  packages/Telephony/images/6-WARNING-acceptingInput-in-response-editor.png
  packages/Telephony/images/7-correct-InputHint-in-Bot-responses.png
  packages/Telephony/images/tts_demo_app_ssml_config.png
Labels: PR: partially-approved
