Repository microsoft/botframework-components, pull requests merged in 2022-02, with the labels that each got.

#1297 fix: foreach bug in calendar for nested loop variables
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/CreateEventDialog/CreateEventDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/GetContactsDialog/GetContactsDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ListDialog/ListDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CancelEventDialog/CancelEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/CreateEventDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/CreateEventDialog/language-generation/en-us/CreateEventDialog.en-us.lg
  skills/declarative/Calendar/Calendar/dialogs/GetContactsDialog/GetContactsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/GetEventsDialog/GetEventsDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ListDialog/ListDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/UpdateEventDialog/UpdateEventDialog.dialog
Labels: PR: partially-approved, Area: Generators: Enterprise Calendar

#1298 chore: Update README.md
  generators/generator-bot-template-generator/README.md
Labels: PR: reviewed-approved

#1299 fix: make globby exclusion parameter explicit
  generators/generator-bot-adaptive/baseGenerator.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
Labels: PR: unreviewed, Area: Generators: Enterprise Assistant, Area: Generators: Adaptive

#1301 fix: make globby exclusion parameter explicit (#1299)
  generators/generator-bot-adaptive/baseGenerator.js
  generators/generator-bot-enterprise-assistant/generators/app/index.js
Labels: PR: partially-approved, Area: Generators: Enterprise Assistant, Area: Generators: Adaptive

#1302 fix: Update ResolveDateTimeDialog.dialog
  generators/generator-bot-enterprise-calendar/generators/app/templates/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
  skills/declarative/Calendar/Calendar/dialogs/ResolveDateTimeDialog/ResolveDateTimeDialog.dialog
Labels: PR: reviewed-approved, Area: Generators: Enterprise Calendar

#1288 chore: bump .NET SDK to 4.15.2, components to 1.2.1
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-core-assistant/generators/app/index.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/generators/app/index.js
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/generators/app/index.js
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/generators/app/index.js
  generators/generator-bot-enterprise-people/package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/HelpAndCancel/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  packages/Welcome/package.json
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: PR: partially-approved, Area: Packages: Adaptive Cards, Area: Packages: Graph, Area: Packages: Help & Cancel, Area: Packages: Teams, Area: Packages: Welcome, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Generators: Adaptive

#1303 fix: adjust glob function
  generators/generator-bot-adaptive/baseGenerator.js
Labels: PR: reviewed-approved, Area: Generators: Adaptive

#1304 fix: adjust glob function (#1303)
  generators/generator-bot-adaptive/baseGenerator.js
Labels: PR: partially-approved, Area: Generators: Adaptive

#1305 chore: bump enterprise assistant generator to 1.2.2
  generators/generator-bot-enterprise-assistant/package.json
Labels: PR: partially-approved, Area: Generators: Enterprise Assistant

#1307 chore: bump all generators to 1.2.2
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: PR: unreviewed, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People, Area: Generators: Adaptive

#1308 chore: explicitly reference published 1.2.2-rc0 for adaptive bot generator
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: PR: partially-approved, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People

#1310 chore: revert generator dependencies to point to 1.2.2
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  yarn.lock
Labels: PR: partially-approved, Area: Generators: Empty, Area: Generators: Core Language, Area: Generators: Core Assistant, Area: Generators: Enterprise Assistant, Area: Generators: Enterprise Calendar, Area: Generators: Enterprise People
