Repository microsoft/botframework-components, pull requests merged in 2022-12, with the labels that each got.

#1406 Added CQA package to labeler
  .github/labeler.yml
Labels: PR: unreviewed

#1407 Added CQA pipeline yaml
  build/yaml/pipelines/cqa.yml
Labels: PR: unreviewed

#1408 Temp labler disable
  .github/workflows/pr-maintenance.yml
Labels: PR: unreviewed

#1405 feat: CQA recognizers
  .gitignore
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/CustomQuestionAnswering/CustomQuestionAnsweringRecognizerBotComponent.cs
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/QuestionAnswering/CustomQuestionAnsweringRecognizer.cs
  packages/Recognizers/CustomQuestionAnswering/README.md
  packages/Recognizers/CustomQuestionAnswering/Schemas/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.schema
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: PR: unreviewed, Area: Packages: CQA

#1418 Telephony bump
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
Labels: PR: unreviewed

#1394 fix: Update the current turn count instead of MaxTurnCount in TimeoutChoiceInput
  packages/Telephony/Actions/TimeoutChoiceInput.cs
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/TimeoutChoiceInputTests.cs
Labels: PR: reviewed-approved

#1420 CQA Correctected key path
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
Labels: PR: unreviewed

#1422 CQA turned off project symbols
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
Labels: PR: unreviewed

#1423 CQA more pipeline project changes
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
Labels: PR: unreviewed

#1424 Updated DotNet publish pipeline steps
  build/yaml/templates/dotnet-package-steps.yml
Labels: PR: unreviewed

#1425 CQA switched to VersionPrefix in project file
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
Labels: PR: unreviewed

#1426 CQA Shortened $Kind value (pack error)
  packages/Recognizers/CustomQuestionAnswering/QuestionAnswering/CustomQuestionAnsweringRecognizer.cs
  packages/Recognizers/CustomQuestionAnswering/Schemas/Microsoft.CustomQuestionAnsweringRecognizer.schema
Labels: PR: unreviewed

#1427 CQA temp preview version
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
Labels: PR: unreviewed

#1403 chore: Update esrp tasks to v2 for Components pipelines
  build/yaml/templates/nuget-signing-steps.yml
Labels: PR: reviewed-approved, Area: DevOps

#1428 CQA readme and project link corrections
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/README.md
Labels: PR: unreviewed

#1429 docs: Update README for CQA Recognizer
  packages/Recognizers/CustomQuestionAnswering/README.md
Labels: PR: reviewed-approved

#1435 fix: Component Governance security vulnerability for System.Drawing.Common 4.7.0
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: PR: reviewed-approved
