Repository microsoft/botframework-components, pull requests merged in 2023-03, with the labels that each got.

#1465 feat: CLU recognizers
  packages/Microsoft.Bot.Components.sln
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluApplication.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluConstants.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluDelegatingHandler.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluExtensions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerBotComponent.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptions.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CluRecognizerOptionsBase.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/DefaultHttpClientFactory.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/CluApplicationTests.cs
  tests/unit/packages/Recognizers/dotnet/CluDelegatingHandlerTests.cs
  tests/unit/packages/Recognizers/dotnet/CluExtensionsTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsBaseTests.cs
  tests/unit/packages/Recognizers/dotnet/CluRecognizerOptionsTests.cs
  tests/unit/packages/Recognizers/dotnet/DefaultHttpClientFactoryTests.cs
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: PR: partially-approved

#1472 Added CLU recognizer pipeline
  build/yaml/pipelines/clu.yml
Labels: PR: unreviewed

#1473 CLU to SDK 4.19.3
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: PR: unreviewed

#1469 bump: Bumped SDK version
  build/yaml/templates/yarn-build-steps.yml
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
  generators/generator-bot-adaptive/test/dotnet-webapp.test.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/generators/app/index.js
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  package.json
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/HelpAndCancel/Microsoft.Bot.Components.HelpAndCancel.nuspec
  packages/Recognizers/CustomQuestionAnswering/dotnet/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Recognizers/CustomQuestionAnswering/dotnet/README.md
  packages/Recognizers/CustomQuestionAnswering/js/README.md
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Teams/js/package.json
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Welcome/Microsoft.Bot.Components.Welcome.nuspec
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/functional/Libraries/TranscriptConverter/TranscriptConverter.csproj
  tests/functional/Libraries/TranscriptTestRunner/TranscriptTestRunner.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/packages/Teams/js/package.json
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
  yarn.lock
Labels: PR: unreviewed

#1461 fix: [#1440, #1432] Component Governance security vulnerability for ejs 2.7.4, 3.1.6 and glob-parent 3.1.0
  generators/generator-bot-adaptive/package.json
  generators/generator-bot-core-assistant/package.json
  generators/generator-bot-core-language/package.json
  generators/generator-bot-empty/package.json
  generators/generator-bot-enterprise-assistant/package.json
  generators/generator-bot-enterprise-calendar/package.json
  generators/generator-bot-enterprise-people/package.json
  generators/generator-bot-template-generator/app/templates/package.json
  generators/generator-bot-template-generator/package.json
  yarn.lock
Labels: PR: reviewed-approved

#1460 fix: [#1431] Component Governance security vulnerability for @xmldom/xmldom 0.7.5
  yarn.lock
Labels: PR: unreviewed

#1474 fix: Corrected CLU test paths
  tests/unit/Microsoft.Bot.Components.Tests.sln
  tests/unit/packages/Recognizers/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.Tests.Unit.csproj
Labels: PR: unreviewed

#1475 Corrected CLU schema
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Schemas/Microsoft.CluRecognizer.schema
Labels: PR: unreviewed

#1476 Using 3.1.x and 6.0.x
  build/yaml/templates/dotnet-build-test-steps.yml
  build/yaml/templates/dotnet-package-steps.yml
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/Microsoft.Bot.Components.Recognizers.CLURecognizer.csproj
Labels: PR: unreviewed

#1477 Dropped netcoreapp2.1
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
Labels: PR: unreviewed

#1478 docs: Update Dotnet CLU Recognizer README
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: PR: unreviewed, Automation: No parity

#1481 fix: Components/Yarn assistance - yarn install error
  yarn.lock
Labels: PR: reviewed-approved

#1482 fix: Remove LUIS leftovers from CLU recognizer package and update Readme.
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluAdaptiveRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/CLU/CluMainRecognizer.cs
  packages/Recognizers/ConversationLanguageUnderstanding/dotnet/README.md
Labels: PR: reviewed-approved

#1484 bump: SDK to 4.19.3 (JS & C#)
  generators/generator-bot-adaptive/platforms.js
  generators/generator-bot-adaptive/test/js-functions.test.js
  generators/generator-bot-adaptive/test/js-webapp.test.js
  packages/Recognizers/CustomQuestionAnswering/js/package.json
  packages/Teams/js/package.json
  tests/unit/packages/Teams/js/package.json
  yarn.lock
Labels: PR: unreviewed
