Repository microsoft/botframework-components, pull requests merged in 2023-01, with the labels that each got.

#1448 fix: Two broken links in readme
  generators/generator-bot-adaptive/README.md
Labels: PR: partially-approved, bug

#1447 fix: Component Governance security vulnerability for tar 6.1.0
  package.json
  yarn.lock
Labels: PR: reviewed-approved, bug

#1443 fix: Component Governance security vulnerability for node-fetch 2.6.1
  package.json
  yarn.lock
Labels: PR: reviewed-approved, bug

#1438 fix: Component Gov vulnerability for follow-redirects < 1.14.7 and axios 0.21.1
  package.json
Labels: PR: unreviewed, bug

#1452 docs: add Preview-SerialNumberInput.md, clean and update Telephony Readme.md
  packages/AdaptiveCards/Microsoft.Bot.Components.AdaptiveCards.csproj
  packages/Graph/Microsoft.Bot.Components.Graph.csproj
  packages/Recognizers/CustomQuestionAnswering/Microsoft.Bot.Components.Recognizers.CustomQuestionAnsweringRecognizer.csproj
  packages/Teams/dotnet/Microsoft.Bot.Components.Teams.csproj
  packages/Telephony/Microsoft.Bot.Components.Telephony.csproj
  packages/Telephony/Preview-SerialNumberInput.md
  packages/Telephony/Readme.md
  packages/Telephony/images/preview/1-serialnumberinput-composer-configuration.png
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/People/People/People.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: PR: unreviewed

#1396 fix: [#1160] Generated bots can't run in dotnet 5.0 - Migrate Generators to NET6
  build/yaml/pipelines/generator-bot-adaptive.yml
  build/yaml/pipelines/generator-bot-core-assistant.yml
  build/yaml/pipelines/generator-bot-core-language.yml
  build/yaml/pipelines/generator-bot-empty.yml
  build/yaml/pipelines/generator-bot-enterprise-assistant.yml
  build/yaml/pipelines/generator-bot-enterprise-calendar.yml
  build/yaml/pipelines/generator-bot-enterprise-people.yml
  generators/generator-bot-adaptive/generators/app/index.js
  generators/generator-bot-adaptive/generators/app/templates/dotnet/functions/botName.csproj
  generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/botName.csproj
  generators/generator-bot-adaptive/test/dotnet-functions.test.js
Labels: PR: reviewed-approved, Area: DevOps, Area: Generators: Adaptive

#1397 fix: [#1160] Generated bots can't run in dotnet 5.0 - Migrate Skills to NET6
  build/yaml/pipelines/adaptivecards.yml
  build/yaml/pipelines/calendar.yml
  build/yaml/pipelines/graph.yml
  build/yaml/pipelines/helpandcancel.yml
  build/yaml/pipelines/people.yml
  build/yaml/pipelines/starter-pipeline.yml
  build/yaml/pipelines/teams-js.yml
  build/yaml/pipelines/teams.yml
  build/yaml/pipelines/telephony.yml
  build/yaml/pipelines/welcome.yml
  build/yaml/templates/dotnet-build-test-steps.yml
  skills/csharp/calendarskill/CalendarSkill.csproj
  skills/csharp/calendarskill/Deployment/Scripts/publish.ps1
  skills/csharp/emailskill/Deployment/Scripts/publish.ps1
  skills/csharp/emailskill/EmailSkill.csproj
  skills/csharp/pointofinterestskill/Deployment/Scripts/publish.ps1
  skills/csharp/pointofinterestskill/PointOfInterestSkill.csproj
  skills/csharp/shared/SkillServiceLibrary/SkillServiceLibrary.csproj
  skills/csharp/tests/SkillServiceLibrary.Fakes/SkillServiceLibrary.Fakes.csproj
  skills/csharp/tests/SkillServiceLibrary.Tests/SkillServiceLibrary.Tests.csproj
  skills/csharp/tests/automotiveskill.tests/AutomotiveSkill.Tests.csproj
  skills/csharp/tests/calendarskill.tests/CalendarSkill.Tests.csproj
  skills/csharp/tests/emailskill.tests/EmailSkill.Tests.csproj
  skills/csharp/tests/pointofinterestskill.tests/PointOfInterestSkill.Tests.csproj
  skills/csharp/tests/todoskill.tests/ToDoSkill.Tests.csproj
  skills/csharp/todoskill/Deployment/Scripts/publish.ps1
  skills/csharp/todoskill/ToDoSkill.csproj
  skills/declarative/Calendar/Calendar/Calendar.csproj
  skills/declarative/Calendar/Calendar/scripts/deploy.ps1
  skills/declarative/People/People/People.csproj
  tests/unit/packages/Microsoft.Bot.Components.Telephony.Tests/Microsoft.Bot.Components.Telephony.Tests.csproj
  tests/unit/packages/Teams/dotnet/Microsoft.Bot.Components.Teams.Tests.csproj
  tests/unit/skills/calendar/Microsoft.Bot.Dialogs.Tests.Skills.Calendar.csproj
  tests/unit/skills/common/Microsoft.Bot.Dialogs.Tests.Common.csproj
  tests/unit/skills/people/Microsoft.Bot.Dialogs.Tests.Skills.People.csproj
Labels: PR: reviewed-approved, Area: DevOps

#1398 fix: [#1160] Generated bots can't run in dotnet 5.0 - Migrate Experimental to NET6
  skills/csharp/experimental/automotiveskill/AutomotiveSkill.csproj
  skills/csharp/experimental/automotiveskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/bingsearchskill/BingSearchSkill.csproj
  skills/csharp/experimental/bingsearchskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/eventskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/eventskill/EventSkill.csproj
  skills/csharp/experimental/hospitalityskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/hospitalityskill/HospitalitySkill.csproj
  skills/csharp/experimental/itsmskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/itsmskill/ITSMSkill.csproj
  skills/csharp/experimental/musicskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/musicskill/MusicSkill.csproj
  skills/csharp/experimental/newsskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/newsskill/NewsSkill.csproj
  skills/csharp/experimental/phoneskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/phoneskill/PhoneSkill.csproj
  skills/csharp/experimental/restaurantbookingskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/restaurantbookingskill/RestaurantBookingSkill.csproj
  skills/csharp/experimental/weatherskill/Deployment/Scripts/publish.ps1
  skills/csharp/experimental/weatherskill/WeatherSkill.csproj
  skills/csharp/tests/hospitalityskill.tests/HospitalitySkill.Tests.csproj
  skills/csharp/tests/itsmskill.tests/ITSMSkill.Tests.csproj
  skills/csharp/tests/musicskill.Tests/MusicSkill.Tests.csproj
  skills/csharp/tests/phoneskill.tests/PhoneSkill.Tests.csproj
  skills/csharp/tests/weatherSkill.tests/WeatherSkill.Tests.csproj
Labels: PR: reviewed-approved
